<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<div class="row wrapper border-bottom white-bg" ng-controller="DsdfDatastoreDetailController">
	<div class="col-lg-12 dl-breadcrumb">
		<button class="btn btn-xs btn-primary pull-right" ng-click="goBack()">Go Back</button>
		<span class="pull-right">&nbsp;</span>
		<button class="btn btn-xs btn-default pull-right" ng-click="expandAllDlIbox()"><i class="fa fa-chevron-down"></i></button>
		<span class="pull-right">&nbsp;</span>
		<button class="btn btn-xs btn-default pull-right" ng-click="collapseAllDlIbox()"><i class="fa fa-chevron-up"></i></button>
		<ol class="breadcrumb">
			<li>
				<a ui-sref="home.overview">Home</a>
			</li>
			<li>
				<a>Data Landscape</a>
			</li>
			<li >
				<a ui-sref="dsdf.datastore_summary">Landscape Objects</a>
			</li>
			<li class="active">
				<strong>Landscape Object Detail</strong>
			</li>
		</ol>
	</div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="DsdfDatastoreDetailController" ng-init="initDsdfDatastoreDetail()">
	<div class="row">
		<div class="col-lg-12">
			<div id="ibox-core-details" class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Core Details</h5>
					<div dl-ibox-tools name="core_details" editable="{{perms.update}}" edit-fn="dlIboxEdit"
						 save-fn="dlIboxSave" cancel-fn="dlIboxCancel"></div>
				</div>
				<div class="ibox-content">
					<div class="row">
						<div class="col-lg-6 b-r">

							<form role="form">
								<div class="form-group">
									<label>Landscape Object Name</label>
									<input class="form-control" type="text" placeholder="Name of the object" ng-model="datastoreDetails.core_details.objectName" ng-disabled="coreDetailsDisabled" />
								</div>
								<div class="form-group">
									<label>Landscape Object Class</label>
									<input class="form-control" type="text" placeholder="Class of the object" ng-model="datastoreDetails.core_details.className" disabled />
								</div>
								<div class="form-group">
									<label>Short Description</label>
									<textarea placeholder="Short description of the object" class="form-control dl-shortdesc" ng-model="datastoreDetails.core_details.objectShortDesc" ng-disabled="coreDetailsDisabled" >
									</textarea>
								</div>
								<button type="button" class="btn btn-danger" ng-disabled="checkRbac('dsdf','delete')" ng-click="confirmDelete()" ng-hide="coreDetailsDisabled">
									Delete Landscape Object
								</button>
							</form>
						</div>
						<div class="col-lg-6">
							<form role="form">
								<!--
								<div class="form-group">
									<label>Hosted Realm</label>
									<input class="form-control" type="text" placeholder="Hosted realm of the data store" ng-model="datastoreDetails.core_details.hostedRealmName" disabled />
									<button class="btn btn-xs btn-primary m-t-xs" ng-click="showHostedRealmDialog()" ng-hide="coreDetailsDisabled">Change</button>
								</div>
								<div class="form-group">
									<label>Persistence Technology</label>
									<input type="text" placeholder="Persistence technology of the data store" class="form-control" ng-model="datastoreDetails.core_details.persistenceTechnologyName" disabled />
									<button class="btn btn-xs btn-primary m-t-xs" ng-click="showPersistenceTechnologyDialog()" ng-hide="coreDetailsDisabled">Change</button>
								</div>
								-->
								<div class="form-group">
									<label>Data Sensitivity</label>
									<button class="btn btn-xs btn-primary m-t-xs pull-right dl-table-hdr-btn" ng-hide="coreDetailsDisabled"
											ng-click="openDSassignMultiDialog()">Change Data Sensitivity</button>
									<p style="line-height: 180%;">
                                        <span class="dl-ds-tag m-r-xs" ng-class="dsTagDefn.cssClass" ng-repeat="dsTagDefn in dlDsTags">
                                            {{dsTagDefn.tagName}}
                                        </span>
									</p>
								</div>
								<div class="form-group">
									<label>Business Contact</label>
									<input class="form-control" type="text" placeholder="Business contact for the data store" ng-model="datastoreDetails.core_details.businessContact" ng-disabled="coreDetailsDisabled" />
								</div>
								<div class="form-group">
									<label>Technical Contact</label>
									<input type="text" placeholder="Technical contact for the data store" class="form-control" ng-model="datastoreDetails.core_details.technicalContact" ng-disabled="coreDetailsDisabled" />
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<div id="ibox-dataflow" class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Data Flows</h5>
					<div dl-ibox-tools name="datastore_dataflows" editable="false"></div>
				</div>
				<div class="ibox-content">
					<table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
						<thead>
						<tr>
							<th>Data Flow Name</th>
							<th>This Datastore Role</th>
							<th>Connected Data Store Name</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="row01 in gridData01">
							<td><a ng-click="clickThrough(row01.dataflow_id, row01.class_id, 0, 0,'default')">{{ row01.dataflow_name }}</a></td>
							<td>{{ row01.flow_direction_name }}</td>
							<td>{{ row01.connected_ntt_name }}</td>
						</tr>
						</tbody>
						<tfoot>
						<tr>
							<th>Data Flow Name</th>
							<th>This Datastore Role</th>
							<th>Connected Data Store Name</th>
						</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<div id="ibox-custom-form" class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Custom Form</h5>
					<div dl-ibox-tools name="custom_form" editable="{{perms.update}}" edit-fn="dlIboxEdit"
						 save-fn="dlIboxSave" cancel-fn="dlIboxCancel"></div>
				</div>
				<div class="ibox-content">
					<form disabled name="landscapeObjectCustomForm"
						  sf-model="customForm.formData"
						  sf-form="customForm.formDefinition"
						  sf-schema="customForm.schemaDefinition"
						  ng-submit="submitForm(landscapeObjectCustomForm,customForm.formData)"
						  sf-options="{ formDefaults: { ngModelOptions: { timezone: '+1100' } }}"
						  class="ng-cloak">
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<div id="ibox-diagrams" class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Diagrams</h5>
					<div dl-ibox-tools name="datastore_diagrams" editable="false"></div>
				</div>
				<div class="ibox-content">
					<table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
						<thead>
						<tr>
							<th>Diagram Name</th>
							<th>Diagram Class</th>
							<th>Diagram Description</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="row02 in gridData02">
							<td><a ng-click="clickThrough(row02.dgrm_id, row02.class_id, 0, 0,'default')">{{ row02.dgrm_name }}</a></td>
							<td>{{ row02.class_name }}</td>
							<td>{{ row02.dgrm_desc }}</td>
						</tr>
						</tbody>
						<tfoot>
						<tr>
							<th>Diagram Name</th>
							<th>Diagram Class</th>
							<th>Diagram Description</th>
						</tr>
						</tfoot>
					</table>

				</div>
			</div>
		</div>
	</div>

	<!-- Associated metadata objects -->
	<div class="row">
		<div class="col-lg-12">
			<div id="ibox-assoc" class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Associations</h5>
					<div dl-ibox-tools name="associations" editable="false"></div>
				</div>
				<div class="ibox-content">
					<button class="btn btn-xs btn-primary m-t-xs pull-right dl-table-hdr-btn" ng-disabled="checkRbac('dsdf', 'update')"
							ng-click="clickThrough(datastoreId, classId, 0, 0,'newAssoc')">Associate</button>
					<button class="btn btn-xs dl-btn-lineage m-t-xs pull-right dl-table-hdr-btn"
							ng-click="clickThrough(datastoreId, classId, 0, 0,'lineage')">Lineage</button>
					<table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
						<thead>
						<tr>
							<th>Associated Objects</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="assocObject in gridData03">
							<td>
								<div class="dl-assoc-summary">
									<span>{{ assocObject.verbPhrase }} </span>
									<span class="dl-md-context-label" uib-popover="class: {{assocContextNode.className}}" popover-trigger="mouseenter"
										  ng-repeat="assocContextNode in assocObject.mdContext">
                                        <span ng-click="clickThrough(assocContextNode.objectId, assocContextNode.classId, assocContextNode.parentObjectId, assocContextNode.parentClassId,'default')">
                                            {{assocContextNode.internalPath}}
                                        </span>&nbsp;
                                    </span>
									<span class="fa fa-list-alt pull-right assoc_detail" ng-click="clickThrough(assocObject.associationId, 0, 0, 0,'assocDetails')"></span>
									<div>{{assocObject.associationShortDesc}}</div>
								</div>
							</td>
						</tr>
						</tbody>
						<tfoot>
						<tr>
							<th>Associated Objects</th>
						</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>

</div>
