<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<div class="modal-header">
	<h3 class="modal-title">Add Landscape Object to Diagram</h3>
</div>
<div class="modal-body" ng-init="initNewLandscapeObjectCtrl()">
	<div class="tabs-container">
		<uib-tabset>
			<!-- select existing Landscape Object tab. This is currently disabled. The functionality is available only via the Landscape Object menu -->
			<!--<uib-tab index="1" active="activeTab.selectExisting" heading="Select Existing" ng-click="setActiveTab(1)">
				<div class="row">
					<div class="col-md-12">
						<br/>
						<div class="form-group">
							<div>
								<label for="existing_lo_name">Selected Landscape Object</label>
							</div>
							<div>
								<input id="existing_lo_name" name="existing_lo_name" class="form-control" ng-model="selectedLandscapeObject.objectName" disabled/>
							</div>
							<div ng-hide="validation.objectName">
								<span class="text-danger">Please enter an object name</span>
							</div>
						</div>

						<div>
							<label>Landscape Objects</label>
						</div>

						<table datatable="ng" dt-options="dtOptions02" class="table table-striped table-bordered table-hover dataTables-example">
							<thead>
							<tr>
								<th>Object Name</th>
								<th>Short Description</th>
							</tr>
							</thead>
							<tbody>
							<tr ng-repeat="row in landscapeObjectList">
								<td><a href="" ng-click="setSelectedLandscapeObject(row.datastore_id, row.class_id, row.datastore_name, row.datastore_shortdesc)"
									   ng-dblclick="setSelectedLandscapeObject(row.datastore_id, row.class_id, row.datastore_name, row.datastore_shortdesc); ok();">
									{{ row.datastore_name }}</a>
								</td>
								<td>{{ row.datastore_shortdesc }}</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</uib-tab> -->
			<!-- create new Landscape Object tab -->
			<uib-tab index="2" active="activeTab.createNew" heading="Create New" ng-click="setActiveTab(2)">
				<div class="row">
					<br/>
					<div class="col-md-12">
					<form method="POST" class="form-horizontal" name="newLandscapeObjectForm" novalidate>
						<div class="form-group col-md-12">
							<div>
								<label for="object_type">Landscape Object Type</label>
							</div>
							<div>
								<select id="object_type" name="object_type" class="form-control" ng-model="newLandscapeObjectDetails.objectType"
										ng-options="value.typeName for value in entityTypeList track by value.classId" required>
									<option value="" selected>&lt;select an object type&gt;</option>
								</select>
							</div>
							<div class="m-t-xs" ng-hide="validation.objectType">
								<small class="text-danger">Please select an object type</small>
							</div>

						</div>

						<div class="form-group col-md-12">
							<div>
								<label for="landscape_object_name">Landscape Object Name</label>
							</div>
							<div>
								<input id="landscape_object_name" name="landscape_object_name" type="text" class="form-control"
									   placeholder="Please enter a name for the data store" ng-model="newLandscapeObjectDetails.objectName" required />
							</div>
							<div ng-hide="validation.objectName">
								<span class="text-danger">Please enter an object name</span>
							</div>
						</div>

						<div class="form-group col-md-12">
							<div>
								<label for="datastore_desc">Landscape Object Description</label>
							</div>
							<div>
								<textarea id="datastore_desc" name="datastore_desc" class="form-control" ng-model="newLandscapeObjectDetails.description" placeholder="Please enter a description for the data store" required></textarea>
							</div>
						</div>
					</form>
					</div>
				</div>
			</uib-tab>
		</uib-tabset>
	</div>
</div>

<div class="modal-footer">
	<button class="btn btn-success btn-sm" type="button" ng-click="ok()">OK</button>
	<button class="btn btn-default btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>
