<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<div class="row wrapper border-bottom white-bg">
    <div class="col-lg-12 dl-breadcrumb">
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home.overview">Home</a>
            </li>
            <li>
                <a>Data Landscape</a>
            </li>
            <li class="active">
                <strong>Data Flows</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="DsdfDataflowController as ctrl" ng-init="ctrl.initDSDFdataflow()">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="row" style="padding-left: 14px; padding-bottom: 4px;">
                    <div class="btn-group" uib-dropdown>
                        <button type="button" class="btn btn-default btn-sm" ng-click="showNewDataFlowDialog()">
                            New Data Flow
                        </button>
                    </div>
                </div>

                <div class="ibox-content">

                    <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>Data Flow Name</th>
                            <th>Short Description</th>
                            <th>Origin</th>
                            <th>Target</th>
                            <th>Business Contact</th>
                            <th>Technical Contact</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in gridData">
                            <td><a ng-click="clickThrough(row.connectorId,row.classId)">{{ row.connectorName }}</a></td>
                            <td>{{ row.connectorShortDesc }}</td>
                            <td>{{ row.startEntityName }}</td>
                            <td>{{ row.endEntityName }}</td>
                            <td>{{ row.businessContactName }}</td>
                            <td>{{ row.technicalContactName }}</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Data Flow Name</th>
                            <th>Short Description</th>
                            <th>Origin</th>
                            <th>Target</th>
                            <th>Business Contact</th>
                            <th>Technical Contact</th>
                        </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
