<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<div class="modal-header">
	<h3 class="modal-title">New Landscape Object</h3>
</div>
<div class="modal-body" ng-init="initCreateLandscapeObject()">
	<form method="POST" class="form-horizontal" name="newDataStoreForm" novalidate>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group col-md-12">
					<div>
						<label for="object_type">Landscape Object Class</label>
					</div>
					<div>
						<select id="object_type" name="object_type" class="form-control" ng-model="newDataStoreDetails.objectType"
								ng-options="value.className for value in datastoreClassList track by value.classId" required>
							<option value="" selected>&lt;object class&gt;</option>
						</select>
					</div>
					<div class="m-t-xs" ng-hide="validation.objectType">
						<small class="text-danger">Please select a Landscape Object class</small>
					</div>
				</div>

				<div class="form-group col-md-12">
					<div>
						<label for="class_shortdesc">Landscape Object Class Definition</label>
					</div>
					<div>
						<textarea id="class_shortdesc" name="class_shortdesc" class="form-control dl-shortdesc"
							   ng-model="newDataStoreDetails.objectType.classShortDesc" disabled></textarea>
					</div>
				</div>

				<div class="form-group col-md-12">
					<div>
						<label for="datastore_name">Landscape Object Name</label>
					</div>
					<div>
						<input id="datastore_name" name="datastore_name" type="text" class="form-control"
							   placeholder="Please enter a name for the data store" ng-model="newDataStoreDetails.name" required />
					</div>
					<div ng-hide="validation.objectName">
						<span class="text-danger">Please enter an object name</span>
					</div>
				</div>

				<div class="form-group col-md-12">
					<div>
						<label for="datastore_desc">Landscape Object Description</label>
					</div>
					<div>
						<textarea id="datastore_desc" name="datastore_desc" class="form-control dl-shortdesc" ng-model="newDataStoreDetails.description"
								  placeholder="Please enter a description for the data store" required></textarea>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>

<div class="modal-footer">
	<button class="btn btn-success btn-sm" type="button" ng-click="ok()">OK</button>
	<button class="btn btn-default btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>
