<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<div class="modal-header">
    <h3 class="modal-title">Landscape Object Details</h3>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label for="datastore_type">Landscape Object Type</label>
                <input id="datastore_type" name="datastore_type_name" type="text" class="form-control" ng-model="datastoreSummary.className" disabled>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label for="datastore_name">Landscape Object Name</label>
                <input id="datastore_name" name="datastore_name" type="text" class="form-control" ng-model="datastoreSummary.objectName" disabled>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label for="datastore_shortdesc">Short Description</label>
                <textarea id="datastore_shortdesc" name="datastore_shortdesc" class="form-control dl-shortdesc" ng-model="datastoreSummary.objectShortDesc" disabled></textarea>
            </div>
        </div>
    </div>

<!-- TODO: Implement hosted realm feature in a consistent way
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="hosted_realm">Hosted Realm</label>
                <input id="hosted_realm" name="hosted_realm" class="form-control" type="text" ng-model="datastoreSummary.hr_name" disabled />
            </div>
        </div>
    </div>
-->

</div>

<div class="modal-footer">
    <button class="btn btn-success btn-sm" type="button" ng-click="showDatastoreFullDetails()" >Full Details</button>
    <button class="btn btn-default btn-sm" type="button" ng-click="cancel()">Close</button>
</div>
