<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<div ng-controller="DsdfReportController">
    <!-- This is the breadcrumb -->
    <div class="row wrapper border-bottom white-bg">
        <div class="col-lg-12 dl-breadcrumb">
            <button class="btn btn-xs btn-primary pull-right" ng-click="goBack()">Go Back</button>
            <span class="pull-right">&nbsp;</span>
            <button class="btn btn-xs btn-default pull-right" ng-click="expandAllDlIbox()"><i class="fa fa-chevron-down"></i></button>
            <span class="pull-right">&nbsp;</span>
            <button class="btn btn-xs btn-default pull-right" ng-click="collapseAllDlIbox()"><i class="fa fa-chevron-up"></i></button>
            <ol class="breadcrumb">
                <li>
                    <a ui-sref="home.overview">Home</a>
                </li>
                <li>
                    <a>Data Landscape</a>
                </li>
                <li>
                    <a>Reports</a>
                </li>
                <li class="active">
                    <strong>View</strong>
                </li>
            </ol>
        </div>
    </div>

    <!-- This is the main page -->
    <div class="wrapper wrapper-content animated fadeInRight" ng-init="initDsdfReportDetail()">
        <div class="pull-right">
            Report Name: {{report.reportName}}
        </div>
        <div class="tabs-container">
            <uib-tabset >
                <!-- this is the Content tab -->
                <uib-tab index="1" active="repActiveTab.content" heading="Report Content" ng-click="setActiveTab(1)">
                    <div class="ibox-content">
                        <table id="report" class="table table-striped table-bordered table-hover dataTables-example"></table>
                    </div>
                </uib-tab>
                <!-- this is the Details tab -->
                <uib-tab index="2" active="repActiveTab.details" heading="Report Details" ng-click="setActiveTab(2)">
                    <!-- These are the core details -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="ibox-core-details" class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Core Details</h5>
                                    <div dl-ibox-tools name="core_details"></div>
                                </div>
                                <div class="ibox-content">
                                    <div class="row">
                                        <div class="col-lg-6 b-r">

                                            <form role="form">
                                                <div class="form-group">
                                                    <label for="name">Report Name</label>
                                                    <input id="name" class="form-control" type="text" placeholder="Report Name" ng-model="report.reportName"/>
                                                </div>
                                                <div class="m-t-xs" ng-hide="validation.name">
                                                    <small class="text-danger">Please enter a name</small>
                                                </div>
                                                <div>
                                                    <button type="button" class="btn btn-danger" ng-click="confirmDelete()" ng-hide="editingDisabled.core" ng-disabled="checkRbac('dsdf','delete')">
                                                        Delete Report
                                                    </button>
                                                </div>
                                            </form>
                                        </div>

                                        <div class="col-lg-6">
                                            <form role="form">
                                                <div class="form-group">
                                                    <label for="desc">Short Description</label>
                                                    <textarea id="desc" placeholder="Report Short Description" class="form-control dl-shortdesc" ng-model="report.reportShortDesc"></textarea>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- This is the object filter -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="ibox-filters" class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Landscape Object Filters</h5>
                                    <div dl-ibox-tools name="report_filters"></div>
                                </div>
                                <div class="ibox-content">
                                    <div>
                                        <div>
                                            <label>Meta Data Object Class</label>
                                        </div>
                                        <div class="col-lg-5">
                                            <label for="unselected_classes">Currently unselected</label>
                                            <select id="unselected_classes" name="unselected_classes" class="form-control" ng-model="select.classLhs" multiple size="6" ng-options="value.typeName for value in unselectedClasses track by value.classId" required>
                                            </select>
                                        </div>

                                        <div class="col-lg-2">
                                            <div>
                                                <button class="btn btn-xs btn-default" ng-disabled="editingDisabled.filters" ng-click="selectClasses()"><i class="fa fa-chevron-right"></i></button>
                                            </div>
                                            <div>
                                                <button class="btn btn-xs btn-default" ng-disabled="editingDisabled.filters" ng-click="unselectClasses()"><i class="fa fa-chevron-left"></i></button>
                                            </div>
                                        </div>

                                        <div class="col-lg-5">
                                            <label for="selected_classes">Currently selected</label>
                                            <select id="selected_classes" name="selected_classes" class="form-control" ng-model="select.classRhs" multiple size="6" ng-options="value.typeName for value in selectedClasses track by value.classId" required>
                                            </select>
                                        </div>
                                        <div>
                                            <!-- This is to make the ibox stretch to the right height -->
                                            <label style="color: white">.</label>
                                            <div class="m-t-xs" ng-hide="validation.classes">
                                                <small class="text-danger">Please select at least one class</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- This is the column set -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="ibox-columns" class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Column Definition</h5>
                                    <div dl-ibox-tools name="report_columns"></div>
                                </div>
                                <div class="ibox-content">
                                    <div>
                                        <div>
                                            <label>Column Names</label>
                                        </div>
                                        <div class="col-lg-5">
                                            <label for="unselected_columns">Currently unselected</label>
                                            <select id="unselected_columns" name="unselected_columns" class="form-control" ng-model="select.columnLhs" multiple size="6" ng-options="value.columnName for value in unselectedColumns track by value.columnId" required>
                                            </select>
                                        </div>

                                        <div class="col-lg-2">
                                            <div>
                                                <button class="btn btn-xs btn-default" ng-disabled="editingDisabled.columns" ng-click="selectColumns()"><i class="fa fa-chevron-right"></i></button>
                                            </div>
                                            <div>
                                                <button class="btn btn-xs btn-default" ng-disabled="editingDisabled.columns" ng-click="unselectColumns()"><i class="fa fa-chevron-left"></i></button>
                                            </div>
                                        </div>
                                        `
                                        <div class="col-lg-5">
                                            <label for="selected_columns">Currently selected</label>
                                            <select id="selected_columns" name="selected_columns" class="form-control" ng-model="select.columnRhs" multiple size="6" ng-options="value.columnName for value in selectedColumns track by value.columnId" required>
                                            </select>
                                        </div>
                                        <div>
                                            <!-- This is to make the ibox stretch to the right height -->
                                            <label style="color: white">.</label>
                                            <div class="m-t-xs" ng-hide="validation.columns">
                                                <small class="text-danger">Please select at least one column</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>