<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<div class="modal-header">
	<h3 class="modal-title">New Data Flow</h3>
</div>
<div class="modal-body">
	<form method="POST" class="form-horizontal" name="newDataflowForm" novalidate>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group col-md-12">
					<div>
						<label for="dataflow_name">Data Flow Name</label>
					</div>
					<div>
						<input id="dataflow_name" name="dataflow_name" type="text" class="form-control" placeholder="Please enter a name for the data flow" ng-model="newDataflowDetails.dataflowName" required />
					</div>
					<div class="m-t-xs" ng-hide="validation.connectorName">
						<small class="text-danger">Please enter a data flow name</small>
					</div>
				</div>

				<div class="form-group col-md-12">
					<div>
						<label for="dataflow_desc">Data Flow Description</label>
					</div>
					<div>
						<textarea id="dataflow_desc" name="dataflow_desc" class="form-control dl-shortdesc" ng-model="newDataflowDetails.dataflowShortDesc" placeholder="Please enter a description for the data flow" required></textarea>
					</div>
				</div>

				<div>
					<label for="business_contact">Business Contact</label>
				</div>
				<div>
					<input id="business_contact" name="business_contact" type="text" class="form-control" placeholder="This feature is coming soon" ng-model="newDataflowDetails.businessContact" disabled />
				</div>

				<div>
					<label for="technical_contact">Technical Contact</label>
				</div>
				<div>
					<input id="technical_contact" name="technical_contact" type="text" class="form-control" placeholder="This feature is coming soon" ng-model="newDataflowDetails.technicalContact" disabled />
				</div>


			</div>
		</div>
	</form>
</div>

<div class="modal-footer">
	<button class="btn btn-success btn-sm" type="button" ng-click="ok()">OK</button>
	<button class="btn btn-default btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>
