<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<div ng-controller="dsdfDiagramController">
	<div class="row wrapper border-bottom white-bg">
		<div class="col-lg-12 dl-breadcrumb">
			<button class="btn btn-xs btn-primary pull-right" ng-click="goBack()">Go Back</button>
			<ol class="breadcrumb">
				<li>
					<a ui-sref="home.overview">Home</a>
				</li>
				<li>
					<a>Data Landscape</a>
				</li>
				<li>
					<a>Diagrams</a>
				</li>
				<li class="active">
					<strong>View</strong>
				</li>
			</ol>
		</div>
	</div>

	<div class="wrapper wrapper-content animated fadeIn">
		<div>
			<div class="row">
				<div class="col-lg-12">
					<div class="ibox">

						<div class="row" style="padding-left: 14px; padding-bottom: 4px;">
							<div class="btn-group" uib-dropdown>
								<button type="button" class="btn btn-default btn-sm" uib-dropdown-toggle>
									Diagram <span class="caret"></span>
								</button>
								<ul role="menu" uib-dropdown-menu="">
									<li><a href="" ng-click="createDiagram();">Create</a></li>
									<li><a href="" ng-click="openDiagram();">Open</a></li>
									<li><a href="" ng-click="checkClose();">Close</a></li>
									<li><a href="" ng-click="saveDiagram();">Save</a></li>
									<li><a href="" ng-click="confirmDelete();">Delete</a></li>
									<li class="divider"></li>
									<li role="menuitem"><a href="">Properties</a></li>
								</ul>
							</div>

							<div class="btn-group" uib-dropdown>
								<button type="button" class="btn btn-default btn-sm" uib-dropdown-toggle>
									Landscape Object <span class="caret"></span>
								</button>
								<ul role="menu" uib-dropdown-menu="">
									<li><a href="" ng-click="openDSformatter();">Format</a></li>
									<li><a href="" ng-click="setViewMode(2)" ng-show="viewMode != 2">Add/Remove Objects</a></li>
									<li><a href="" ng-click="setViewMode(1)" ng-show="viewMode == 2">Cancel Add/Remove Objects</a></li>
									<li><a href="" ng-click="setViewMode(3)" ng-show="viewMode != 3">Format Categories</a></li>
									<li><a href="" ng-click="setViewMode(1)" ng-show="viewMode == 3">Cancel Format Categories</a></li>
									<li class="divider"></li>
									<li><a href="" ng-click="processorDetailsSidebar = !processorDetailsSidebar;">Show Data Processors</a></li>
								</ul>
							</div>

							<div class="btn-group" uib-dropdown>
								<button type="button" class="btn btn-default btn-sm" uib-dropdown-toggle>
									Shape <span class="caret"></span>
								</button>
								<ul role="menu" uib-dropdown-menu="">
									<li><a href="" ng-click="openShapeFormatter();">Format</a></li>
									<li><a href="" ng-click="moveShapeFrontBack('front');">Move to front</a></li>
									<li><a href="" ng-click="moveShapeFrontBack('back');">Move to back</a></li>
									<li><a href="" ng-click="groupShapes();">Group</a></li>
									<li><a href="" ng-click="unGroupShapes();">Ungroup</a></li>
								</ul>
							</div>

							<button class="btn btn-default btn-sm" ng-class="{'btn-warning': dirtyCanvas}" ng-click="saveDsdfDiagram()"> Save </button>

							<button class="btn btn-default btn-sm" ng-click="processorDetailsSidebar = !processorDetailsSidebar;"> <i class="fa fa-newspaper-o"></i> </button>

							<button class="btn btn-sm btn-default" ng-click="zoomIn()"><span class="fa fa-search-plus"></span></button>
							<button class="btn btn-default btn-sm" ng-click="zoomReset()">1:1</button>
							<button class="btn btn-sm btn-default" ng-click="zoomOut()"><span class="fa fa-search-minus"></span></button>

							<div class="pull-right">
								Diagram Name: {{currentDiagram.name}}
							</div>
						</div>

						<div class="ibox">
							<div id="pdmcanvas" draw2d-canvas class="dl-d2d-canvas" ng-show="viewMode == 1" style="position: relative; background-color: #f3f3f4">
								<!-- this is the main canvas -->
							</div>
							<!-- this is the pallet that displays different shapes -->
							<div style="position: relative; top: -4000px; background-color: #f8f8f9; float: left; padding: 2px;" ng-show="palletSidebar">
								<svg ng-repeat="row in shapeTemplateList" class="dl-svg-pallet-icon"
									 viewBox="0,0,{{row.width}},{{row.height}}" fill="{{row.color}}" ng-click="selectTemplate(row.index)">
									<path d="{{ row.templateSvg }}"></path>
								</svg>
							</div>

							<!-- this is the panel that displays details about data processors -->
								<div style="position: relative; top: -4000px; width: 400px; background-color: #FFFFFF; float: right; padding: 10px;"
									 ng-show="processorDetailsSidebar && viewMode == 1">
									<table class="table table-striped table-bordered table-hover"
									style="width: 100%;">
										<tbody>
										<tr ng-repeat="row in currentDiagram.customData.processors">
											<td>
												<input type="checkbox" ng-model="row.show" ng-change="setProcessorIndicator(row)">
											</td>
											<td> <div class="dl-color-defn-sample" ng-style="row.colorDef" ng-click="selectProcessorColor(row)"></div> </td>
											<td>{{ row.name }}</td>
										</tr>
										</tbody>
									</table>
								</div>

						</div>

						<!-- this is the data landscape object selection grid -->
						<div id="dlo" class="ibox-content" ng-show="viewMode == 2">
							<div class="pull-right" ng-show="viewMode == 2">
								&nbsp;
								<button class="btn btn-success btn-sm" type="button" ng-click="updateSelectedObjects()">Update</button>
								&nbsp;
								<button class="btn btn-default btn-sm" type="button" ng-click="setViewMode(1)">Cancel</button>
							</div>

							<table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover">
								<thead>
								<tr>
									<th width="10">Selected</th>
									<th>Object Name</th>
									<th>Object Description</th>
									<th>Object Class</th>
								</tr>
								</thead>
								<tbody>
								<tr ng-repeat="row in allEntities">
									<td>
										<input type="checkbox" ng-checked="row.selected == 1" ng-true-value="1" ng-false-value="0" ng-model="row.selection_change">
									</td>
									<td>{{ row.object_name }}</td>
									<td>{{ row.object_shortdesc }}</td>
									<td>{{ row.class_name }}</td>
								</tr>
								</tbody>
								<tfoot>
								<tr>
									<th>Selected</th>
									<th>Object Name</th>
									<th>Object Description</th>
									<th>Object Class</th>
								</tr>
								</tfoot>
							</table>
						</div>

						<!-- this is the colour definition view -->
						<div id="col" class="ibox-content" ng-show="viewMode == 3">
							<div class="pull-right" ng-show="viewMode == 3">
								<button class="btn btn-success btn-sm" type="button" ng-click="wait(updateSelectedColorDefs)">Update</button>

								<button class="btn btn-default btn-sm" type="button" ng-click="setViewMode(1)">Cancel</button>
							</div>

							<table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover">
								<thead>
								<tr>
									<th>Selected</th>
									<th>Class Name</th>
									<th>Background Colour</th>
									<th>Icon Colour</th>
									<th></th>
								</tr>
								</thead>
								<tbody>
								<tr ng-repeat="row in colorDefList">
									<td>
										<input type="checkbox" ng-checked="row.defined" ng-model="row.defined">
									</td>
									<td>{{ row.typeName }}</td>
									<td>{{ row.bgColor }} <div class="dl-color-defn-sample" ng-style="row.bgSample" ng-show="row.defined"></div> </td>
									<td>{{ row.iconColor }} <div class="dl-color-defn-sample" ng-style="row.iconSample" ng-show="row.defined"></div> </td>
									<td><button class="btn btn-info btn-sm" type="button" ng-click="openDSformatter(row.classId)" ng-show="row.defined">Edit</button></td>
								</tr>
								</tbody>
								<tfoot>
								<tr>
									<th>Selected</th>
									<th>Class Name</th>
									<th>Background Colour</th>
									<th>Icon Colour</th>
									<th></th>
								</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
