<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<div class="modal-header">
    <h3 class="modal-title">Hosted Realm</h3>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label for="hosted_realm">Hosted Realm</label>
                <input id="hosted_realm" name="hosted_realm" class="form-control" type="text" ng-model="editHostedRealmName" disabled></input>
                <div class="dl-hier-select">
                    <treecontrol class="tree-light"
                                 tree-model="hostedRealmHierarchy"
                                 on-selection="setHostedRealm(node)">
                        {{node.label}}
                    </treecontrol>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal-footer">
    <button class="btn btn-success btn-sm" type="button" ng-click="updateHostedRealm()">Update</button>
    <button class="btn btn-default btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>
