<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<div class="modal-header">
    <h3 class="modal-title">Data Flow Details</h3>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label for="dataflow_name">Data Flow Name</label>
                <input id="dataflow_name" name="dataflow_name" type="text" class="form-control" ng-model="dataflowSummary.connectorName" disabled>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label for="dataflow_shortdesc">Short Description</label>
                <textarea id="dataflow_shortdesc" name="dataflow_shortdesc" class="form-control dl-shortdesc" ng-model="dataflowSummary.connectorShortDesc" disabled></textarea>
            </div>
        </div>
    </div>


</div>

<div class="modal-footer">
    <button class="btn btn-success btn-sm" type="button" ng-click="showDataflowFullDetails()" >Full Details</button>
    <button class="btn btn-default btn-sm" type="button" ng-click="cancel()">Close</button>
</div>
