<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<div class="row wrapper border-bottom white-bg" ng-controller="DsdfDataflowDetailController">
	<div class="col-lg-12 dl-breadcrumb">
		<button class="btn btn-xs btn-primary pull-right" ng-click="goBack()">Go Back</button>
		<span class="pull-right">&nbsp;</span>
		<button class="btn btn-xs btn-default pull-right" ng-click="expandAllDlIbox()"><i class="fa fa-chevron-down"></i></button>
		<span class="pull-right">&nbsp;</span>
		<button class="btn btn-xs btn-default pull-right" ng-click="collapseAllDlIbox()"><i class="fa fa-chevron-up"></i></button>
		<ol class="breadcrumb">
			<li>
				<a ui-sref="home.overview">Home</a>
			</li>
			<li>
				<a>Data Landscape</a>
			</li>
			<li >
				<a ui-sref="dsdf.dataflow_summary">Data Flows</a>
			</li>
			<li class="active">
				<strong>Data Flow Detail</strong>
			</li>
		</ol>
	</div>
	<div class="col-lg-2">

	</div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="DsdfDataflowDetailController" ng-init="initDsdfDataflowDetail()">

	<!-- Core details of the data flow -->
	<div class="row">
		<div class="col-lg-12">
			<div id="ibox-core-details" class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Core Details</h5>
					<div dl-ibox-tools name="core_details" editable="{{perms.update}}" edit-fn="dlIboxEdit"
						 save-fn="dlIboxSave" cancel-fn="dlIboxCancel"></div>
				</div>
				<div class="ibox-content">
					<div class="row">
						<div class="col-lg-6 b-r">

							<form role="form">
								<div class="form-group">
									<label>Data Flow Name</label>
									<input class="form-control" type="text" placeholder="Name of the data flow" ng-model="dataflowDetails.core_details.connectorName" ng-disabled="coreDetailsDisabled" />
								</div>
								<div class="form-group">
									<label>Short Description</label>
									<textarea placeholder="Short description of the data flow" class="form-control dl-shortdesc" ng-model="dataflowDetails.core_details.connectorShortDesc" ng-disabled="coreDetailsDisabled" >
									</textarea>
								</div>
								<button type="button" class="btn btn-danger" ng-disabled="checkRbac('dsdf','delete')" ng-click="confirmDelete()" ng-hide="coreDetailsDisabled">
									Delete Data Flow
								</button>
							</form>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<form role="form">
								<div class="form-group">
									<label>Origin Data Store</label>
									<a ng-click="clickThrough(dataflowDetails.core_details.startEntityId, dataflowDetails.core_details.startEntityClassId, 0, 0, 'default')"><label class="form-control" >{{dataflowDetails.core_details.startEntityName}}</label></a>
								</div>
								<div class="form-group">
									<label>Target Data Store</label>
									<a ng-click="clickThrough(dataflowDetails.core_details.startEntityId, dataflowDetails.core_details.startEntityClassId, 0, 0, 'default')"><label class="form-control" >{{dataflowDetails.core_details.endEntityName}}</label></a>
								</div>
							</form>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<form role="form">
								<div class="form-group">
									<label>Business Contact</label>
									<input class="form-control" type="text" placeholder="Business contact for the data flow" ng-model="dataflowDetails.core_details.businessContactName" ng-disabled="coreDetailsDisabled" />
								</div>
								<div class="form-group">
									<label>Technical Contact</label>
									<input type="text" placeholder="Technical contact for the data flow" class="form-control" ng-model="dataflowDetails.core_details.technicalContactName" ng-disabled="coreDetailsDisabled" />
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Diagrams in which the data flow appears -->
	<div class="row">
		<div class="col-lg-12">
			<div id="ibox-diagrams" class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Diagrams</h5>
					<div dl-ibox-tools name="dataflow_diagrams" editable="false"></div>
				</div>
				<div class="ibox-content">
					<table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
						<thead>
						<tr>
							<th>Diagram Name</th>
							<th>Diagram Class</th>
							<th>Diagram Description</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="row02 in gridData02">
							<td><a ng-click="clickThrough(row02.dgrm_id, row02.class_id, 0, 0, 'default')">{{ row02.dgrm_name }}</a></td>
							<td>{{ row02.class_name }}</td>
							<td>{{ row02.dgrm_desc }}</td>
						</tr>
						</tbody>
						<tfoot>
						<tr>
							<th>Diagram Name</th>
							<th>Diagram Class</th>
							<th>Diagram Description</th>
						</tr>
						</tfoot>
					</table>

				</div>
			</div>
		</div>
	</div>

	<!-- Associated metadata objects -->
	<div class="row">
		<div class="col-lg-12">
			<div id="ibox-assoc" class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Associations</h5>
					<div dl-ibox-tools name="associations" editable="false"></div>
				</div>
				<div class="ibox-content">
					<button class="btn btn-xs btn-primary m-t-xs pull-right dl-table-hdr-btn" ng-disabled="checkRbac('dsdf', 'update')"
							ng-click="clickThrough(dataflowId, classId, 0, 0, 'newAssoc')">Associate</button>
					<button class="btn btn-xs dl-btn-lineage m-t-xs pull-right dl-table-hdr-btn"
							ng-click="clickThrough(dataflowId, classId, 0, 0,'lineage')">Lineage</button>
					<table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
						<thead>
						<tr>
							<th>Associated Objects</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="assocObject in gridData03">
							<td>
								<div class="dl-assoc-summary">
									<span>{{ assocObject.verbPhrase }} </span>
									<span class="dl-md-context-label" uib-popover="class: {{assocContextNode.className}}" popover-trigger="mouseenter"
										  ng-repeat="assocContextNode in assocObject.mdContext">
                                        <span ng-click="clickThrough(assocContextNode.objectId, assocContextNode.classId, assocContextNode.parentObjectId, assocContextNode.parentClassId, 'default')">
                                            {{assocContextNode.internalPath}}
                                        </span>&nbsp;
                                    </span>
									<span class="fa fa-list-alt pull-right assoc_detail" ng-click="clickThrough(assocObject.associationId, 0, 0, 0, 'assocDetails')"></span>
									<div>{{assocObject.associationShortDesc}}</div>
								</div>
							</td>
						</tr>
						</tbody>
						<tfoot>
						<tr>
							<th>Associated Objects</th>
						</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>

	<!-- Full description -->
	<div class="row">
		<div class="col-lg-12">
			<div id="full-desc" class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Full Description</h5>
					<div dl-ibox-tools name="full_desc" editable="{{perms.update}}" edit-fn="dlIboxEdit"
						 save-fn="dlIboxSave" cancel-fn="dlIboxCancel"></div>
				</div>
				<div class="ibox-content">
					<div id="fullDescReadOnly" ng-hide="editFullDesc"></div>
					<div ng-show="editFullDesc">
						<summernote ng-model="dataflowDetails.core_details.dataflowFullDesc" editable="editable" ></summernote>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
