<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<div class="modal-header">
    <h3 class="modal-title">Associate SMD Database</h3>
</div>
<div class="modal-body" ng-init="initSMDdatabaseOverlay()">
    <form method="POST" class="form-horizontal" name="associateSMDdatabase" novalidate>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group col-md-12">
                    <div>
                        <label for="database_name">Selected Database Name</label>
                    </div>
                    <div>
                        <input id="database_name" name="database_name" class="form-control" ng-model="selectedSMDdatabase.databaseName" disabled/>
                    </div>
                </div>

                <div>
                    <label >Database List</label>
                </div>

                <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                    <thead>
                    <tr>
                        <th>Database Name</th>
                        <th>Database Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in smdDatabaseList">
                        <td><a href="" ng-click="setSelectedDatabase(row.smdDatabaseId, row.smdDatabaseName, row.smdDatabaseShortDesc)">{{ row.smdDatabaseName }}</a></td>
                        <td>{{ row.smdDatabaseShortDesc }}</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-success btn-sm" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-default btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>
