<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<div class="modal-header">
	<h3 class="modal-title">Format Data Processor</h3>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-6">
			<material-picker ng-model="colorValue" hover-model="hoverColor" format="'hex'" size="15" ng-click="syncColorSelection()"></material-picker>
			<input ng-model="colorValue" class="form-control dl-color-defn" ng-change="syncColorSelection()" />
		</div>
		<div class="col-md-6">
			<table class="dl-color-defn-layout">
				<tr>
					<td>Color</td>
					<td><div class="dl-color-defn-sample" ng-style="colorSample"></div></td>
				</tr>
			</table>
		</div>
	</div>
</div>

<div class="modal-footer">
	<button class="btn btn-success btn-sm" type="button" ng-click="ok()">OK</button>
	<button class="btn btn-default btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>
