<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<div class="modal-header">
	<h3 class="modal-title">Open DSDF Diagram</h3>
</div>
<div class="modal-body" ng-init="initOpenDiagram()">
	<form method="POST" class="form-horizontal" name="openDsdfDiagram" novalidate>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group col-md-12">
					<div>
						<label for="diagramName">Diagram Name</label>
					</div>
					<div ng-class="{'has-error' : newDataStoreForm.datastore_name.$invalid && formSubmitted}">
						<div>
							<select id="diagramName" name="diagramName" class="form-control" ng-model="selectedDiagram"
									ng-options="value.diagramName for value in diagramList track by value.diagramID" ng-change="setSelectedDiagram();" required>
								<option value="" selected>&lt;Please select a Diagram&gt;</option>
							</select>

							<input id="diagramID" name="diagramID" type="hidden" ng-model="diagramList.diagramID"/>
						</div>
						<div ng-show="openDsdfDiagram.diagramName.$invalid && formSubmitted">
							<span class="help-block">You must select a diagram</span>
						</div>
					</div>
				</div>

				<div class="form-group col-md-12">
					<div>
						<label for="diagramDesc">Diagram Description</label>
					</div>
					<div>
						<div>
							<textarea id="diagramDesc" name="diagramDesc" class="form-control" ng-model="setSelectedDiagram.DiagramDesc"></textarea>
						</div>
					</div>    
				</div>
			</div>
		</div>
	</form>
</div>

<div class="modal-footer">
	<button class="btn btn-success btn-sm" type="button" ng-click="ok()">OK</button>
	<button class="btn btn-default btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>
