<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<div class="modal-header">
    <h3 class="modal-title">Change Password</h3>
</div>
<div class="modal-body">
    <form method="POST" class="form-horizontal" name="changePassword" novalidate>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group col-md-12">
                    <div>
                        <label for="currentPassword">Current Password</label>
                    </div>
                    <div>
                        <div>
                            <input type="password" id="currentPassword" name="currentPassword" class="form-control" ng-model="userPasswordChange.currentPassword" />
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div>
                        <label for="newPassword">New Password</label>
                    </div>
                    <div>
                        <div>
                            <input type="password" id="newPassword" name="newPassword" class="form-control" ng-model="userPasswordChange.newPassword" />
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div>
                        <label for="repeatNewPassword">Repeat New Password</label>
                    </div>
                    <div>
                        <div>
                            <input type="password" id="repeatNewPassword" name="repeatNewPassword" class="form-control" ng-model="userPasswordChange.repeatNewPassword" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-success btn-sm" type="button" ng-click="save()">Save</button>
    <button class="btn btn-default btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>