<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<div class="modal-header">
    <h3 class="modal-title">New {{dmDiagramClass.className}} Diagram</h3>
</div>
<div class="modal-body"\>
    <form method="POST" class="form-horizontal" name="createDmDiagram" novalidate>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group col-md-12">
                    <div>
                        <label for="diagram_name">Diagram Name</label>
                    </div>
                    <div>
                        <input id="diagram_name" name="diagramName" class="form-control" ng-model="newDiagram.diagramName"/>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div>
                        <label for="diagram_desc">Diagram Description</label>
                    </div>
                    <div>
                        <div>
                            <textarea id="diagram_desc" name="diagramShortDesc" class="form-control dl-shortdesc" ng-model="newDiagram.diagramShortDesc"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-success btn-sm" type="button" ng-click="create()">Create</button>
    <button class="btn btn-default btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>