<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<div class="modal-header">
    <h3 class="modal-title">Select Ontology List</h3>
</div>
<div class="modal-body" ng-init="initSelectOntologyList()">
    <form method="POST" class="form-horizontal" name="openDmDiagram" novalidate>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group col-md-12">
                    <div>
                        <label for="ontology_list_name">Selected Ontology List</label>
                    </div>
                    <div>
                        <input id="ontology_list_name" name="ontology_list_name" class="form-control" ng-model="selectedOntologyList.listCdgName" disabled/>
                    </div>
                </div>

                <div>
                    <label>Ontology Lists</label>
                </div>

                <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                    <thead>
                    <tr>
                        <th>Ontology List Name</th>
                        <th>Short Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in ontologyLists">
                        <td><a href="" ng-click="setSelectedOntologyList(row.listCdgId, row.classId, row.listCdgName)"
                               ng-dblclick="setSelectedOntologyList(row.listCdgId, row.classId, row.listCdgName); ok();">{{ row.listCdgName }}</a></td>
                        <td>{{ row.listCdgShortDesc }}</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-success btn-sm" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-default btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>
