<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<!--
Description: modal dialog for selecting one or more data sensitivity tags for a non-end node md_objects.
-->
<div class="modal-header">
    <h3 class="modal-title">Select One or More Data Sensitivity Tags</h3>
</div>
<div class="modal-body" ng-init="initAssignDataSensitivityMulti()">
    <form method="POST" class="form-horizontal" name="selectDataSensitivity" novalidate>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group col-md-12">
                    <div>
                        <label>Data Sensitivity Tags</label>
                    </div>
                    <table style="border-collapse: separate; border-spacing:0 6px;">
                        <tr ng-repeat="dsTag in dataSensitivityTagList">
                            <td>
                                <input type="checkbox" id="dsTag.dlDsName" name="ds_tag_list" value="dsTag.dlDsTagId"
                                       ng-click="updateDsTagSelection(dsTag)" ng-checked="dsTag.selected" ng-disabled="dsTag.createMode == '20'">
                            </td>
                            <td>
                                <span class="dl-ds-tag m-l-sm m-r-xs" ng-class="getDsCssClass(dsTag.dlDsLevel)">{{dsTag.dlDsName}}</span>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-success btn-sm" type="button" ng-click="assign()">Assign</button>
    <button class="btn btn-default btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>