<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<div class="modal-header">
    <h3 class="modal-title">Confirm Delete</h3>
</div>
<div class="modal-body">
    <form method="POST" class="form-horizontal" name="deleteConfirmation" novalidate>
        <div class="row">
            <div class="col-md-12">
                <i class="fa fa-warning dl-alert_icon"></i>
            </div>
            <div class="col-md-12">
                <span>
                    Are you sure you want to delete the selected metadata object?<br/>
                    All objects that are children of the selected metadata object will also be deleted!
                </span>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-danger btn-sm" type="button" ng-click="deleteConfirmed()">Yes</button>
    <button class="btn btn-default btn-sm" type="button" ng-click="cancel()">No</button>
</div>