<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<!-- This is the breadcrumb -->
<div class="row wrapper border-bottom white-bg" ng-controller="DataSensitivityFullReportController">
    <div class="col-lg-12 dl-breadcrumb">
        <button class="btn btn-xs btn-primary pull-right" ng-click="goBack()">Go Back</button>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home.overview">Home</a>
            </li>
            <li>
                <a>Business Ontology</a>
            </li>
            <li>
                <a>Data Sensitivity</a>
            </li>
            <li class="active">
                <strong>Data Sensitivity Full Report</strong>
            </li>
        </ol>
    </div>
</div>

<!-- This is the main page -->
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="DataSensitivityFullReportController" ng-init="initDataSensitivityFullReport()">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Data Sensitivity Full Report</h5>
                </div>

                <div class="ibox-content">
                    <br/>
                    <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>Class Name</th>
                            <th>Object Name</th>
                            <th>Metadata Context</th>
                            <th>Data Sensitivity</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in fullDataSensitivityReport">
                            <td>{{row.className}}</td>
                            <td>{{row.objectName}}</td>
                            <td>
                                <span class="dl-md-context-label" uib-popover="class: {{mdContextNode.className}}" popover-trigger="mouseenter"
                                      ng-repeat="mdContextNode in row.mdContext">
                                    <span ng-click="clickThrough(mdContextNode.objectId, mdContextNode.classId, mdContextNode.parentObjectId, mdContextNode.parentClassId)">
                                        {{mdContextNode.internalPath}}</span>&nbsp;
                                </span>
                            </td>
                            <td>
                                <span class="dl-ds-tag m-r-xs" ng-class="getDataSensitivityCssClass(row.dsTag.dlDsLevel)">
                                  {{row.dsTag.dlDsName}}
                                </span>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Class Name</th>
                            <th>Object Name</th>
                            <th>Metadata Context</th>
                            <th>Data Sensitivity</th>
                        </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>