<div class="ibox-tools" uib-dropdown>
    <a ng-click="dlIboxToolsShowhide()"> <i class="fa fa-chevron-up"></i></a>
    <div style="display: inline;" ng-show="dlIboxToolsEditable">
        <a ng-click="dlIboxToolsEdit()" ng-show="dlIboxToolsShowEditIcon">
            <i class="fa fa-edit"></i>
        </a>
        <a ng-click="dlIboxToolsSave()" ng-hide="dlIboxToolsShowEditIcon">
            <i class="fa fa-check"></i>
        </a>
        <a ng-click="dlIboxToolsCancel()" ng-hide="dlIboxToolsShowEditIcon">
            <i class="fa fa-times"></i>
        </a>
    </div>
</div>