<div class="modal-header">
    <h3 class="modal-title">New List Element</h3>
</div>
<div class="modal-body">
    <form method="POST" class="form-horizontal" name="createListCdgElement" novalidate>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group col-md-12">
                    <div>
                        <label for="element_name">Element Name</label>
                    </div>
                    <div>
                        <input id="element_name" name="elementName" class="form-control" ng-model="newElement.name" required/>
                    </div>
                    <div class="m-t-xs" ng-hide="validation.elementName">
                        <small class="text-danger">Please input an element name</small>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div>
                        <label for="element_desc">Element Description</label>
                    </div>
                    <div>
                        <div>
                            <textarea id="element_desc" name="elementDesc" class="form-control" ng-model="newElement.desc"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-success btn-sm" type="submit" ng-click="create()">Create</button>
    <button class="btn btn-default btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>
