<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<div class="row wrapper border-bottom white-bg" ng-controller="listCdgSummaryController">
    <div class="col-lg-12 dl-breadcrumb">
        <button class="btn btn-xs btn-primary pull-right" ng-click="goBack()">Go Back</button>
        <span class="pull-right">&nbsp;</span>
        <button class="btn btn-xs btn-default pull-right" ng-click="expandAllDlIbox()"><i class="fa fa-chevron-down"></i></button>
        <span class="pull-right">&nbsp;</span>
        <button class="btn btn-xs btn-default pull-right" ng-click="collapseAllDlIbox()"><i class="fa fa-chevron-up"></i></button>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home.overview">Home</a>
            </li>
            <li>
                <a ui-sref="datamodels.msg_fmt">Lists</a>
            </li>
            <li class="active">
                <strong>Summary</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="listCdgSummaryController" ng-init="initListSummary()">
    <div class="row">
        <div class="col-lg-12">
            <div id="ibox-core-details" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Core Details</h5>
                    <div dl-ibox-tools name="core_details" editable="{{perms.update}}" edit-fn="dlIboxEdit"
                         save-fn="dlIboxSave" cancel-fn="dlIboxCancel"></div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-6 b-r">

                            <form role="form">
                                <div class="form-group">
                                    <label>List Name</label>
                                    <input class="form-control" type="text" placeholder="Name of the list" ng-model="listSummary.listCdgName" ng-disabled="disable.coreDetails" />
                                </div>
                                <div class="form-group">
                                    <label>List Class</label>
                                    <input class="form-control" type="text" placeholder="Metadata Class of the list" ng-model="listSummary.className" disabled />
                                </div>
                                <button type="button" class="btn btn-danger" ng-disabled="checkRbac('ont','delete')" ng-click="confirmDelete()" ng-hide="disable.coreDetails">
                                    Delete List
                                </button>
                            </form>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Short Description</label>
                                <textarea placeholder="Short description of the list" class="form-control dl-shortdesc" ng-model="listSummary.listCdgShortDesc" ng-disabled="disable.coreDetails" >
									</textarea>
                            </div>
                            <form role="form">
                                <button type="button" class="btn btn-sm btn-success" ng-click="clickThrough();">
                                    Show List Details
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div id="ibox-smddbs" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Associations</h5>
                    <div dl-ibox-tools name="associations" editable="{{perms.update}}" edit-fn="dlIboxEdit"
                         save-fn="dlIboxSave" cancel-fn="dlIboxCancel"></div>
                </div>
                <div class="ibox-content">
                    <button class="btn btn-xs btn-primary m-t-xs pull-right dl-table-hdr-btn" ng-hide="disable.associations"
                            ng-click="newAssociation()">Associate</button>
                    <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>Associated Object & Association Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row2 in associatedObjects">
                            <td>
                                <span>{{ row2.verbPhrase }} </span>
                                <span class="dl-md-context-label" uib-popover="class: {{contextNode.className}}" popover-trigger="mouseenter"
                                      ng-repeat="contextNode in row2.mdContext">
                                    <span ng-click="clickThrough(contextNode.objectId, contextNode.classId, contextNode.parentObjectId, contextNode.parentClassId, {})">
                                        {{contextNode.internalPath}}</span>&nbsp;
                                    </span>
                                <div>{{row2.associationShortDesc}}</div>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Associated Object & Association Description</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
