<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<!-- This is the breadcrumb -->
<div ng-controller="ListCdgDetailController">

    <div class="row wrapper border-bottom white-bg">
        <div class="col-lg-12 dl-breadcrumb">
            <button class="btn btn-xs btn-primary pull-right" ng-click="goBack()">Go Back</button>
            <ol class="breadcrumb">
                <li>
                    <a ui-sref="home.overview">Home</a>
                </li>
                <li>
                    Ontology
                </li>
                <li>
                    <a ui-sref="taxonomies.list_cdg_list">Lists</a>
                </li>
                <li class="active">
                    <strong>Detail</strong>
                </li>
            </ol>
        </div>
    </div>

    <!-- This is the main page -->
    <div class="wrapper wrapper-content animated fadeInRight" ng-init="initListCdgDetail()">
        <div class="row">
            <div class="col-md-5">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>
                            List : {{list_cdg_summary.listCdgName}}
                        </h5>
                    </div>
                    <div class="ibox-content" ng-class="spinnerLoading"> <!-- list views -->
                        <div class="sk-spinner sk-spinner-wave">
                            <div class="sk-rect1"></div>
                            <div class="sk-rect2"></div>
                            <div class="sk-rect3"></div>
                            <div class="sk-rect4"></div>
                            <div class="sk-rect5"></div>
                        </div>
                        <div class="tabs-container">
                            <uib-tabset>
                                <!-- The List View Tab -->
                                <uib-tab heading="List View">
                                    <div class="dl-list-cdg-menu">
                                        <button class="btn btn-xs btn-default" ng-disabled="checkRbac('ont','update')" ng-click="initiateNewElement()"><span class="fa fa-plus"></span></button>
                                        <div class="btn-group" uib-dropdown>
                                            <button type="button" class="btn btn-xs btn-default" uib-dropdown-toggle>
                                                More <span class="caret"></span>
                                            </button>
                                            <ul role="menu" uib-dropdown-menu="">
                                                <li>
                                                    <a href="" ng-click="toggleAbbreviation()">
                                                        Abbreviation <span class="bg-muted p-w-xs" ng-show="config.abbreviation == 0">Off</span> <span class="bg-primary p-w-xs" ng-show="config.abbreviation != 0">On</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                                        <thead>
                                        <tr>
                                            <th>Element Name</th>
                                            <th>Element Short Description</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="element in listCdgElements">
                                            <td>
                                                <span class="dl-list-element-name" ng-class="{'dl-list-element-selected': element.elementSelected == 1}"
                                                      ng-click="showElementDetails(element, 1)">{{ element.elementName }}</span>
                                            </td>
                                            <td>
                                                {{ element.elementShortDesc}}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </uib-tab>
                                <!-- The Description Tab -->
                                <uib-tab heading="Description">

                                </uib-tab>

                                <uib-tab heading="More"> <!-- more view -->
                                    <br/>
                                    <button type="button" class="btn btn-default btn-sm" ng-click="clickThrough(invocationParams.parentObjectId, invocationParams.parentClassId, 0, 0, 'fullAssoc')" disabled>
                                        Full Association View
                                    </button>
                                    <br/>
                                    <br/>
                                    <button type="button" class="btn btn-default btn-sm" ng-disabled="checkRbac('ont','update')" ng-click="openSelectCustomFormWarningDialog()">
                                        Select Custom Form
                                    </button>
                                    <span class="m-l-md">Current Custom Form: {{customForm.customFormName}}</span>
                                    <br/>
                                    <br/>
                                    <button type="button" class="btn btn-danger btn-sm" ng-disabled="checkRbac('ont','delete')" ng-click="confirmDelete(true)">
                                        Delete List
                                    </button>

                                </uib-tab>
                            </uib-tabset>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>
                            List Element Details : {{selectedElementDisplay.elementName}}
                        </h5>
                    </div>
                    <div class="ibox-content"> <!-- element detail views -->
                        <div class="tabs-container">
                            <uib-tabset >
                                <!-- this is the Attributes (core details) tab -->
                                <uib-tab index="1" active="ledActiveTab.attributes" heading="Attributes" ng-click="setActiveTab(1)">
                                    <div class="ibox">
                                        <br/>
                                        <div ng-hide="checkRbac('ont','update')">
                                            <a ng-click="dlIboxParentEdit('led')" class="pull-right dl-edit-btn" ng-show="ledEditingDisabled">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a ng-click="dlIboxParentCancel('led')" class="pull-right dl-edit-btn" ng-hide="ledEditingDisabled">
                                                <i class="fa fa-times"></i>
                                            </a>
                                            <a ng-click="dlIboxParentSave('led')" class="pull-right dl-edit-btn" ng-hide="ledEditingDisabled">
                                                <i class="fa fa-check"></i>
                                            </a>
                                        </div>
                                        <form role="form">
                                            <div class="form-group">
                                                <label for="ledName">Element Name</label>
                                                <input id="ledName" class="form-control" type="text" placeholder="List element name"
                                                       ng-model="selectedElementDisplay.elementName" ng-disabled="ledEditingDisabled" />
                                            </div>
                                            <div class="form-group">
                                                <label for="ledDesc">Element Description</label>
                                                <textarea id="ledDesc" class="form-control dl-shortdesc" placeholder="List element description"
                                                          ng-model="selectedElementDisplay.elementShortDesc" ng-disabled="ledEditingDisabled" >
                                                </textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="ledGuid">Element GUID</label>
                                                <input id="ledGuid" class="form-control" type="text" placeholder="List element GUID"
                                                       ng-model="selectedElementDisplay.elementGUID" disabled />
                                            </div>
                                            <div class="form-group">
                                                <label>Full Description</label>
                                                <div id="fullDescReadOnly" class="dl-full-desc-ro" ng-hide="editFullDesc"></div>
                                                <div ng-show="editFullDesc">
                                                    <summernote ng-model="fullDesc.text" editable="editable" ></summernote>
                                                </div>

                                            </div>
                                        </form>
                                    </div>
                                </uib-tab>
                                <!-- this is the Associations tab -->
                                <uib-tab index="2" active="ledActiveTab.associations" heading="Associations ({{selectedElementAssociations.length}})" ng-click="setActiveTab(2)">
                                    <div class="ibox">
                                        <br/>
                                        <button class="btn btn-xs btn-primary m-t-xs pull-right dl-table-hdr-btn" ng-disabled="checkRbac('ont','update') || !checkElementSelected(true)"
                                                ng-click="clickThrough(selectedElement.elementId, selectedElement.classId, listCdgId, classId, 'newAssoc')">Associate</button>
                                        <button class="btn btn-xs dl-btn-lineage m-t-xs pull-right dl-table-hdr-btn" ng-disabled="!checkElementSelected(true)"
                                                ng-click="clickThrough(selectedElement.elementId, selectedElement.classId, 0, 0, 'lineage')">Lineage</button>
                                        <table datatable="ng" dt-options="dtOptions02" class="table table-striped table-bordered table-hover dataTables-example">
                                            <thead>
                                            <tr>
                                                <th>Associated Object & Association Description</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="row2 in selectedElementAssociations">
                                                <td>
                                                    <span>{{ row2.verbPhrase }} </span>
                                                    <span class="dl-md-context-label" uib-popover="class: {{contextNode.className}}" popover-trigger="mouseenter"
                                                          ng-repeat="contextNode in row2.mdContext">
                                                    <span ng-click="clickThrough(contextNode.objectId, contextNode.classId, contextNode.parentObjectId, contextNode.parentClassId, 'default')">
                                                        {{contextNode.internalPath}}</span>&nbsp;
                                                    </span>
                                                    <span class="fa fa-list-alt pull-right assoc_detail" ng-click="clickThrough(row2.associationId, 0, 0, 0, 'assocDetails')"></span>                                                    <div>{{row2.associationShortDesc}}</div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </uib-tab>
                                <!-- this is the Comments tab -->
                                <uib-tab index="3" active="ledActiveTab.comments" heading="Comments ({{comment.commentList.length}})" ng-click="setActiveTab(3)">
                                        <div class="ibox">
                                        <div class="dl-taxo-btn-set">
                                            <button class="btn btn-xs btn-default" ng-show="comment.commentPanelHidden" ng-disabled="!checkElementSelected(true)" ng-click="toggleCommentPanel()">Comment</button>
                                        </div>
                                        <div uib-collapse="comment.commentPanelHidden">
                                            <form role="form">
                                                <div class="form-group">
                                        <textarea class="form-control dl-shortdesc" placeholder="Enter comment text here"
                                                  ng-model="comment.newCommentText" >
                                        </textarea>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="dl-taxo-btn-set">
                                            <button class="btn btn-xs btn-success" ng-hide="comment.commentPanelHidden" ng-click="saveComment()">Save</button>
                                            <button class="btn btn-xs btn-default" ng-hide="comment.commentPanelHidden" ng-click="cancelComment()">Cancel</button>
                                        </div>

                                        <table class="dl-taxo-comment-container">
                                            <tr ng-repeat="commentDisplay in comment.commentList">
                                                <td>
                                                    <div class="dl-taxo-comment">
                                                        <div>{{commentDisplay.commentText}}</div>
                                                        <div>
                                                            <span class="dl-taxo-comment-meta">{{commentDisplay.commentDateTime}}</span>
                                                            <span class="dl-taxo-comment-meta">{{commentDisplay.username}}</span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>

                                    </div>
                                </uib-tab>
                                <!-- this is the Custom Form tab -->
                                <uib-tab index="4" active="ledActiveTab.customform" heading="Custom Form" ng-click="setActiveTab(4)">
                                    <div ng-hide="checkRbac('ont','update')">
                                        <a ng-click="dlIboxParentEdit('cfrm')" class="pull-right dl-edit-btn" ng-show="cfrmEditingDisabled">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a ng-click="dlIboxParentCancel('cfrm')" class="pull-right dl-edit-btn" ng-hide="cfrmEditingDisabled">
                                            <i class="fa fa-times"></i>
                                        </a>
                                        <a ng-click="dlIboxParentSave('cfrm')" class="pull-right dl-edit-btn" ng-hide="cfrmEditingDisabled">
                                            <i class="fa fa-check"></i>
                                        </a>
                                    </div>
                                    <br/>
                                    <div class="m-t-sm">    <!-- ibox not required here because of schemaform inbuilt layout -->
                                        <form disabled name="listCdgCustomForm"
                                              sf-model="customForm.formData"
                                              sf-form="customForm.formDefinition"
                                              sf-schema="customForm.schemaDefinition"
                                              ng-submit="submitForm(listCdgCustomForm,customForm.formData)"
                                              sf-options="{ formDefaults: { ngModelOptions: { timezone: '+1100' } }}"
                                              class="ng-cloak">
                                        </form>
                                    </div>
                                </uib-tab>

                                <!-- this is the More tab -->
                                <uib-tab index="5" active="ledActiveTab.more" heading="More" ng-click="setActiveTab(5)">
                                    <div class="ibox">
                                        <div class="p-xs">
                                            <button class="btn btn-danger btn-sm" ng-disabled="checkRbac('ont','update') || !checkElementSelected(true)" ng-click="confirmDelete(false)">Delete Element</button>
                                        </div>

                                    </div>
                                </uib-tab>
                            </uib-tabset>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>







