<!-- This is the breadcrumb -->
<div class="row wrapper border-bottom white-bg" >
    <div class="col-lg-12 dl-breadcrumb">
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home.overview">Home</a>
            </li>
            <li>
                <a ui-sref="taxonomies.overview">Ontology</a>
            </li>
            <li class="active">
                <strong>Lists</strong>
            </li>
        </ol>
    </div>
</div>

<!-- This is the main page -->
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="ListCdgListController" ng-init="initListCdgList()">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="row" style="padding-left: 14px; padding-bottom: 4px;">
                    <div class="btn-group" uib-dropdown>
                        <button type="button" class="btn btn-default btn-sm" ng-click="openCreateListCdgDialog()">
                            New List
                        </button>
                    </div>
                </div>

                <div class="ibox-content">

                    <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>List Name</th>
                            <th>List Class</th>
                            <th>List Short Description</th>
                            <th>More</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in gridData">
                            <td><a href="" ng-click="clickThrough(row.listCdgId, row.classId, 'detail')">{{ row.listCdgName }}</a></td>
                            <td>{{ row.className }}</td>
                            <td>{{ row.listCdgShortDesc }}</td>
                            <td>
                                <i class="fa fa-list-alt" ng-click="clickThrough(row.listCdgId, row.classId, 'summary')"
                                   style="cursor: pointer;"></i>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>List Name</th>
                            <th>List Class</th>
                            <th>List Short Description</th>
                            <th>More</th>
                        </tr>
                        </tfoot>
                    </table>

                </div>

            </div>
        </div>
    </div>
</div>