<div class="modal-header">
	<h3 class="modal-title">New List CDG</h3>
</div>
<div class="modal-body">
	<form method="POST" class="form-horizontal" name="newListCdgForm" novalidate>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group col-md-12">
					<div>
						<label for="list_type">List Type</label>
					</div>
					<div>
						<select id="list_type" name="list_type" class="form-control" ng-model="newListDetails.listType"
								ng-options="value.typeName for value in listTypeList track by value.classId" required>
							<option value="" selected>&lt;list type&gt;</option>
						</select>
					</div>
					<div class="m-t-xs" ng-hide="validation.listType">
						<small class="text-danger">Please select list type</small>
					</div>

				</div>

				<div class="form-group col-md-12">
					<div>
						<label for="list_name">List Name</label>
					</div>
					<div>
						<input id="list_name" name="list_name" type="text" class="form-control" placeholder="Please enter a name for the list" ng-model="newListDetails.name" required />
					</div>
					<div ng-hide="validation.listName">
						<span class="text-danger">Please enter a list name</span>
					</div>
				</div>

				<div class="form-group col-md-12">
					<div>
						<label for="list_desc">List Description</label>
					</div>
					<div>
						<textarea id="list_desc" name="list_desc" class="form-control" ng-model="newListDetails.description" placeholder="Please enter a description for the list" required></textarea>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>

<div class="modal-footer">
	<button class="btn btn-success btn-sm" type="button" ng-click="ok()">OK</button>
	<button class="btn btn-default btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>
