<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<div class="modal-header">
	<h3 class="modal-title">Shape Details</h3>
</div>
<div class="modal-body">
	<form method="POST" class="form-horizontal" name="shapeDetailsForm" novalidate>
		<div class="row">
			<div class="col-md-12">
				<div class="ibox">

					<div ng-hide="checkRbac('ont','update')">
						<a ng-click="dlIboxParentEdit('shape')" class="pull-right dl-edit-btn" ng-show="shapeEditingDisabled">
							<i class="fa fa-edit"></i>
						</a>
						<a ng-click="dlIboxParentCancel('shape')" class="pull-right dl-edit-btn" ng-hide="shapeEditingDisabled">
							<i class="fa fa-times"></i>
						</a>
						<a ng-click="dlIboxParentSave('shape')" class="pull-right dl-edit-btn" ng-hide="shapeEditingDisabled">
							<i class="fa fa-check"></i>
						</a>
					</div>

					<div class="form-group col-md-12">
						<div>
							<label for="shape_name">Object Name</label>
						</div>
						<div>
							<input id="shape_name" name="shape_name" type="text" class="form-control" placeholder="Please enter a name for the shape" ng-model="selectedShape.nttName" ng-disabled="shapeEditingDisabled" required />
						</div>
						<div ng-hide="validation.name">
							<span class="text-danger">Please enter a name</span>
						</div>
					</div>

					<div class="form-group col-md-12">
						<div>
							<label for="shape_desc">Object Description</label>
						</div>
						<div>
							<textarea id="shape_desc" name="shape_desc" class="form-control" ng-model="selectedShape.nttDesc" placeholder="Please enter a description for the object" ng-disabled="shapeEditingDisabled" required></textarea>
						</div>
					</div>

					<div class="form-group col-md-12" style="margin-bottom: 5px">
						<div>
							<label for="shape_text">Object Text</label>
						</div>
						<div>
							<textarea id="shape_text" name="shape_text" class="form-control" ng-model="selectedShape.text" placeholder="Please enter the display text for the shape" ng-disabled="shapeEditingDisabled" required></textarea>
						</div>
					</div>

					<div class="form-group col-md-12">
						<div>
							<label for="shape_click_through">Click through</label>
						</div>
						<div>
							<input id="shape_click_through" type="text" name="shape_click_through" class="form-control" ng-model="selectedShape.ctObjectName" placeholder="No object selected for click through" ng-disabled="true" required/>
						</div>
						<button class="btn btn-xs btn-primary m-t-xs pull-right dl-table-hdr-btn" ng-hide="shapeEditingDisabled" ng-disabled="checkRbac('ont','update')" ng-click="preCheckClickThrough()">{{clickThroughButton}}</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>

<div class="modal-footer">
	<button class="btn btn-success btn-sm pull-left" type="button" ng-disabled="!clickThroughDefined" ng-click="clickThrough()">Click Through</button>
	<button class="btn btn-success btn-sm" type="button" ng-click="ok()">OK</button>
	<button class="btn btn-default btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>
