<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<div class="modal-header">
	<h3 class="modal-title">New Shape</h3>
</div>
<div class="modal-body">
	<form method="POST" class="form-horizontal" name="newShapeForm" novalidate>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group col-md-12">
					<div>
						<label for="shape_template">Shape Template</label>
					</div>
					<div>
						<select id="shape_template" name="shape_template" class="form-control" ng-model="newShapeDetails.shapeTemplate"
								ng-options="value.templateName for value in shapeTemplateList track by value.objectId" required>
							<option value="" selected>&lt;shape template&gt;</option>
						</select>
					</div>
					<div class="m-t-xs" ng-hide="validation.template">
						<small class="text-danger">Please select a shape template</small>
					</div>

				</div>

				<div class="form-group col-md-12">
					<div>
						<label for="shape_name">Object Name</label>
					</div>
					<div>
						<input id="shape_name" name="shape_name" type="text" class="form-control" placeholder="Please enter a name for the shape" ng-model="newShapeDetails.name" required />
					</div>
					<div ng-hide="validation.name">
						<span class="text-danger">Please enter a name</span>
					</div>
				</div>

				<div class="form-group col-md-12">
					<div>
						<label for="shape_desc">Object Description</label>
					</div>
					<div>
						<textarea id="shape_desc" name="shape_desc" class="form-control" ng-model="newShapeDetails.description" placeholder="Please enter a description for the object" required></textarea>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>

<div class="modal-footer">
	<button class="btn btn-success btn-sm" type="button" ng-click="ok()">OK</button>
	<button class="btn btn-default btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>
