<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<div class="modal-header">
	<h3 class="modal-title">Format Shape</h3>
</div>
<div class="modal-body">
	<form method="POST" class="form-horizontal" name="formatShapeForm" novalidate>
		<div class="row">
			<div class="col-md-12" style="margin-bottom: 10px">
				<div>
					<input id="background_color" type="radio" name="elementSelector" value="bgColor" ng-model="elementSelector"/>
					<label for="background_color">Background Color</label>
				</div>
				<div style="height: 100%; display: flex; align-items: center; justify-content: left;">
					<div class="dl-color-defn-sample" ng-hide="noFill" ng-style="colorSample.bgColor"></div>
					<div class="dl-color-defn-sample" ng-show="noFill" ng-style="{'background-color': '#FFFFFF'}"></div>
					<label for="no_fill" style="margin: 0 10px 0 40px">No Fill</label>
					<input id="no_fill" style="margin: 0" type="checkbox" ng-model="noFill">
				</div>
			</div>
			<div class="col-md-12" style="margin-bottom: 20px">
				<div>
					<input id="stroke_color" type="radio" name="elementSelector" value="strokeColor" ng-model="elementSelector"/>
					<label for="stroke_color">Stroke Color</label>

				</div>
				<div style="height: 100%; display: flex; align-items: center; justify-content: left;">
					<div class="dl-color-defn-sample" ng-hide="noStroke" ng-style="colorSample.strokeColor"></div>
					<div class="dl-color-defn-sample" ng-show="noStroke" ng-style="{'background-color': '#FFFFFF'}"></div>
					<label for="no_stroke" style="margin: 0 10px 0 40px">No Stroke</label>
					<input id="no_stroke" style="margin: 0" type="checkbox" ng-model="noStroke">
				</div>
			</div>

			<div class="col-md-12">
				<material-picker ng-model="colorValue" hover-model="hoverColor" format="'hex'" size="15" ng-click="syncColorSelection()"></material-picker>
				<input ng-model="colorValue" class="form-control dl-color-defn" ng-change="syncColorSelection()" />
			</div>

			<div class="col-md-12">
				<label>Text Alignment</label>
				<div>
					<button type="button" class="btn btn-default btn-sm" ng-click="selectTextHAlign('start')" style="margin-bottom: 15px"> <i class="fa fa-align-left"></i> </button>
					<button type="button" class="btn btn-default btn-sm" ng-click="selectTextHAlign('center')" style="margin-bottom: 15px"> <i class="fa fa-align-center"></i> </button>
					<button type="button" class="btn btn-default btn-sm" ng-click="selectTextHAlign('end')" style="margin-bottom: 15px; margin-right: 15px;"> <i class="fa fa-align-right"></i> </button>

					<button type="button" class="btn btn-default btn-sm" ng-click="selectTextVAlign(0)" style="margin-bottom: 15px"> top </button>
					<button type="button" class="btn btn-default btn-sm" ng-click="selectTextVAlign(50)" style="margin-bottom: 15px"> middle </button>
					<button type="button" class="btn btn-default btn-sm" ng-click="selectTextVAlign(100)" style="margin-bottom: 15px;"> bottom </button>
				</div>
			</div>
		</div>
	</form>
</div>

<div class="modal-footer">
	<button class="btn btn-success btn-sm" type="button" ng-click="ok()">OK</button>
	<button class="btn btn-default btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>
