<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<div ng-controller="ontologyDiagramController">
	<div class="row wrapper border-bottom white-bg">
		<div class="col-lg-12 dl-breadcrumb">
			<button class="btn btn-xs btn-primary pull-right" ng-click="goBack()">Go Back</button>
			<ol class="breadcrumb">
				<li>
					<a ui-sref="home.overview">Home</a>
				</li>
				<li>
					<a>Ontology</a>
				</li>
				<li>
					<a>Diagrams</a>
				</li>
				<li class="active">
					<strong>View</strong>
				</li>
			</ol>
		</div>
	</div>

	<div class="wrapper wrapper-content animated fadeIn">
		<div>
			<div class="row">
				<div class="col-lg-12">
					<div class="ibox">

						<div class="row" style="padding-left: 14px; padding-bottom: 4px;">
							<div class="btn-group" uib-dropdown>
								<button type="button" class="btn btn-default btn-sm" uib-dropdown-toggle>
									Diagram <span class="caret"></span>
								</button>
								<ul role="menu" uib-dropdown-menu="">
									<li><a href="" ng-click="createDiagram();">Create</a></li>
									<li><a href="" ng-click="openDiagram();">Open</a></li>
									<li><a href="" ng-click="checkClose();">Close</a></li>
									<li><a href="" ng-click="saveOntDiagram();">Save</a></li>
									<li><a href="" ng-click="confirmDelete();">Delete</a></li>
								</ul>
							</div>

							<div class="btn-group" uib-dropdown>
								<button type="button" class="btn btn-default btn-sm" uib-dropdown-toggle>
									Shape <span class="caret"></span>
								</button>
								<ul role="menu" uib-dropdown-menu="">
									<li><a href="" ng-click="openShapeFormatter();">Format</a></li>
									<li><a href="" ng-click="moveShapeFrontBack('front');">Move to front</a></li>
									<li><a href="" ng-click="moveShapeFrontBack('back');">Move to back</a></li>
									<li><a href="" ng-click="groupShapes();">Group</a></li>
									<li><a href="" ng-click="unGroupShapes();">Ungroup</a></li>
								</ul>
							</div>

							<button class="btn btn-default btn-sm" ng-hide="checkRbac('ont','update') || checkRbac('ont','create')" ng-click="toggleNodes()"> Toggle Nodes </button>

							<button class="btn btn-default btn-sm" ng-class="{'btn-warning': dirtyCanvas}" ng-click="saveOntDiagram()"> Save </button>

							<button class="btn btn-sm btn-default" ng-click="zoomIn()"><span class="fa fa-search-plus"></span></button>
							<button class="btn btn-default btn-sm" ng-click="zoomReset()">1:1</button>
							<button class="btn btn-sm btn-default" ng-click="zoomOut()"><span class="fa fa-search-minus"></span></button>

							<div class="pull-right">
								Diagram Name: {{currentDiagram.name}}
							</div>
						</div>

						<div class="ibox">
							<div id="ontCanvas" draw2d-canvas class="dl-d2d-canvas" style="position: relative; background-color: #f3f3f4">
								<!-- this is the main canvas -->
							</div>
							<!-- this is the pallet that displays different shapes -->
							<div style="position: relative; top: -4000px; background-color: #E1E1E1; float: left; padding: 10px;" ng-show="palletSidebar">
								<svg ng-repeat="row in shapeTemplateList" class="dl-svg-pallet-icon" viewBox="0,0,{{row.width}},{{row.height}}" fill="{{row.color}}" ng-click="selectTemplate(row.index)">
									<path d="{{ row.templateSvg }}"></path>
								</svg>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
