<div class="modal-header">
    <h3 class="modal-title">New Taxonomy</h3>
</div>
<div class="modal-body">
    <form method="POST" class="form-horizontal" name="newTaxonomy" novalidate>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group col-md-12">
                    <div>
                        <label for="taxonomy_name">Taxonomy Name</label>
                    </div>
                    <div>
                        <input id="taxonomy_name" name="taxonomyName" class="form-control"
                               ng-model="taxonomyName" placeholder="Name of the taxonomy"/>
                    </div>
                    <div class="m-t-xs" ng-hide="validation.name">
                        <small class="text-danger">Please enter a taxonomy name</small>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div>
                        <label for="taxonomy_shortdesc">Taxonomy Description</label>
                    </div>
                    <div>
                        <div>
                            <textarea id="taxonomy_shortdesc" name="taxonomyShortDesc" class="form-control"
                                      ng-model="taxonomyShortDesc" placeholder="Short description of the taxonomy">
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-success btn-sm" type="button" ng-click="create()">Create</button>
    <button class="btn btn-default btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>