<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<!-- This is the breadcrumb -->
<div class="row wrapper border-bottom white-bg" ng-controller="TaxonomyDetailController">
    <div class="col-lg-12 dl-breadcrumb">
        <button class="btn btn-xs btn-primary pull-right" ng-click="goBack()">Go Back</button>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home.overview">Home</a>
            </li>
            <li>
                <a ui-sref="taxonomies.overview">Ontology</a>
            </li>
            <li>
                <a ui-sref="taxonomies.list">Taxonomies</a>
            </li>
            <li class="active">
                <strong>Detail</strong>
            </li>
        </ol>
    </div>
</div>

<!-- This is the main page -->
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="TaxonomyDetailController" ng-init="initTaxonomyDetail()">
    <div class="row">
        <div class="col-md-5">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>
                        Taxonomy : {{taxonomy_summary.taxonomyName}}
                    </h5>
                </div>
                <div class="ibox-content" ng-class="spinnerLoading"> <!-- taxonomy views -->
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <div class="tabs-container">
                        <uib-tabset>
                            <uib-tab heading="Hierarchy View"> <!-- hierarchy view -->
                                <div>
                                    <button class="btn btn-xs btn-default" ng-click="collapseAll()">Collapse All</button>
                                    <button class="btn btn-xs btn-default" ng-click="expandAll()">Expand All</button>
                                    <button class="btn btn-xs btn-default" ng-click="expandToLevel()">Expand to level</button>
                                    <input class="dl-taxo-vis-level" type="text" ng-model="config.visibilityLevel"/>
                                    <button class="btn btn-xs btn-default" ng-click="config.searchPanelHidden = !config.searchPanelHidden">Search</button>
                                    <button class="btn btn-xs btn-default" ng-disabled="checkRbac('ont','update')" ng-click="initiateNewElement()"><span class="fa fa-plus"></span></button>
                                    <div class="btn-group" uib-dropdown>
                                        <button type="button" class="btn btn-xs btn-default" uib-dropdown-toggle>
                                            More <span class="caret"></span>
                                        </button>
                                        <ul role="menu" uib-dropdown-menu="">
                                            <li>
                                                <a href="" ng-click="toggleAbbreviation()">
                                                    Abbreviation <span class="bg-muted p-w-xs" ng-show="config.abbreviation == 0">Off</span> <span class="bg-primary p-w-xs" ng-show="config.abbreviation != 0">On</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>

                                <div uib-collapse="config.searchPanelHidden">
                                    <div class="dl-taxo-search-panel">
                                    <table style="width: 100%;">
                                        <tr>
                                            <td>
                                                <input class="form-control" ng-model="search.keyword" />
                                            </td>
                                            <td style="padding-bottom: 4px; padding-left: 6px;">
                                                <button class="btn btn-xs btn-success" ng-click="executeSearch()" >Search</button>
                                                <button class="btn btn-xs btn-default" type="button" ng-click="clearSearch()" >Clear</button>
                                                <button class="btn btn-xs btn-default" type="button" ng-click="scrollSearchResults('down')" >
                                                    <span class="fa fa-angle-down"></span>
                                                </button>
                                                <button class="btn btn-xs btn-default" type="button" ng-click="scrollSearchResults('up')" >
                                                    <span class="fa fa-angle-up"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                    </div>
                                </div>

                                <!-- this table displays the taxonomy data -->
                                <!-- this syntax uses interpolation which is bad practice: ng-style="{'margin-left':{{element.elementLevel}} * 20}" -->
                                <div class="dl-taxo-container">
                                    <table class="dl-taxo-display">
                                        <tr ng-repeat="element in taxonomyElements">
                                            <td>
                                                <div class="dl-taxo-element" ng-class="{'dl-taxo-search-match': element.elementMatched}" id="{{element.elementId}}" ng-style="{'margin-left':{{element.elementLevel}} * 20}" ng-show="element.elementVisible > 0">
                                                    <a class="btn btn-primary btn-xs" ng-click="toggleElementExpansion(element)">
                                                        <span class="dl-taxo-expand-icon fa" ng-class="{'fa-angle-right': (!element.expanded && element.parent), 'fa-angle-down': (element.expanded && element.parent)}">
                                                            <span ng-hide="element.parent" class="fa fa-circle-o dl-end-node-icon"></span>
                                                        </span>
                                                    </a>
                                                    <div class="dl-taxo-element-name" ng-class="{'dl-taxo-element-selected': element.elementSelected == 1}" ng-click="showElementDetails(element)">
                                                        <span ng-bind="element.elementName"></span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </uib-tab>

                            <uib-tab heading="Table View" ng-click="refreshElementsTableView()"> <!-- table view -->
                                <div class="dl-ibox-content" ng-class="spinnerLoading">
                                    <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" style="width: 100%;"
                                           class="table table-striped table-bordered table-hover dataTables-example">
                                        <thead>
                                        <tr>
                                            <th>Element Full Path Name <button class="btn btn-xs btn-default pull-right" ng-click="showEndNodesOnly()">End Nodes Only</button></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="element in taxonomyElementsTableView">
                                            <td>
                                            <span class="dl-text-break" style="cursor: pointer;" ng-click="showElementDetails(element)">
                                                {{ element.mdContext[1].internalPath }}
                                            </span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </uib-tab>

                            <uib-tab heading="More"> <!-- more view -->
                                <br/>
                                <button type="button" class="btn btn-default btn-sm" ng-click="openFullAssociationView()">
                                    Full Association View
                                </button>
                                <br/>
                                <br/>
                                <button type="button" class="btn btn-default btn-sm" ng-disabled="checkRbac('ont','update')" ng-click="openSelectCustomFormWarningDialog()">
                                    Select Custom Form
                                </button>
                                <span class="m-l-md">Current Custom Form: {{customForm.customFormName}}</span>
                                <br/>
                                <br/>
                                <button type="button" class="btn btn-danger btn-sm" ng-disabled="checkRbac('ont','delete')" ng-click="confirmDelete(true)">
                                    Delete Taxonomy
                                </button>

                            </uib-tab>

                        </uib-tabset>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>
                        Taxonomy Element Details : {{selectedElementDisplay.mdContext[selectedElementDisplay.mdContext.length - 1].internalPath}}
                    </h5>
                </div>
                <div class="ibox-content"> <!-- element detail views -->
                    <div class="tabs-container">
                    <uib-tabset >
                        <!-- this is the Attributes (core details) tab -->
                        <uib-tab index="1" active="tedActiveTab.attributes" heading="Attributes" ng-click="setActiveTab(1)">
                            <div class="ibox">
                                <br/>
                                <div ng-hide="checkRbac('ont','update')">
                                    <a ng-click="dlIboxParentEdit('ted')" class="pull-right dl-edit-btn" ng-show="tedEditingDisabled">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a ng-click="dlIboxParentCancel('ted')" class="pull-right dl-edit-btn" ng-hide="tedEditingDisabled">
                                        <i class="fa fa-times"></i>
                                    </a>
                                    <a ng-click="dlIboxParentSave('ted')" class="pull-right dl-edit-btn" ng-hide="tedEditingDisabled">
                                        <i class="fa fa-check"></i>
                                    </a>
                                </div>
                                <form role="form">
                                    <div class="form-group">
                                        <label>Element Name</label>
                                        <input class="form-control" type="text" placeholder="Taxonomy element name"
                                               ng-model="selectedElementDisplay.elementName" ng-disabled="tedEditingDisabled" />
                                    </div>
                                    <div class="form-group">
                                        <label>Element Hierarchy Number</label>
                                        <input type="text" placeholder="Taxonomy element hierarchy number" class="form-control"
                                               ng-model="selectedElementDisplay.elementHierarchyNumber" disabled />
                                    </div>
                                    <div class="form-group">
                                        <label>Element Description</label>
                                        <textarea class="form-control dl-shortdesc" placeholder="Taxonomy element description"
                                                  ng-model="selectedElementDisplay.elementDesc" ng-disabled="tedEditingDisabled" >
                                        </textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>Element Full Path Name</label>
                                        <input class="form-control" type="text" placeholder="Taxonomy element full path name"
                                               ng-model="selectedElementDisplay.mdContext[1].internalPath" disabled />
                                    </div>
                                    <div class="form-group">
                                        <label>Element GUID</label>
                                        <input class="form-control" type="text" placeholder="Taxonomy element GUID"
                                               ng-model="selectedElementDisplay.elementGUID" disabled />
                                    </div>
                                </form>
                            </div>
                        </uib-tab>
                        <!-- this is the Associations tab -->
                        <uib-tab index="2" active="tedActiveTab.associations" heading="Associations ({{selectedElementAssociations.length}})" ng-click="setActiveTab(2)">
                            <div class="ibox">
                                <br/>
                                <button class="btn btn-xs btn-primary m-t-xs pull-right dl-table-hdr-btn" ng-disabled="checkRbac('ont','update')" ng-click="newAssociation()">Associate</button>
                                <table datatable="ng" dt-options="dtOptions02" class="table table-striped table-bordered table-hover dataTables-example">
                                    <thead>
                                    <tr>
                                        <th>Associated Object & Association Description</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="row2 in selectedElementAssociations">
                                        <td>
                                            <span>{{ row2.verbPhrase }} </span>
                                            <span class="dl-md-context-label" ng-repeat="contextNode in row2.mdContext">
                                                <span ng-click="clickThrough(contextNode.objectId, contextNode.classId, contextNode.parentObjectId, contextNode.parentClassId)" uib-popover="class: {{contextNode.className}}" popover-trigger="mouseenter">
                                                    {{contextNode.internalPath}}
                                                </span>&nbsp;
                                            </span>
                                            <span class="fa fa-list-alt pull-right assoc_detail" ng-click="clickThrough(row2.associationId, 46, 0, 0)"></span>
                                            <div>{{row2.associationShortDesc}}</div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </uib-tab>
                        <!-- this is the Comments tab -->
                        <uib-tab index="3" active="tedActiveTab.comments" heading="Comments ({{comment.commentList.length}})" ng-click="setActiveTab(3)">
                            <div class="ibox">
                                <div class="dl-taxo-btn-set">
                                    <button class="btn btn-xs btn-default" ng-show="comment.commentPanelHidden" ng-click="toggleCommentPanel()">Comment</button>
                                </div>
                                <div uib-collapse="comment.commentPanelHidden">
                                    <form role="form">
                                        <div class="form-group">
                                        <textarea class="form-control dl-shortdesc" placeholder="Enter comment text here"
                                                  ng-model="comment.newCommentText" >
                                        </textarea>
                                        </div>
                                    </form>
                                </div>
                                <div class="dl-taxo-btn-set">
                                    <button class="btn btn-xs btn-success" ng-hide="comment.commentPanelHidden" ng-click="saveComment()">Save</button>
                                    <button class="btn btn-xs btn-default" ng-hide="comment.commentPanelHidden" ng-click="cancelComment()">Cancel</button>
                                </div>

                                <table class="dl-taxo-comment-container">
                                    <tr ng-repeat="commentDisplay in comment.commentList">
                                        <td>
                                            <div class="dl-taxo-comment">
                                                <div>{{commentDisplay.commentText}}</div>
                                                <div>
                                                    <span class="dl-taxo-comment-meta">{{commentDisplay.commentDateTime}}</span>
                                                    <span class="dl-taxo-comment-meta">{{commentDisplay.username}}</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>

                            </div>
                        </uib-tab>
                        <!-- this is the Custom Form tab -->
                        <uib-tab index="4" active="tedActiveTab.customform" heading="Custom Form" ng-click="setActiveTab(4)">
                            <div ng-hide="checkRbac('ont','update')">
                                <a ng-click="dlIboxParentEdit('cfrm')" class="pull-right dl-edit-btn" ng-show="cfrmEditingDisabled">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a ng-click="dlIboxParentCancel('cfrm')" class="pull-right dl-edit-btn" ng-hide="cfrmEditingDisabled">
                                    <i class="fa fa-times"></i>
                                </a>
                                <a ng-click="dlIboxParentSave('cfrm')" class="pull-right dl-edit-btn" ng-hide="cfrmEditingDisabled">
                                    <i class="fa fa-check"></i>
                                </a>
                            </div>
                            <br/>
                            <div class="m-t-sm">    <!-- ibox not required here because of schemaform inbuilt layout -->
                                <form disabled name="taxonomyCustomForm"
                                      sf-model="customForm.formData"
                                      sf-form="customForm.formDefinition"
                                      sf-schema="customForm.schemaDefinition"
                                      ng-submit="submitForm(taxonomyCustomForm,customForm.formData)"
                                      sf-options="{ formDefaults: { ngModelOptions: { timezone: '+1100' } }}"
                                      class="ng-cloak">
                                </form>
                            </div>
                        </uib-tab>
                        <!-- this is the More tab -->
                        <uib-tab index="5" active="tedActiveTab.more" heading="More" ng-click="setActiveTab(5)">
                            <div class="ibox">
                                <div class="p-xs">
                                    <button class="btn btn-sm btn-default" ng-click="showChangeHistory()" ng-hide="changeHistoryVisible">Show Change History</button>
                                    <button class="btn btn-sm btn-default" ng-click="hideChangeHistory()" ng-show="changeHistoryVisible">Hide Change History</button>
                                </div>
                                <div ng-show="changeHistoryVisible">
                                    <table datatable="ng" dt-options="dtOptions02" class="table table-striped table-bordered table-hover dataTables-example">
                                        <thead>
                                        <tr>
                                            <th>Action</th>
                                            <th>Datetime</th>
                                            <th>User</th>
                                            <th>Element Name</th>
                                            <th>Short Description</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="row3 in selectedElementChangeHistory">
                                            <td><span>{{ row3.changeAction }}</span></td>
                                            <td><span>{{ row3.lastChangeTimestampString }}</span></td>
                                            <td><span>{{ row3.lastChangeUserLogin }}</span></td>
                                            <td><span>{{ row3.elementName }}</span></td>
                                            <td><span>{{ row3.elementShortDesc }}</span></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="p-xs">
                                    <button class="btn btn-sm btn-default" ng-disabled="checkRbac('ont','update')" ng-click="toggleMoveMode()">Move Element</button>
                                </div>
                                <div uib-collapse="!(moveElement.moveMode)">
                                    <div class="p-w-sm">
                                        <table style="width: 100%;">
                                            <tr>
                                                <td>
                                                    <input class="form-control" ng-model="moveElement.moveTargetElement.mdContext[1].internalPath" disabled/>
                                                </td>
                                                <td style="padding-bottom: 4px; padding-left: 6px;">
                                                    <button class="btn btn-xs btn-success" ng-click="executeMove()">Save</button>
                                                    <button class="btn btn-xs btn-default" type="button" ng-click="toggleMoveMode()" >Cancel</button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                <div class="p-xs">
                                    <button class="btn btn-danger btn-sm" ng-disabled="checkRbac('ont','update')" ng-click="confirmDelete(false)">Delete Element</button>
                                </div>

                            </div>
                        </uib-tab>
                    </uib-tabset>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
