<div class="modal-header">
    <h3 class="modal-title">New Group</h3>
</div>
<div class="modal-body">
    <form method="POST" class="form-horizontal" name="createGroup" novalidate>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group col-md-12">
                    <div>
                        <label for="groupName">Group Name</label>
                    </div>
                    <div>
                        <input id="groupName" name="groupName" class="form-control" ng-model="newGroupDetails.groupName" />
                    </div>
                    <div class="m-t-xs" ng-hide="validation.groupName">
                        <small class="text-danger">Please enter a name for the new group</small>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div>
                        <label for="groupShortDesc">Group Description</label>
                    </div>
                    <div>
                        <input id="groupShortDesc" name="groupShortDesc" class="form-control" ng-model="newGroupDetails.groupShortDesc" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-success btn-sm" type="button" ng-click="save()">Save</button>
    <button class="btn btn-default btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>