<div class="modal-header">
    <h3 class="modal-title">New User Account</h3>
</div>
<div class="modal-body">
    <form method="POST" class="form-horizontal" name="createUser" novalidate>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group col-md-12">
                    <div>
                        <label for="username">Username</label>
                    </div>
                    <div>
                        <input id="username" name="username" class="form-control" ng-model="newUserDetails.username" />
                    </div>
                    <div class="m-t-xs" ng-hide="validation.username">
                        <small class="text-danger">Please enter a username for the new user</small>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div>
                        <label for="firstname">First Name</label>
                    </div>
                    <div>
                        <input id="firstname" name="firstname" class="form-control" ng-model="newUserDetails.firstname" />
                    </div>
                    <div class="m-t-xs" ng-hide="validation.firstname">
                        <small class="text-danger">Please enter the first name of the new user</small>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div>
                        <label for="lastname">Last Name</label>
                    </div>
                    <div>
                        <input id="lastname" name="lastname" class="form-control" ng-model="newUserDetails.lastname" />
                    </div>
                    <div class="m-t-xs" ng-hide="validation.lastname">
                        <small class="text-danger">Please enter the last name of the new user</small>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <div>
                        <label for="emailaddress">Email Address</label>
                    </div>
                    <div>
                        <input id="emailaddress" name="emailaddress" class="form-control" ng-model="newUserDetails.emailAddress" />
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div>
                        <label for="password">Initial Password</label>
                    </div>
                    <div>
                        <input id="password" name="password" type="password" class="form-control" ng-model="newUserDetails.password" />
                    </div>
                    <div class="m-t-xs" ng-hide="validation.initialPassword">
                        <small class="text-danger">Please enter an initial password for the new user</small>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-success btn-sm" type="button" ng-click="save()">Save</button>
    <button class="btn btn-default btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>