<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<div class="modal-header">
    <h3 class="modal-title" ng-hide="update">New Association Type</h3>
    <h3 class="modal-title" ng-hide="!update">Update Association Type</h3>
</div>
<div class="modal-body">
    <form method="POST" class="form-horizontal" name="newAssociationType" novalidate>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group col-md-12">
                    <div>
                        <label for="association_type_name">Association Type Name</label>
                    </div>
                    <div>
                        <input id="association_type_name" name="assocTypeName" class="form-control"
                               ng-model="assocTypeName" placeholder="Name of the association type"/>
                    </div>
                    <div class="m-t-xs" ng-hide="validation.name">
                        <small class="text-danger">Please enter a name</small>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div>
                        <label for="association_type_shortdesc">Association Type Description</label>
                    </div>
                    <div>
                        <div>
                            <textarea id="association_type_shortdesc" name="assocTypeShortDesc" class="form-control"
                                      ng-model="assocTypeShortDesc" placeholder="Short description of the association type">
                            </textarea>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div>
                        <label for="source_phrase">Source Phrase</label>
                    </div>
                    <div>
                        <div>
                            <input id="source_phrase" name="sourcePhrase" class="form-control"
                                      ng-model="sourcePhrase" placeholder="source phrase for the association type"/>
                        </div>
                        <div class="m-t-xs" ng-hide="validation.sourcePhrase">
                            <small class="text-danger">Please enter a source phrase, for example "populates"</small>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div>
                        <label for="target_phrase">Target Phrase</label>
                    </div>
                    <div>
                        <div>
                            <input id="target_phrase" name="targetPhrase" class="form-control"
                                      ng-model="targetPhrase" placeholder="target phrase for the association type"/>
                            <div class="m-t-xs" ng-hide="validation.targetPhrase">
                                <small class="text-danger">Please enter a target phrase, for example "is populated from"</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-success btn-sm" type="button" ng-click="create()" ng-hide="update">Create</button>
    <button class="btn btn-success btn-sm" type="button" ng-click="create()" ng-hide="!update">Update</button>
    <button class="btn btn-default btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>