<div class="row wrapper border-bottom white-bg" ng-controller="CustomFormDesignerController">
    <div class="col-lg-12 dl-breadcrumb">
        <button class="btn btn-xs btn-primary pull-right" ng-click="goBack()">Go Back</button>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home.overview">Home</a>
            </li>
            <li>
                <a href="">Administration</a>
            </li>
            <li>
                <a ui-sref="admin.custom_form_list">Custom Forms</a>
            </li>
            <li class="active">
                <strong>Designer</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CustomFormDesignerController" ng-init="initCustomFormDesigner()">
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>JSON Definitions</h5>
                    <div dl-ibox-tools name="custom_form_json" editable="{{perms.update}}" edit-fn="dlIboxEdit"
                         save-fn="dlIboxSave" cancel-fn="dlIboxCancel"></div>
                </div>
                <div class="ibox-content">
                    <div class="tabs-container">
                        <uib-tabset >
                            <uib-tab index="1" heading="Schema Definition">
                                <form role="form">
                                    <div class="form-group">
                                        <textarea id="schemaDef" class="form-control dl-json-editor" ng-model="formDefinition.schemaString" ng-disabled="customFormJsonDisabled"></textarea>
                                    </div>
                                </form>
                            </uib-tab>
                            <uib-tab index="2" heading="Form Layout">
                                <form role="form">
                                    <div class="form-group">
                                        <textarea id="formDef" class="form-control dl-json-editor" ng-model="formDefinition.formString" ng-disabled="customFormJsonDisabled"></textarea>
                                    </div>
                                </form>
                            </uib-tab>
                            <uib-tab index="3" heading="Enum Lists">
                                <div class="ibox">
                                    <br/>
                                    <button class="btn btn-xs btn-primary m-t-xs pull-right dl-table-hdr-btn"
                                            ng-click="openSelectOntologyListDialog()">Associate List</button>
                                    <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                                        <thead>
                                            <tr>
                                                <th>Assoc Name</th>
                                                <th>List Name</th>
                                                <th>Short Description</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="row in enumAssoc">
                                                <td>{{row.enumAssocName}}</td>
                                                <td>{{row.assocObjectName}}</td>
                                                <td>{{row.enumAssocShortDesc}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </uib-tab>
                            <button class="btn btn-xs dl-btn-plain m-t-xs pull-right dl-table-hdr-btn" ng-click="renderForm()">Render Form</button>
                        </uib-tabset>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Test Schema Form</h5>
                </div>
                <div class="ibox-content">
                    <form disabled name="ngform"
                          sf-model="modelData"
                          sf-form="formJson"
                          sf-schema="schemaJson"
                          ng-submit="submitForm(ngform,modelData)"
                          sf-options="{ formDefaults: { ngModelOptions: { timezone: '+1100' } }}"
                          class="ng-cloak">
                    </form>
                    <div ng-show="ngform.$valid"><em>Form is valid</em></div>
                    <div ng-show="ngform.$invalid"><em>Form is not valid</em></div>

                    <h3>Model</h3>
                    <pre ng-cloak>{{pretty()}}</pre>
                </div>
            </div>
        </div>

    </div>


</div>
