<!--
 * Copyright 2020 Data Llama FOSS Foundation Incorporated
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 *
 * Version: MVP 0.1
 * Copyright 2020
 *
-->
<div class="row wrapper border-bottom white-bg" ng-controller="GroupDetailController">
    <div class="col-lg-12 dl-breadcrumb">
        <button class="btn btn-xs btn-primary pull-right" ng-click="goBack()">Go Back</button>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home.overview">Home</a>
            </li>
            <li>
                <a>Administration</a>
            </li>
            <li>
                <a ui-sref="admin.users_groups_list">Users & Groups</a>
            </li>
            <li class="active">
                <strong>Group Details</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="GroupDetailController" ng-init="initGroupDetail()">
    <!-- User core details -->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Group Core Details</h5>
                    <div dl-ibox-tools name="group_details" editable="{{perms.update}}" edit-fn="dlIboxEdit"
                         save-fn="dlIboxSave" cancel-fn="dlIboxCancel"></div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12 b-r">
                            <form role="form">
                                <div class="form-group">
                                    <label>Group Name</label>
                                    <input class="form-control" type="text" placeholder="User's first name"
                                           ng-model="groupDetails.core.groupName" ng-disabled="editingDisabled.core" />
                                </div>
                                <div class="form-group">
                                    <label>Group Description</label>
                                    <input class="form-control" type="text" placeholder="User's last name"
                                           ng-model="groupDetails.core.groupShortDesc" ng-disabled="editingDisabled.core" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Group Permission Configuration</h5>
                    <div dl-ibox-tools name="group_permissions" editable="{{perms.update}}" edit-fn="dlIboxEdit"
                         save-fn="dlIboxSave" cancel-fn="dlIboxCancel"></div>
                </div>
                <div class="ibox-content">
                    <br/>
                    <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>Access Granted</th>
                            <th>Module Name</th>
                            <th>Action Category</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in groupDetails.groupPermissions">
                            <td>
                                <input type="checkbox" ng-checked="row.accessGranted == true" ng-true-value="true" ng-false-value="false"
                                       ng-model="row.accessGranted" ng-disabled="editingDisabled.groupPermissions">
                            </td>
                            <td>{{ row.moduleName }}</td>
                            <td>{{ row.actionCategoryName }}</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Access Granted</th>
                            <th>Module Name</th>
                            <th>Action Category</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>