<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<!-- This is the breadcrumb -->
<div class="row wrapper border-bottom white-bg" ng-controller="MoClassHierarchyController">
    <div class="col-lg-12 dl-breadcrumb">
        <button class="btn btn-xs btn-primary pull-right" ng-click="goBack()">Go Back</button>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home.overview">Home</a>
            </li>
            <li>
                <a>Administration</a>
            </li>
            <li class="active">
                <strong>Metadata Object Class Hierarchy</strong>
            </li>
        </ol>
    </div>
</div>

<!-- This is the main page -->
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="MoClassHierarchyController" ng-init="initMoClassHierarchy()">
    <div class="row">
        <div class="col-md-5">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>
                        Metadata Object Class Hierarchy
                    </h5>
                </div>
                <div class="ibox-content" ng-class="spinnerLoading"> <!-- mo class hierarchy views -->
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <div class="tabs-container">
                        <uib-tabset>
                            <uib-tab heading="Hierarchy View"> <!-- hierarchy view -->
                                <div>
                                    <button class="btn btn-xs btn-default" ng-click="collapseAll()">Collapse All</button>
                                    <button class="btn btn-xs btn-default" ng-click="expandAll()">Expand All</button>
                                    <button class="btn btn-xs btn-default" ng-click="expandToLevel()">Expand to level</button>
                                    <input class="dl-taxo-vis-level" type="text" ng-model="config.visibilityLevel"/>
                                    <button class="btn btn-xs btn-default" ng-click="config.searchPanelHidden = !config.searchPanelHidden">Search</button>
                                    <!--<button class="btn btn-xs btn-default" ng-disabled="checkRbac('ont','update')" ng-click="initiateNewElement()"><span class="fa fa-plus"></span></button>-->
                                </div>

                                <div uib-collapse="config.searchPanelHidden">
                                    <div class="dl-taxo-search-panel">
                                        <table style="width: 100%;">
                                            <tr>
                                                <td>
                                                    <input class="form-control" ng-model="search.keyword" />
                                                </td>
                                                <td style="padding-bottom: 4px; padding-left: 6px;">
                                                    <button class="btn btn-xs btn-success" ng-click="executeSearch()" >Search</button>
                                                    <button class="btn btn-xs btn-default" type="button" ng-click="clearSearch()" >Clear</button>
                                                    <button class="btn btn-xs btn-default" type="button" ng-click="scrollSearchResults('down')" >
                                                        <span class="fa fa-angle-down"></span>
                                                    </button>
                                                    <button class="btn btn-xs btn-default" type="button" ng-click="scrollSearchResults('up')" >
                                                        <span class="fa fa-angle-up"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                <!-- this table displays the class hierarchy data -->
                                <!-- this syntax uses interpolation which is bad practice: ng-style="{'margin-left':{{element.elementLevel}} * 20}" -->
                                <div class="dl-taxo-container">
                                    <table class="dl-taxo-display">
                                        <tr ng-repeat="element in classHierElements">
                                            <td>
                                                <div class="dl-taxo-element" ng-class="{'dl-taxo-search-match': element.classMatched}" id="{{element.classId}}" ng-style="{'margin-left':{{element.classLevel}} * 20}" ng-show="element.classVisible > 0">
                                                    <a class="btn btn-primary btn-xs" ng-click="toggleElementExpansion(element)">
                                                        <span class="dl-taxo-expand-icon fa" ng-class="{'fa-angle-right': (!element.expanded && element.parent), 'fa-angle-down': (element.expanded && element.parent)}">
                                                            <span ng-hide="element.parent" class="fa fa-circle-o dl-end-node-icon"></span>
                                                        </span>
                                                    </a>
                                                    <div class="dl-taxo-element-name" ng-class="{'dl-taxo-element-selected': element.selected == 1}" ng-click="showElementDetails(element)">
                                                        <span ng-bind="element.className"></span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-7">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>
                        MO Class Details : {{selectedElementDisplay.mdContext[selectedElementDisplay.mdContext.length - 1].internalPath}}
                    </h5>
                </div>
                <div class="ibox-content"> <!-- element detail views -->
                    <div class="tabs-container">
                        <uib-tabset >
                            <!-- this is the Attributes (core details) tab -->
                            <uib-tab index="1" active="tedActiveTab.attributes" heading="Attributes" ng-click="setActiveTab(1)">
                                <div class="ibox">
                                    <form role="form">
                                        <div class="form-group">
                                            <label>Class Name</label>
                                            <input class="form-control" type="text" placeholder="Taxonomy element name"
                                                   ng-model="selectedElementDisplay.className" ng-disabled="tedEditingDisabled" />
                                        </div>
                                        <div class="form-group">
                                            <label>Class Hierarchy Number</label>
                                            <input type="text" placeholder="Taxonomy element hierarchy number" class="form-control"
                                                   ng-model="selectedElementDisplay.classHierarchyNumber" disabled />
                                        </div>
                                        <div class="form-group">
                                            <label>Class Short Description</label>
                                            <textarea class="form-control dl-shortdesc" placeholder="Taxonomy element description"
                                                      ng-model="selectedElementDisplay.classShortDesc" ng-disabled="tedEditingDisabled" >
                                            </textarea>
                                        </div>
                                    </form>
                                </div>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
