<!--
 * Copyright 2020 Data Llama FOSS Foundation Incorporated
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 *
 * Version: MVP 0.1
 * Copyright 2020
 *
-->
<div class="row wrapper border-bottom white-bg" ng-controller="MoClassDetailController">
    <div class="col-lg-12 dl-breadcrumb">
        <button class="btn btn-xs btn-primary pull-right" ng-click="goBack()">Go Back</button>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home.overview">Home</a>
            </li>
            <li>
                <a>Administration</a>
            </li>
            <li>
                <a ui-sref="admin.mo_class_list">Metadata Object Classes</a>
            </li>
            <li class="active">
                <strong>Class Details</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="MoClassDetailController" ng-init="initMoClassDetail()">
    <div class="row">
        <div class="col-lg-12">
            <div id="ibox-core-details" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Metadata Object Class Details</h5>
                    <div dl-ibox-tools name="class_details" editable="{{perms.update}}" edit-fn="dlIboxEdit"
                         save-fn="dlIboxSave" cancel-fn="dlIboxCancel"></div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-6 b-r">
                            <form role="form">
                                <div class="form-group">
                                    <label>Class Name</label>
                                    <input class="form-control" type="text" placeholder="Name of the object"
                                           ng-model="moClassDetails.className" disabled />
                                </div>
                                <div class="form-group">
                                    <label>Short Description</label>
                                    <textarea class="form-control dl-shortdesc" placeholder="Short description of the object"
                                              ng-model="moClassDetails.classShortDesc" ng-disabled="editingDisabled.core" >
									</textarea>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-6">
                            <form role="form">
                                <div class="form-group">
                                    <label>Custom Form</label>
                                    <input class="form-control" type="text" placeholder="Custom form associated with this class" ng-model="moClassDetails.customFormName" disabled />
                                    <button class="btn btn-xs btn-primary m-t-xs" ng-click="showCustomFormSelectDialog()" ng-hide="editingDisabled.core">Change</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>