<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<!-- This is the breadcrumb -->
<div class="row wrapper border-bottom white-bg" >
    <div class="col-lg-10 dl-breadcrumb">
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home.overview">Home</a>
            </li>
            <li>
                <a>Admin</a>
            </li>
            <li>
                <a>Metadata Object Classes</a>
            </li>
            <li class="active">
                <strong>List</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<!-- This is the main page -->
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="MoClassListController" ng-init="initMoClasList()">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">

                    <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>Class Name</th>
                            <th>Class Short Description</th>
                            <th>Custom Form</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in gridData01">
                            <td><a ng-click="clickThrough(row.classId, 0)">{{ row.className }}</a></td>
                            <td>{{ row.classShortDesc }}</td>
                            <td>{{ row.customFormName }}</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Class Name</th>
                            <th>Class Short Description</th>
                            <th>Custom Form</th>
                        </tr>
                        </tfoot>
                    </table>

                </div>

            </div>
        </div>
    </div>
</div>