<div class="modal-header">
    <h3 class="modal-title">Reset User Password</h3>
</div>
<div class="modal-body">
    <form method="POST" class="form-horizontal" name="resetUserPassword" novalidate>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group col-md-12">
                    <div>
                        <label for="new_password">Password</label>
                    </div>
                    <div>
                        <input type="password" id="new_password" name="new_password" class="form-control"
                               ng-model="password" placeholder="Enter password"/>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <div>
                        <label for="repeat_password">Repeat Password</label>
                    </div>
                    <div>
                        <input type="password" id="repeat_password" name="repeat_password" class="form-control"
                               ng-model="repeatPassword" placeholder="Repeat password"/>
                    </div>
                    <div class="m-t-xs" ng-hide="validation.passwordMatch">
                        <small class="text-danger">The repeat password entry does not match the initial password entry or the password you have entered is zero characters long.</small>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-success btn-sm" type="button" ng-click="save()">Save</button>
    <button class="btn btn-default btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>