<!--
 * Copyright 2020 Data Llama FOSS Foundation Incorporated
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 *
 * Version: MVP 0.1
 * Copyright 2020
 *
-->
<div class="row wrapper border-bottom white-bg" ng-controller="UserDetailController">
    <div class="col-lg-12 dl-breadcrumb">
        <button class="btn btn-xs btn-primary pull-right" ng-click="goBack()">Go Back</button>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home.overview">Home</a>
            </li>
            <li>
                <a>Administration</a>
            </li>
            <li>
                <a ui-sref="admin.users_groups_list">Users & Groups</a>
            </li>
            <li class="active">
                <strong>User Details</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="UserDetailController" ng-init="initUserDetail()">
    <!-- User core details -->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>User Core Details</h5>
                    <div dl-ibox-tools name="user_details" editable="{{perms.update}}" edit-fn="dlIboxEdit"
                         save-fn="dlIboxSave" cancel-fn="dlIboxCancel">
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-6 b-r">
                            <form role="form">
                                <div class="form-group">
                                    <label>Username</label>
                                    <input class="form-control" type="text" placeholder="User's login username"
                                           ng-model="userDetails.core.username" disabled />
                                </div>
                                <div class="form-group">
                                    <label>Enabled</label>
                                    <input type="checkbox" ng-checked="userDetails.core.enabled == 1" ng-true-value="true" ng-false-value="false"
                                           ng-model="userDetails.core.enabled" ng-disabled="editingDisabled.core">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-xs btn-primary" ng-click="openResetPasswordDialog()" ng-disabled="editingDisabled.core">
                                        Reset Password
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-6 b-r">
                            <form role="form">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input class="form-control" type="text" placeholder="User's first name"
                                           ng-model="userDetails.core.firstname" ng-disabled="editingDisabled.core" />
                                </div>
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input class="form-control" type="text" placeholder="User's last name"
                                           ng-model="userDetails.core.lastname" ng-disabled="editingDisabled.core" />
                                </div>
                                <div class="form-group">
                                    <label>Email Address</label>
                                    <input class="form-control" type="text" placeholder="User's work email address"
                                           ng-model="userDetails.core.emailAddress" ng-disabled="editingDisabled.core" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>User Group Assignment</h5>
                    <div dl-ibox-tools name="group_assignment" editable="{{perms.update}}" edit-fn="dlIboxEdit"
                         save-fn="dlIboxSave" cancel-fn="dlIboxCancel">
                    </div>
                </div>
                <div class="ibox-content">
                    <br/>
                    <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>Assigned</th>
                            <th>Group Name</th>
                            <th>Group Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in userDetails.groupAssignment">
                            <td>
                                <input type="checkbox" ng-checked="row.assigned == true" ng-true-value="true" ng-false-value="false"
                                       ng-model="row.assigned" ng-click="toggleGroupAssignment(row.groupId)" ng-disabled="editingDisabled.groupAssignment">
                            </td>
                            <td>{{ row.groupName }}</td>
                            <td>{{ row.groupShortDesc }}</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Assigned</th>
                            <th>Group Name</th>
                            <th>Group Description</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>