<!--
 * Copyright 2020 Data Llama FOSS Foundation Incorporated
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 *
 * Version: MVP 0.1
 * Copyright 2020
 *
-->
<div class="row wrapper border-bottom white-bg" ng-controller="UsersGroupsListController">
    <div class="col-lg-12 dl-breadcrumb">
        <button class="btn btn-xs btn-primary pull-right" ng-click="goBack()">Go Back</button>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home.overview">Home</a>
            </li>
            <li>
                <a>Administration</a>
            </li>
            <li class="active">
                <strong>Users & Groups</strong>
            </li>
        </ol>
    </div>
</div>

<!-- This is the main page -->
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="UsersGroupsListController" ng-init="initUsersGroupsList()">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="row" style="padding-left: 14px; padding-bottom: 4px;">
                    <div class="btn-group" uib-dropdown>
                        <button type="button" class="btn btn-default btn-sm" ng-click="openCreateUserDialog()">
                            New User
                        </button>
                    </div>

                    <div class="btn-group" uib-dropdown>
                        <button type="button" class="btn btn-default btn-sm" ng-click="openCreateGroupDialog()">
                            New Group
                        </button>
                    </div>
                </div>

                <div class="ibox-content">
                    <div class="tabs-container">
                        <uib-tabset>
                            <uib-tab index="1" heading="Users">
                                <br/>
                                <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                                    <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Enabled</th>
                                        <th>Group List</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="row in userList">
                                        <td><a ng-click="clickThrough(row.userId, -10);">{{ row.username }}</a></td>
                                        <td>{{ row.firstname }}</td>
                                        <td>{{ row.lastname }}</td>
                                        <td>{{ row.enabled }}</td>
                                        <td>{{ row.groupList }}</td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>Username</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Enabled</th>
                                        <th>Group List</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </uib-tab>
                            <uib-tab index="2" heading="Groups">
                                <br/>
                                <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                                    <thead>
                                    <tr>
                                        <th>Group Name</th>
                                        <th>Group Description</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="row in groupList">
                                        <td><a ng-click="clickThrough(row.groupId, -11);">{{ row.groupName }}</a></td>
                                        <td>{{ row.groupShortDesc }}</td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>Group Name</th>
                                        <th>Group Description</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </uib-tab>
                        </uib-tabset>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

