<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<!-- This is the breadcrumb -->
<div class="row wrapper border-bottom white-bg" ng-controller="ApiRestDetailController">
    <div class="col-lg-12 dl-breadcrumb">
        <button class="btn btn-xs btn-primary pull-right" ng-click="goBack()">Go Back</button>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home.overview">Home</a>
            </li>
            <li>
                <a>Implementation</a>
            </li>
            <li>
                <a ui-sref="smd.api_definition">APIs</a>
            </li>
            <li class="active">
                <strong>REST API Detail</strong>
            </li>
        </ol>
    </div>
</div>

<!-- This is the main page -->
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="ApiRestDetailController" ng-init="initApiRestDetail()">
    <div class="row">
        <div class="col-md-5">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>
                        REST API Definition : {{apiSummary.objectName}}
                    </h5>
                </div>
                <div class="ibox-content" ng-class="spinnerLoading"> <!-- taxonomy views -->
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <div class="tabs-container">
                        <uib-tabset>
                            <uib-tab heading="Hierarchy View"> <!-- hierarchy view -->
                                <div>
                                    <button class="btn btn-xs btn-default" ng-click="collapseAll()">Collapse All</button>
                                    <button class="btn btn-xs btn-default" ng-click="expandAll()">Expand All</button>
                                    <button class="btn btn-xs btn-default" ng-click="expandToLevel()">Expand to level</button>
                                    <input class="dl-taxo-vis-level" type="text" ng-model="config.visibilityLevel"/>
                                    <button class="btn btn-xs btn-default" ng-click="config.searchPanelHidden = !config.searchPanelHidden">Search</button>
                                    <button class="btn btn-xs btn-default" ng-click="initiateNewElement()"><span class="fa fa-plus"></span></button>
                                </div>

                                <div uib-collapse="config.searchPanelHidden">
                                    <div class="dl-taxo-search-panel">
                                        <table style="width: 100%;">
                                            <tr>
                                                <td>
                                                    <input class="form-control" ng-model="search.keyword" />
                                                </td>
                                                <td style="padding-bottom: 4px; padding-left: 6px;">
                                                    <button class="btn btn-xs btn-success" ng-click="executeSearch()" >Search</button>
                                                    <button class="btn btn-xs btn-default" type="button" ng-click="clearSearch()" >Clear</button>
                                                    <button class="btn btn-xs btn-default" type="button" ng-click="scrollSearchResults('down')" >
                                                        <span class="fa fa-angle-down"></span>
                                                    </button>
                                                    <button class="btn btn-xs btn-default" type="button" ng-click="scrollSearchResults('up')" >
                                                        <span class="fa fa-angle-up"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="dl-taxo-container">
                                    <table class="dl-taxo-display">
                                        <tr ng-repeat="apiElement in elements">
                                            <td>
                                                <div class="dl-taxo-element" ng-class="{'dl-taxo-search-match': apiElement.elementIsMatched}"
                                                     id="{{apiElement.objectId}}" ng-style="{'margin-left':{{apiElement.elementLevel}} * 20}"
                                                     ng-show="apiElement.elementIsVisible > 0">
                                                    <a class="btn btn-warning btn-xs" ng-click="toggleElementExpansion(apiElement)">
                                                        <span class="dl-taxo-expand-icon fa" ng-class="{'fa-angle-right': !apiElement.elementIsExpanded && apiElement.elementIsParent, 'fa-angle-down': apiElement.elementIsExpanded  && apiElement.elementIsParent}">
                                                            <span ng-hide="apiElement.elementIsParent" class="fa fa-circle-o dl-end-node-icon"></span>
                                                        </span>
                                                    </a>
                                                    <div class="dl-taxo-element-name" ng-class="{'dl-taxo-element-selected': apiElement.elementIsSelected == 1}"
                                                         ng-click="showElementDetails(apiElement)">
                                                        <span ng-bind="apiElement.elementName"></span>
                                                    </div>
                                                    <div class="dl-xml-element-type">
                                                        <span>{{ getClassDisplayName(apiElement.classId) }}</span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </uib-tab>

                            <uib-tab heading="Table View"> <!-- table view -->
                                <br/>
                                <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-striped table-bordered table-hover dataTables-example">
                                    <thead>
                                    <tr>
                                        <th>API End Point Path <button class="btn btn-xs btn-default pull-right" ng-click="showEndNodesOnly()">End Nodes Only</button></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="apiElement in elementsTableView">
                                        <td>
                                            <span class="dl-text-break" style="cursor: pointer;" ng-click="showElementDetails(apiElement)">
                                                {{ apiElement.mdContext[apiElement.mdContext.length - 1].internalPath }}
                                            </span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </uib-tab>

                            <uib-tab heading="More"> <!-- more view -->
                                <br/>
                                <button type="button" class="btn btn-default btn-sm" ng-click="openFullAssociationView()">
                                    Full Association View
                                </button>
                                <br/>
                                <br/>
                                <button type="button" class="btn btn-default btn-sm" ng-click="openSelectCustomFormWarningDialog()" ng-hide="checkRbac('dmf','configure')">
                                    Select Custom Form
                                </button>
                                <div class="m-l-md">Current Custom Form: {{customForm.customFormName}}</div>
                                <br/>
                                <button type="button" class="btn btn-default btn-sm" ng-hide="checkRbac('dmf','update')" ng-click="openRevEngDetail()">
                                    Import from REST API Specification
                                </button>
                                <br/>
                                <br/>
                                <button type="button" class="btn btn-danger btn-sm" ng-hide="checkRbac('dmf','delete')" ng-click="confirmDelete()">
                                    Delete API Definition
                                </button>

                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>
                        REST Element Details : {{selectedElementDisplay.mdContext[selectedElementDisplay.mdContext.length - 1].internalPath}}
                    </h5>
                </div>
                <div class="ibox-content"> <!-- apiElement detail views -->
                    <div class="tabs-container">
                        <uib-tabset >
                            <!-- This is the Attributes tab in the LHS display panel -->
                            <uib-tab index="1" active="activeDetailTab.attributes" heading="Attributes" ng-click="setActiveTab(1)">
                                <div class="ibox">
                                    <br/>
                                    <div ng-hide="checkRbac('dmf','update')">
                                        <a ng-click="dlIboxParentEdit('ted')" class="pull-right dl-edit-btn" ng-show="editingDisabled.attr">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a ng-click="dlIboxParentCancel('ted')" class="pull-right dl-edit-btn" ng-hide="editingDisabled.attr">
                                            <i class="fa fa-times"></i>
                                        </a>
                                        <a ng-click="dlIboxParentSave('ted')" class="pull-right dl-edit-btn" ng-hide="editingDisabled.attr">
                                            <i class="fa fa-check"></i>
                                        </a>
                                    </div>
                                    <form role="form">
                                        <div class="form-group">
                                            <label>{{elementDisplayTitle}} Name</label>
                                            <input class="form-control" type="text" placeholder="Element name"
                                                   ng-model="selectedElementDisplay.elementName" ng-disabled="editingDisabled.attr" />
                                        </div>
                                        <div class="form-group" ng-show="config.methodparams">
                                            <label>Method Parameters</label>
                                            <table class="table table-striped table-bordered table-hover">
                                                <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Description</th>
                                                    <th>Type</th>
                                                    <th>Datatype</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="row in selectedElementDisplay.methodParameters">
                                                    <td><span>{{ row.paramName }} </span></td>
                                                    <td><span>{{ row.paramDescription }} </span></td>
                                                    <td><span>{{ row.paramDefinitionType }} </span></td>
                                                    <td><span>{{ row.paramDatatype }} </span></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="form-group">
                                            <label>{{elementDisplayTitle}} Hierarchy Number</label>
                                            <input type="text" placeholder="hierarchy number" class="form-control"
                                                   ng-model="selectedElementDisplay.elementHierarchyNumber" disabled />
                                        </div>
                                        <div class="form-group">
                                            <label>{{elementDisplayTitle}} Description</label>
                                            <textarea class="form-control dl-shortdesc" placeholder="short description"
                                                      ng-model="selectedElementDisplay.elementShortDesc" ng-disabled="editingDisabled.attr" >
                                            </textarea>
                                            <textarea class="form-control dl-revengdesc" placeholder="reverse engineered description" ng-show="config.revengdesc"
                                                      ng-model="selectedElementDisplay.elementDescReveng" disabled>
                                            </textarea>
                                        </div>
                                        <div class="form-group">
                                            <label>{{elementDisplayTitle}} Full Path Name</label>
                                            <input class="form-control" type="text" placeholder="full path name"
                                                   ng-model="selectedElementDisplay.mdContext[selectedElementDisplay.mdContext.length - 1].internalPath" disabled />
                                        </div>
                                        <div class="form-group">
                                            <label>Element GUID</label>
                                            <input class="form-control" type="text" placeholder="Element GUID"
                                                   ng-model="selectedElementDisplay.elementGUID" disabled />
                                        </div>
                                    </form>
                                </div>
                            </uib-tab>
                            <!-- This is the Associations tab in the LHS display panel -->
                            <uib-tab index="2" active="activeDetailTab.associations" heading="Associations ({{selectedElementAssociations.length}})" ng-click="setActiveTab(2)">
                                <div class="ibox">
                                    <br/>
                                    <button class="btn btn-xs btn-primary m-t-xs pull-right dl-table-hdr-btn" ng-hide="checkRbac('dmf','update')"
                                            ng-click="newAssociation()">Associate</button>
                                    <table datatable="ng" dt-options="dtOptions02" class="table table-striped table-bordered table-hover dataTables-example">
                                        <thead>
                                        <tr>
                                            <th>Associated Object & Association Description</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="row2 in selectedElementAssociations">
                                            <td>
                                                <span>{{ row2.verbPhrase }} </span>
                                                <span class="dl-md-context-label" uib-popover="class: {{contextNode.className}}" popover-trigger="mouseenter"
                                                      ng-repeat="contextNode in row2.mdContext">
                                                <span ng-click="clickThrough(contextNode.objectId, contextNode.classId, contextNode.parentObjectId, contextNode.parentClassId, {clickThroughMode: 'click_through'})">
                                                    {{contextNode.internalPath}}</span>&nbsp;
                                                </span>
                                                <span class="fa fa-list-alt pull-right assoc_detail" ng-click="clickThrough(row2.associationId, 46, 0, 0, {clickThroughMode: 'click_through'})"></span>
                                                <div>{{row2.associationShortDesc}}</div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </uib-tab>
                            <!-- this is the Comments tab in the LHS display panel -->
                            <uib-tab index="3" active="activeDetailTab.comments" heading="Comments ({{comment.commentList.length}})" ng-click="setActiveTab(3)">
                                <div class="ibox">
                                    <div class="dl-taxo-btn-set">
                                        <button class="btn btn-xs btn-default" ng-show="comment.commentPanelHidden" ng-click="toggleCommentPanel()">Comment</button>
                                    </div>
                                    <div uib-collapse="comment.commentPanelHidden">
                                        <form role="form">
                                            <div class="form-group">
                                        <textarea class="form-control dl-shortdesc" placeholder="Enter comment text here"
                                                  ng-model="comment.newCommentText" >
                                        </textarea>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="dl-taxo-btn-set">
                                        <button class="btn btn-xs btn-success" ng-hide="comment.commentPanelHidden" ng-click="saveComment()">Save</button>
                                        <button class="btn btn-xs btn-default" ng-hide="comment.commentPanelHidden" ng-click="cancelComment()">Cancel</button>
                                    </div>

                                    <table class="dl-taxo-comment-container">
                                        <tr ng-repeat="commentDisplay in comment.commentList">
                                            <td>
                                                <div class="dl-taxo-comment">
                                                    <div>{{commentDisplay.commentText}}</div>
                                                    <div>
                                                        <span class="dl-taxo-comment-meta">{{commentDisplay.commentDateTime}}</span>
                                                        <span class="dl-taxo-comment-meta">{{commentDisplay.username}}</span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>

                                </div>
                            </uib-tab>
                            <!-- this is the Custom Form tab -->
                            <uib-tab index="4" active="activeDetailTab.customform" heading="Custom Form" ng-click="setActiveTab(4)">
                                <div ng-hide="checkRbac('dmf','update')">
                                    <a ng-click="dlIboxParentEdit('cfrm')" class="pull-right dl-edit-btn" ng-show="editingDisabled.cfrm">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a ng-click="dlIboxParentCancel('cfrm')" class="pull-right dl-edit-btn" ng-hide="editingDisabled.cfrm">
                                        <i class="fa fa-times"></i>
                                    </a>
                                    <a ng-click="dlIboxParentSave('cfrm')" class="pull-right dl-edit-btn" ng-hide="editingDisabled.cfrm">
                                        <i class="fa fa-check"></i>
                                    </a>
                                </div>
                                <br/>
                                <div class="m-t-sm">    <!-- ibox not required here because of schemaform inbuilt layout -->
                                    <form disabled name="formatCustomForm"
                                          sf-model="customForm.formData"
                                          sf-form="customForm.formDefinition"
                                          sf-schema="customForm.schemaDefinition"
                                          ng-submit="submitForm(formatCustomForm,customForm.formData)"
                                          sf-options="{ formDefaults: { ngModelOptions: { timezone: '+1100' } }}"
                                          class="ng-cloak">
                                    </form>
                                </div>
                            </uib-tab>
                            <!-- this is the More tab -->
                            <uib-tab index="5" active="activeDetailTab.more" heading="More" ng-click="setActiveTab(5)">
                                <div class="ibox">
                                    <div class="p-xs" ng-hide="checkRbac('dmf','update')" >
                                        <button class="btn btn-sm btn-default" ng-disabled="!checkElementSelected(true)" ng-click="toggleMoveMode()">Move Element</button>
                                    </div>
                                    <div uib-collapse="!(moveJsonNode.moveMode)">
                                        <div class="p-w-sm">
                                            <table style="width: 100%;">
                                                <tr>
                                                    <td>
                                                        <input class="form-control" ng-model="moveJsonNode.moveTargetJsonNode.mdContext[1].internalPath" ng-hide="moveJsonNode.moveToTop.selected" disabled/>
                                                        <input class="dl-srch-flt-chk" type="checkbox" ng-model="moveJsonNode.moveToTop.selected" ng-disabled="moveJsonNode.moveToTop.disabled">  Move to top level
                                                    </td>
                                                    <td style="padding-bottom: 8px; padding-left: 6px;">
                                                        <button class="btn btn-xs btn-success" ng-click="executeMove()">Save</button>
                                                        <button class="btn btn-xs btn-default" type="button" ng-click="toggleMoveMode()" >Cancel</button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="p-xs">
                                        <button class="btn btn-danger btn-sm" ng-hide="checkRbac('dmf','delete')" ng-click="confirmDelete('element')">Delete Element</button>
                                    </div>
                                </div>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
