<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<div class="row wrapper border-bottom white-bg" ng-controller="ApiDefinitionRevEngController">
    <div class="col-lg-12 dl-breadcrumb">
        <button class="btn btn-xs btn-primary pull-right" ng-click="goBack()">Go Back</button>
        <span class="pull-right">&nbsp;</span>
        <button class="btn btn-xs btn-default pull-right" ng-click="expandAllDlIbox()"><i class="fa fa-chevron-down"></i></button>
        <span class="pull-right">&nbsp;</span>
        <button class="btn btn-xs btn-default pull-right" ng-click="collapseAllDlIbox()"><i class="fa fa-chevron-up"></i></button>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home.overview">Home</a>
            </li>
            <li>
                <a>Implementation</a>
            </li>
            <li>
                <a ui-sref="smd.api_definition">APIs</a>
            </li>
            <li >
                <a ng-click="goBack()">REST API Detail</a>
            </li>
            <li class="active">
                <strong>Reverse Engineer</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="ApiDefinitionRevEngController" ng-init="initApiDefinitionRevEng()">
    <div class="row">
        <div class="col-lg-12">
            <div id="ibox-reveng" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Reverse Engineer Details</h5>
                    <div dl-ibox-tools name="reveng_detail" editable="false"></div>
                </div>
                <div class="ibox-content" ng-class="spinnerLoading">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-8">
                            <label>API Specification File Name</label>
                            <div class="fileinput fileinput-new input-group" data-provides="fileinput" ng-hide="config.btnlock || checkRbac('reveng','update');">
                                <div class="form-control" data-trigger="fileinput">
                                    <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                    <span class="fileinput-filename"></span>
                                </div>
                                <div class="input-group-addon btn btn-default btn-file">
                                    <span class="fileinput-new">Select file</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input type="file" name="apiSpecFile" id="inputFile"/>
                                </div>
                                <a href="#" class="input-group-addon btn btn-default fileinput-exists"
                                    data-dismiss="fileinput">Remove</a>
                            </div>
                            <div class="m-t-xs" ng-hide="valid">
                                <small class="text-danger">Please select an API Specification file.</small>
                            </div>

                        </div>

                        <div class="form-group col-md-4 m-t-lg">
                            <button class="btn btn-xs btn-primary" ng-click="checkValid()"
                                    ng-disabled="config.btnlock || checkRbac('dmf','update') || config.reconciliationRequired">Reverse Engineer</button>
                            &nbsp;
                            <span class="dl-error" ng-show="config.reconciliationRequired">RECONCILIATION required</span>
                            <span class="dl-success" ng-hide="config.reconciliationRequired">No reconciliation required</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                <tr>
                                    <th>Run Id</th>
                                    <th>Run Result</th>
                                    <th>Result Code</th>
                                    <th>Result Description</th>
                                    <th>Run Datetime</th>
                                    <th>Executed By</th>
                                    <th>Input Source</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="row in gridData">
                                    <td>{{row.revEngRunId}}</td>
                                    <td>{{row.revEngRunResult}}</td>
                                    <td>{{row.revEngRunCode}}</td>
                                    <td>{{row.revEngRunDesc}}</td>
                                    <td>{{row.revEngRunDt}}</td>
                                    <td>{{row.userLogin}}</td>
                                    <td>{{row.inputSource}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div id="ibox-reveng-recon" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Reverse Engineer Reconciliation</h5>
                    <div dl-ibox-tools name="reveng_recon" editable="false"></div>
                </div>

                <div class="ibox-content">
                    <div class="row m-b">
                        <div class="col-sm-12">
                            <button class="btn btn-xs btn-primary pull-right" ng-click="reconcileRevEngRun()"
                                    ng-disabled="!config.reconciliationRequired || config.matchmode">Reconcile Latest Run</button>

                            <div style="display: inline-block" ng-show="config.matchmode">
                                Select an added element to reconcile with deleted element
                                <i>{{matchElement.source.parentObjectName}}</i>.<i>{{matchElement.source.objectName}}</i>.
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <table datatable="ng" dt-options="dtOptions02" style="width: 100%;"
                                   class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                <tr>
                                    <th>Deleted Elements</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="deletedElement in reconcileReport.deleted">
                                    <td>
                                        <span ng-class="{'dl-reveng-reconcile-matching': deletedElement.reconciliationStatus == 1,
                                                'dl-reveng-reconcile-matched': deletedElement.reconciliationStatus == 2,
                                                'dl-reveng-reconcile-deleted': deletedElement.reconciliationStatus == 3}">
                                            {{ deletedElement.objectName }}
                                        </span>
                                        <span ng-show="deletedElement.reconciliationStatus == 2">
                                            [reconciled with {{deletedElement.reconciledObjectName}}]
                                        </span>
                                        <i class="fa fa-undo dl-reveng-reconcile-tool" ng-click="clearMatch(deletedElement)"></i>
                                        <i class="fa fa-trash-o dl-reveng-reconcile-tool" ng-click="acceptDeleted(deletedElement)"></i>
                                        <i class="fa fa-check-square-o dl-reveng-reconcile-tool" ng-click="matchToAdded(deletedElement)"></i>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-6">
                            <table datatable="ng" dt-options="dtOptions02" style="width: 100%;"
                                   class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                <tr>
                                    <th>Added Elements</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="addedElement in reconcileReport.added">
                                    <td>
                                        {{ addedElement.objectName }}
                                        <i class="fa fa-check-square-o dl-reveng-reconcile-tool" ng-click="matchToDeleted(addedElement)"></i>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
