<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<div class="modal-header">
    <h3 class="modal-title">New Api Definition</h3>
</div>
<div class="modal-body" ng-init="initCreateApiDefinition()">
    <form method="POST" class="form-horizontal" name="newApiDefinition" novalidate>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group col-md-12">
                    <div>
                        <label for="apiName">API Definition Name</label>
                    </div>
                    <div>
                        <input id="apiName" name="apiName" class="form-control"
                               ng-model="apiDefinition.name" placeholder="Name of the API"/>
                    </div>
                    <div class="m-t-xs" ng-hide="validation.name">
                        <small class="text-danger">Please input a name for the API</small>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div>
                        <label for="apiClass">API Class</label>
                    </div>
                    <div>
                        <select id="apiClass" name="apiClass" class="form-control" ng-model="selectedClass"
                                ng-options="value.className for value in classList track by value.classId" required>
                            <option value="" selected>&lt;Please select an API class&gt;</option>
                        </select>
                        <div class="m-t-xs" ng-hide="validation.class">
                            <small class="text-danger">Please select an API class</small>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div>
                        <label for="classShortDesc">API Class Description</label>
                    </div>
                    <div>
                        <div>
                            <textarea id="classShortDesc" name="classShortDesc" class="form-control dl-shortdesc"
                                      ng-model="selectedClass.classShortDesc" placeholder="Short description of the API class" disabled>
                            </textarea>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div>
                        <label for="apiShortdesc">API Description</label>
                    </div>
                    <div>
                        <div>
                            <textarea id="apiShortdesc" name="apiShortdesc" class="form-control dl-shortdesc"
                                      ng-model="apiDefinition.shortDesc" placeholder="Short description of the API">
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-success btn-sm" type="button" ng-click="checkValid()">Create</button>
    <button class="btn btn-default btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>