<div class="modal-header">
    <h3 class="modal-title">REST API Element</h3>
</div>
<div class="modal-body">
    <form method="POST" class="form-horizontal" name="createRestElement" novalidate>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group col-md-12">
                    <div>
                        <label>REST Element Type</label>
                    </div>

                    <div ng-show="newElementConfig.pathSelectable">
                        <input name="newElementType" type="radio" ng-model="newElementSpec.type" value="path" ng-click="setState('path')" />
                        <span>Path segment</span>
                    </div>
                    <div ng-show="newElementConfig.methodSelectable">
                        <input name="newElementType" type="radio" ng-model="newElementSpec.type" value="method" ng-click="setState('method')" />
                        <span>REST method</span>
                    </div>
                    <div ng-show="newElementConfig.responseSelectable">
                        <input name="newElementType" type="radio" ng-model="newElementSpec.type" value="response" ng-click="setState('response')" />
                        <span>Response code</span>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div>
                        <label for="elementName">Element name</label>
                    </div>
                    <div>
                        <input id="elementName" name="elementName" class="form-control" placeholder="Rest element name"
                               ng-model="newElementSpec.name" ng-disabled="newElementSpec.type != 'path'" />
                    </div>
                    <div class="m-t-xs" ng-hide="validation.name">
                        <small class="text-danger">Please input a name for the REST element</small>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div>
                        <label for="elementShortDesc">Element Description</label>
                    </div>
                    <div>
                        <div>
                            <textarea id="elementShortDesc" name="elementShortDesc" class="form-control dl-shortdesc" placeholder="Rest element short description" ng-model="newElementSpec.shortdesc"></textarea>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-12" ng-show="newElementSpec.type == 'method' && !newElementSpec.topLevelElement">
                    <div>
                        <label for="httpMethod">HTTP Method</label>
                    </div>
                    <div>
                        <div>
                            <select id="httpMethod" name="httpMethod" class="form-control" ng-model="newElementSpec.httpMethod"
                                    ng-options="value.httpMethodName for value in httpMethodList" required>
                                <option value="" selected>&lt;Please select an HTTP Method&gt;</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-12" ng-show="newElementSpec.type == 'response'">
                    <div>
                        <label for="responseCode">HTTP Response Code</label>
                        <input id="responseCode" name="responseCode" class="form-control" placeholder="HTTP response code" ng-model="newElementSpec.responseCode"/>
                    </div>
                </div>

                <div class="form-group col-md-12">  <!-- only path elements can be added as top level -->
                    <input type="checkbox" ng-model="newElementSpec.topLevelElement" ng-disabled="selectedElement == null || newElementSpec.type != 'path'">  Add as a top level element.
                </div>
                <div class="form-group col-md-12">
                    <span ng-show="newElementConfig.topLevelElement">
                        The new REST element will added as a top level element.
                    </span>
                    <span ng-hide="newElementConfig.topLevelElement">
                        The new REST element will added as a {{newElement.type}} to parent element {{selectedElement.mdContext[selectedElement.mdContext.length-1].internalPath}}</b> (hierarchy number: {{selectedElement.elementHierarchyNumber}})
                    </span>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-success btn-sm" type="button" ng-click="checkValid()">Create</button>
    <button class="btn btn-default btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>