<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<div class="modal-header">
    <h3 class="modal-title">Rerverse Engineer API Specifiction</h3>
</div>
<div class="modal-body">
    <form method="POST" class="form-horizontal" name="newApiDefinition" novalidate>
        <div class="row">
            <div > <!-- class="col-md-12" input-group -->
                <div class="ibox-content" ng-class="spinnerLoading">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>

                    <!-- TODO: when multiple API specifications are supported the following code will be enabled
                    <div class="form-group col-md-12">
                        <div>
                            <label for="api_spec_name">API Specification Name</label>
                        </div>
                        <div>
                            <select id="api_spec_name" name="apiSpecName" class="form-control" ng-model="selectedMessageFormatClass"
                                    ng-options="value.className for value in messageFormatClassList track by value.classId" required>
                                <option value="" selected>&lt;Please select a message format class&gt;</option>
                            </select>
                            <div class="m-t-xs" ng-hide="validation.name">
                                <small class="text-danger">Please select a valid API Specification.</small>
                            </div>
                        </div>
                    </div>-->

                    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                        <div class="form-control" data-trigger="fileinput">
                            <i class="glyphicon glyphicon-file fileinput-exists"></i>
                            <span class="fileinput-filename"></span>
                        </div>
                        <span class="input-group-addon btn btn-default btn-file">
                            <span class="fileinput-new">Select file</span>
                            <span class="fileinput-exists">Change</span>
                            <input type="file" name="..." id="inputFile"/>
                        </span>
                        <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                    </div>
                    <div class="m-t-xs" ng-hide="valid">
                        <small class="text-danger">Please select an API Specification file.</small>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-success btn-sm" type="button" ng-disabled="disableButtons" ng-click="checkValid()">Run</button>
    <button class="btn btn-default btn-sm" type="button" ng-disabled="disableButtons" ng-click="cancel()">Cancel</button>
</div>