<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<div ng-controller="LineageAssociationController">
    <!-- This is the breadcrumb -->
    <div class="row wrapper border-bottom white-bg">
        <div class="col-lg-12 dl-breadcrumb">
            <button class="btn btn-xs btn-primary pull-right" ng-click="goBack()">Go Back</button>
            <ol class="breadcrumb">
                <li>
                    <a ui-sref="home.overview">Home</a>
                </li>
                <li>
                    <a>Associations</a>
                </li>
                <li class="active">
                    <strong>Lineage</strong>
                </li>
            </ol>
        </div>
    </div>

    <!-- This is the main page -->
    <div class="wrapper wrapper-content animated fadeInRight" ng-init="initLineageDetail()">

        <div class="row">
            <div class="col-md-6">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>
                            Incoming Lineage :
                        </h5>
                    </div>
                    <div class="ibox-content" ng-class="spinnerLoading">
                        <div class="dl-taxo-container">
                            <table class="dl-taxo-display">
                                <tr ng-repeat="element in lineage.incoming">
                                    <td>
                                        <div class="dl-taxo-element" ng-style="{'margin-left':{{element.lineageLevel}} * 20}">
                                            <span class="dl-md-context-label" ng-style="{'background-color': element.bg}" ng-repeat="contextNode in element.mdContext">
                                                <span ng-click="clickThrough(contextNode.objectId, contextNode.classId, contextNode.parentObjectId, contextNode.parentClassId, 'default')" uib-popover="class: {{contextNode.className}}" popover-trigger="mouseenter">
                                                    {{contextNode.internalPath}}
                                                </span>
                                            </span>
                                            <div>{{element.lineageDescription}}</div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>
                            Outgoing Lineage :
                        </h5>
                    </div>
                    <div class="ibox-content" ng-class="spinnerLoading">
                        <div class="dl-taxo-container">
                            <table class="dl-taxo-display">
                                <tr ng-repeat="element in lineage.outgoing">
                                    <td>
                                        <div class="dl-taxo-element" ng-style="{'margin-left':{{element.lineageLevel}} * 20}">
                                            <span class="dl-md-context-label" ng-style="{'background-color': element.bg}" ng-repeat="contextNode in element.mdContext">
                                                <span ng-click="clickThrough(contextNode.objectId, contextNode.classId, contextNode.parentObjectId, contextNode.parentClassId, 'default')" uib-popover="class: {{contextNode.className}}" popover-trigger="mouseenter">
                                                    {{contextNode.internalPath}}
                                                </span>
                                            </span>
                                            <div>{{element.lineageDescription}}</div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>