<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<!--
 Description: this view is the main Create New Association view.
    The associated AJS Controller script is mmObjectAssociationController.js
-->

<div ng-controller="MmObjectAssociationController" ng-init="initMmObjectAssociation()">
    <!-- This is the breadcrumb -->
    <div class="row wrapper border-bottom white-bg">
        <div class="col-lg-12 dl-breadcrumb">
            <button class="btn btn-xs btn-primary pull-right" ng-click="goBack()">Go Back</button>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a>Associations</a>
                </li>
                <li class="active">
                    <strong>New Association</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Associate Metadata Objects</h5>&nbsp;&nbsp; with {{invocationParams.stateParams.objectClass}} : {{invocationParams.stateParams.objectContext}}
                </div>

                <div class="ibox-content">
                    <div class="row" >
                        <div class="form-group col-md-3">
                            <div>
                                <label for="assocTypes">Association Type</label>
                            </div>
                            <div>
                                <select id="assocTypes" name="assocTypes" class="form-control" ng-model="selectedObject.assocType" ng-disabled="!config.changeAssocType"
                                        ng-options="value.assocTypeName for value in assocTypes track by value.assocTypeId" required>
                                </select>
                            </div>
                            <div class="m-t-xs" ng-hide="validation.assocType">
                                <small class="text-danger">Please select an association type</small>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div>
                                <label for="assocTypes">Association Direction</label>
                            </div>
                            <div>
                                <span>{{invocationParams.stateParams.objectContext}}</span>
                                <span ng-show="assocDirection">(source)</span>
                                <span ng-hide="assocDirection">(target)</span>
                                <span ng-show="assocDirection">&nbsp;<i>{{selectedObject.assocType.sourcePhrase}}</i>&nbsp;</span>
                                <span ng-hide="assocDirection">&nbsp;<i>{{selectedObject.assocType.targetPhrase}}</i>&nbsp;</span>
                                <span>[selected MD Objects]</span>
                                <button class="btn btn-default btn-sm pull-right" ng-click="reverseAssociationDirection()" style="margin-top: 4px;">Reverse</button>
                            </div>
                        </div>
                    <div class="form-group col-md-3">
                            <button class="btn btn-sm btn-success m-t-lg" ng-click="checkValid()">Save Association</button>
                            <button class="btn btn-default btn-sm m-t-lg m-l-xs" type="button" ng-click="goBack()">Cancel</button>
                        </div>
                    </div>
                    <div class="row dl-brdr-b-sm m-b-sm" >
                        <div class="form-group col-md-12">
                            <div>
                                <label for="assocShortDesc">Description of Association</label>
                            </div>
                            <div>
                                <input id="assocShortDesc" name="assocShortDesc" class="form-control" ng-model="assocShortDesc" />
                            </div>
                        </div>
                    </div>
                    <div class="row dl-brdr-b-sm m-b-sm">
                        <div class="form-group col-md-9">
                            <div>
                                <label for="searchKeyword">Search Metadata Objects</label>
                            </div>
                            <div>
                                <input id="searchKeyword" name="searchKeyword" class="form-control" ng-model="searchParams.keyword"/>
                            </div>
                            <div uib-collapse="config.filterPanelHidden">
                                <div class="dl-taxo-search-panel">
                                    <div class="form-group">
                                        <input class="dl-srch-flt-chk" type="checkbox" ng-model="searchParams.objectName">  Object Name
                                        <input class="dl-srch-flt-chk" type="checkbox" ng-model="searchParams.objectNameExact">  Exact Name Match
                                        <input class="dl-srch-flt-chk" type="checkbox" ng-model="searchParams.objectShortDesc">  Object Short Description
                                        <input class="dl-srch-flt-chk" type="checkbox" ng-model="searchParams.endNodesOnly">  End nodes only
                                        <div class="btn-group" uib-dropdown>
                                            <button type="button" class="btn btn-default btn-sm" uib-dropdown-toggle>
                                                Classes <span class="caret"></span>
                                            </button>
                                            <ul role="menu" uib-dropdown-menu="" ng-click="$event.stopPropagation()">
                                                <li>
                                                    <input class="dl-srch-flt-chk" type="checkbox" ng-model="searchParams.taxonomy">
                                                    <span class="dl-list-element-name" ng-click="toggleSearchParams('taxonomy')">Ontology Objects</span>
                                                </li>
                                                <li>
                                                    <input class="dl-srch-flt-chk" type="checkbox" ng-model="searchParams.messageFormat">
                                                    <span class="dl-list-element-name" ng-click="toggleSearchParams('messageFormat')">Formats</span>
                                                </li>
                                                <li>
                                                    <input class="dl-srch-flt-chk" type="checkbox" ng-model="searchParams.landscapeObjects">
                                                    <span class="dl-list-element-name" ng-click="toggleSearchParams('landscapeObjects')">Landscape Objects</span>
                                                </li>
                                                <li>
                                                    <input class="dl-srch-flt-chk" type="checkbox" ng-model="searchParams.dataFlows">
                                                    <span class="dl-list-element-name" ng-click="toggleSearchParams('dataFlows')">Data Flows</span>
                                                </li>
                                                <li>
                                                    <input class="dl-srch-flt-chk" type="checkbox" ng-model="searchParams.dataBases">
                                                    <span class="dl-list-element-name" ng-click="toggleSearchParams('dataBases')">Databases</span>
                                                </li>
                                                <li>
                                                    <input class="dl-srch-flt-chk" type="checkbox" ng-model="searchParams.diagrams">
                                                    <span class="dl-list-element-name" ng-click="toggleSearchParams('diagrams')">Diagrams</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group col-md-3">
                            <button class="btn btn-sm btn-success m-t-md" ng-click="executeSearch()">Search</button>
                            <button class="btn btn-default btn-sm m-t-md m-l-xs" type="button" ng-click="toggleFilterPanel()">Filters</button>
                            <button class="btn btn-default btn-sm m-t-md m-l-xs" type="button" ng-click="clearSearch()">Clear</button>
                        </div>
                    </div>

                    <div class="ibox-content" ng-class="spinnerLoading">
                        <div class="sk-spinner sk-spinner-wave">
                            <div class="sk-rect1"></div>
                            <div class="sk-rect2"></div>
                            <div class="sk-rect3"></div>
                            <div class="sk-rect4"></div>
                            <div class="sk-rect5"></div>
                        </div>
                        <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                            <thead>
                            <tr>
                                <th width="10">Selected</th>
                                <th>Object Name</th>
                                <th>Class Name</th>
                                <th>MD Context / Short Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="row in gridData">
                                <td>
                                    <input type="checkbox" ng-checked="row.selected == 1" ng-disabled="row.selected == 1" ng-true-value="1" ng-false-value="0" ng-model="row.selectionChange" ng-click="updateAssocChanges(row.objectId, row.classId, row.selectionChange, row.objectName)">
                                </td>
                                <td>{{ row.objectName }}</td>
                                <td>{{ row.className }}</td>
                                <td>
                                <span class="dl-md-context-label" uib-popover="class: {{contextNode.className}}" popover-trigger="mouseenter" ng-repeat="contextNode in row.mdContext">
                                    {{contextNode.internalPath}}&nbsp;
                                </span>
                                    <div>{{ row.objectShortDesc }}</div>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Selected</th>
                                <th>Object Name</th>
                                <th>Class Name</th>
                                <th>MD Context / Short Description</th>
                            </tr>
                            </tfoot>
                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>