<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<div ng-controller="MdObjectAssociationDetailController">
    <!-- This is the breadcrumb -->
    <div class="row wrapper border-bottom white-bg">
        <div class="col-lg-12 dl-breadcrumb">
            <button class="btn btn-xs btn-primary pull-right" ng-click="goBack()">Go Back</button>
            <ol class="breadcrumb">
                <li>
                    <a ui-sref="home.overview">Home</a>
                </li>
                <li class="active">
                    <strong>Associations</strong>
                </li>
            </ol>
        </div>
    </div>

    <!-- This is the main page -->
    <div class="wrapper wrapper-content animated fadeInRight" ng-init="initAssociationDetail()">
        <div class="row">
            <div class="col-lg-12">
                <div id="ibox-assoc-objects" class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Associated Objects</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-6 b-r">
                                <label>Source Object</label>
                                <form role="form">
                                    <div class="form-group">
                                        <span class="dl-md-context-label" ng-repeat="contextNode in assocDetails.sourceMdContext">
                                            <span>
                                                {{contextNode.internalPath}}
                                            </span>&nbsp;
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <textarea placeholder="Short description of the object" class="form-control dl-shortdesc" ng-model="assocDetails.sourceShortDesc" disabled ></textarea>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="Source phrase" ng-model="assocDetails.assocSourcePhrase" disabled />
                                    </div>
                                </form>
                            </div>
                            <div class="col-lg-6">
                                <label>Target Object</label>
                                <form role="form">
                                    <div class="form-group">
                                        <span class="dl-md-context-label" ng-repeat="contextNode in assocDetails.targetMdContext">
                                            <span>
                                                {{contextNode.internalPath}}
                                            </span>&nbsp;
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <textarea placeholder="Short description of the object" class="form-control dl-shortdesc" ng-model="assocDetails.targetShortDesc" disabled ></textarea>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="Target phrase" ng-model="assocDetails.assocTargetPhrase" disabled />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div id="ibox-assoc-details" class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Association Details</h5>
                        <div dl-ibox-tools name="assoc_details" editable="{{perms.update}}" edit-fn="dlIboxEdit"
                             save-fn="dlIboxSave" cancel-fn="dlIboxCancel"></div>
                    </div>
                    <div class="ibox-content">
                        <div>
                            <label for="assocTypes">Association Type</label>
                        </div>
                        <div>
                            <select id="assocTypes" name="assocTypes" class="form-control" ng-model="assocEdits.assocType" ng-disabled="editingDisabled.details"
                                    ng-options="value.assocTypeName for value in assocTypes track by value.assocTypeId" required>
                            </select>
                        </div>
                        <div>
                            <label for="assocTypes">Association Description</label>
                        </div>
                        <div class="form-group">
                            <textarea placeholder="Short description of the association" class="form-control dl-shortdesc" ng-model="assocEdits.assocShortDesc" ng-disabled="editingDisabled.details" ></textarea>
                        </div>
                        <button type="button" class="btn btn-danger" ng-disabled="checkRbac('assoc','delete')" ng-click="confirmDelete()" ng-hide="editingDisabled.details">
                            Delete Association
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>