<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<!-- This is the breadcrumb -->
<div class="row wrapper border-bottom white-bg" ng-controller="SmdHierarchyAssociationFullViewController">
  <div class="col-lg-12 dl-breadcrumb">
    <button class="btn btn-xs btn-primary pull-right" ng-click="goBack()">Go Back</button>
    <ol class="breadcrumb">
      <li>
        <a ui-sref="home.overview">Home</a>
      </li>
      <li>
        <a>Associations</a>
      </li>
      <li class="active">
        <strong>Full View</strong>
      </li>
    </ol>
  </div>
</div>

<!-- This is the main page -->
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="SmdHierarchyAssociationFullViewController" ng-init="initSmdHierarchyAssociationFullView()">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">

        <div class="ibox-content">

          <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
            <thead>
            <tr>
              <th>Element Name</th>
              <th>Associated Objects
                <button class="btn btn-xs btn-default pull-right" ng-click="showEndNodesOnly()">End Nodes Only</button>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in gridData">
              <td>
                <span class="dl-assoc-source" uib-popover="class: {{row.mdContext[1].className}}" popover-trigger="mouseenter">
                    <span ng-click="showContextNodeDetails(row.mdContext[1])">{{row.mdContext[1].internalPath}}</span>&nbsp;
                </span>
              </td>
              <td>
                <div class="dl-assoc-summary" ng-repeat="assocObject in row.associatedObjects">
                  <span>{{ assocObject.verbPhrase }} </span>
                  <span class="dl-md-context-label" uib-popover="class: {{assocContextNode.className}}" popover-trigger="mouseenter"
                        ng-repeat="assocContextNode in assocObject.mdContext">
                                    <span ng-click="clickThrough(assocContextNode.objectId, assocContextNode.classId, assocContextNode.parentObjectId, assocContextNode.parentClassId)">
                                        {{assocContextNode.internalPath}}</span>&nbsp;
                                    </span>
                  <span class="fa fa-list-alt pull-right" ng-click="clickThrough(assocObject.associationId, 46, 0, 0)"></span>
                  <div>{{assocObject.associationShortDesc}}</div>
                </div>

              </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <th>Element Name</th>
              <th>Associated Objects</th>
            </tr>
            </tfoot>
          </table>

        </div>

      </div>
    </div>
  </div>
</div>