<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<div class="row wrapper border-bottom white-bg" ng-controller="CompareTablesController">
    <div class="col-lg-12 dl-breadcrumb">
        <button class="btn btn-xs btn-primary pull-right" ng-click="goBack()">Go Back</button>
        <span class="pull-right">&nbsp;</span>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home.overview">Home</a>
            </li>
            <li>
                <a>Implementation</a>
            </li>
            <li>
                <a ui-sref="smd.smd_database_list">Database</a>
            </li>
            <li>
                <a ng-click="clickThrough(invocationParams.objectId, invocationParams.classId, 0, 0)">Table</a>
            </li>
            <li class="active">
                <strong>Compare Tables/Views</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CompareTablesController" ng-init="initCompareTables()">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-12">
                        <b>Source Table:</b> <span class="dl-md-context-label" uib-popover="class: {{contextNode.className}}"
                                            popover-trigger="mouseenter"
                                            ng-repeat="contextNode in invocationParams.stateParams.sourceTableViewDetails.mdContext">
                                    {{contextNode.internalPath}}
                                </span>
                    </div>
                    </br>
                </div>
            </div>
            <div class="ibox-content">
                <div id="target_selection" ng-show="viewMode == 1">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <div>
                                <label for="targetDatabaseName">Select Target Database</label>
                            </div>
                            <div>
                                <div>
                                    <select id="targetDatabaseName" name="targetDatabaseName" class="form-control" ng-model="selectedDatabase"
                                            ng-change="readSchemataForDatabase()"
                                            ng-options="value.databaseName for value in databaseList" required>
                                    </select>
                                </div>
                                <div class="m-t-xs" ng-show="selectedDatabase.databaseId == undefined">
                                    <small class="text-danger">Please select a database for the target table.</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div>
                                <label for="targetSchemaName">Select Target Schema</label>
                            </div>
                            <div>
                                <div>
                                    <select id="targetSchemaName" name="targetSchemaName" class="form-control" ng-model="selectedSchema"
                                            ng-change="readTableViewForSchema()"
                                            ng-options="value.schemaName for value in schemaList" required>
                                    </select>
                                </div>
                                <div class="m-t-xs" ng-show="selectedSchema.schemaId == undefined">
                                    <small class="text-danger">Please select a schema for the target table.</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div>
                                <label for="targetTable">Select Target Table/View</label>
                            </div>
                            <div id="targetTable" >
                                <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                                    <thead>
                                    <tr>
                                        <th>Table/View Name</th>
                                        <th>Class Name</th>
                                        <th>Short Description</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="row in tableViewList">
                                        <td><a ng-click="showComparisonResults(row.tableViewId, row.classId);">
                                            {{ row.tableViewName }}</a>
                                        </td>
                                        <td>{{ row.className }}</td>
                                        <td>
                                            <div>{{ row.tableViewShortDesc }}</div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                </br>

                <div id="compare_results" ng-show="viewMode == 2">
                    <div class="row">
                        <div class="col-lg-12">
                            <b>Target Table:</b> <span class="dl-md-context-label" uib-popover="class: {{contextNode.className}}"
                                                       popover-trigger="mouseenter"
                                                       ng-repeat="contextNode in targetTableView.mdContext">
                                    {{contextNode.internalPath}}
                                </span>
                            <button class="btn btn-xs btn-default pull-right" ng-click="changeTargetTableView()">Change Target Table/View</button>
                        </div>
                        </br>
                    </div>
                    <div class="row">
                        <div id="successMatchResults" class="col-lg-8">
                            <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                <tr>
                                    <th>Source Column Name</th>
                                    <th>Target Colum Name</th>
                                    <th>More</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="row in compareColumnsList">
                                    <td>
                                        {{ row.sourceColumn.columnName }}</a>
                                    </td>
                                    <td>{{ row.targetColumn.columnName }}</td>
                                    <td>
                                        &nbsp;
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>
