<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<div class="modal-header">
    <h3 class="modal-title">New File or Object Store</h3>
</div>
<div class="modal-body" ng-init="initCreateFileStore()">
    <form method="POST" class="form-horizontal" name="newFileStore" novalidate>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group col-md-12">
                    <div>
                        <label for="filestore_name">File / Object Store Name</label>
                    </div>
                    <div>
                        <input id="filestore_name" name="filestoreName" class="form-control"
                               ng-model="filestoreName" placeholder="Name of the filestore"/>
                    </div>
                    <div class="m-t-xs" ng-hide="validation.name">
                        <small class="text-danger">Please input a name for the file or object store</small>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div>
                        <label for="fos_class">File / Object Store Class</label>
                    </div>
                    <div>
                        <select id="fos_class" name="fosClass" class="form-control" ng-model="selectedFosClass"
                                ng-options="value.className for value in fosClassList track by value.classId" required>
                            <option value="" selected>&lt;Please select a valid class&gt;</option>
                        </select>
                        <div class="m-t-xs" ng-hide="validation.class">
                            <small class="text-danger">Please select a valid class</small>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div>
                        <label for="filestore_shortdesc">File / Object Store Description</label>
                    </div>
                    <div>
                        <div>
                            <textarea id="filestore_shortdesc" name="filestoreShortDesc" class="form-control"
                                      ng-model="filestoreShortDesc" placeholder="Short description of the filestore">
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-success btn-sm" type="button" ng-click="checkValid()">Create</button>
    <button class="btn btn-default btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>