<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<div class="row wrapper border-bottom white-bg" ng-controller="CreateCredentialController">
    <div class="col-lg-12 dl-breadcrumb">
        <button class="btn btn-xs btn-primary pull-right" ng-click="goBack()">Go Back</button>
        <span class="pull-right">&nbsp;</span>
        <button class="btn btn-xs btn-default pull-right" ng-click="expandAllDlIbox()"><i class="fa fa-chevron-down"></i></button>
        <span class="pull-right">&nbsp;</span>
        <button class="btn btn-xs btn-default pull-right" ng-click="collapseAllDlIbox()"><i class="fa fa-chevron-up"></i></button>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home.overview">Home</a>
            </li>
            <li>
                <a>Implementation</a>
            </li>
            <li>
                <a ui-sref="smd.credential_list">Credentials</a>
            </li>
            <li class="active">
                <strong>New Credential</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CreateCredentialController" ng-init="initCreateCredential()">
    <!-- Column Core details -->
    <div class="row">
        <div class="col-lg-12">
            <div id="ibox-summary" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Credential Details</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div>
                                    <label for="credential_name">Credential Name</label>
                                </div>
                                <div>
                                    <input id="credential_name" name="credentialName" class="form-control"
                                           ng-model="newCredential.credentialName" placeholder="Name of the credential"/>
                                </div>
                                <div class="m-t-xs" ng-hide="validation.credentialName">
                                    <small class="text-danger">Please specify a credential name</small>
                                </div>
                            </div>

                            <div class="form-group">
                                <div>
                                    <label for="credential_type">Credential Type</label>
                                </div>
                                <div>
                                    <select id="credential_type" name="credential_type" class="form-control" ng-model="credentialType"
                                            ng-change="resetCredentialFormData()" ng-disabled="credentialTypeDisabled"
                                            ng-options="value.credentialTypeName for value in credentialTypeList track by value.credentialTypeId" required>
                                    </select>
                                    <div class="m-t-xs" ng-hide="validation.credentialType">
                                        <small class="text-danger">Please select a credential type</small>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div>
                                    <label for="credential_shortdesc">Credential Description</label>
                                </div>
                                <div>
                                    <div>
                            <textarea id="credential_shortdesc" name="credentialShortDesc" class="form-control"
                                      ng-model="newCredential.credentialShortDesc" placeholder="Short description of the credential">
                            </textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <form name="credentialForm"
                                  sf-model="customForm.formData"
                                  sf-form="customForm.formDefinition"
                                  sf-schema="customForm.schemaDefinition"
                                  ng-submit="submitForm(credentialForm,customForm.formData)"
                                  sf-options="{ formDefaults: { ngModelOptions: { timezone: '+1100' } }}"
                                  class="ng-cloak">
                            </form>
                            <div class="m-t-sm form-group pull-right">
                                <button class="btn btn-default btn-sm" type="button" ng-click="goBack()">Cancel</button>
                                &nbsp;
                                <button class="btn btn-success btn-sm" type="button" ng-click="create()">Create</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

