<div class="modal-header">
    <h3 class="modal-title">Data Integration Package or Job</h3>
</div>
<div class="modal-body" ng-init="initCreateDataIntegrationElement()">
    <form method="POST" class="form-horizontal" name="createRestElement" novalidate>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group col-md-12">
                    <div>
                        <label>Element Type</label>
                    </div>

                    <div ng-show="newElementConfig.packageSelectable">
                        <input name="newElementType" type="radio" ng-model="newElementSpec.type" value="package" ng-click="setState('package')" />
                        <span>Data Integration Package</span>
                    </div>
                    <div ng-show="newElementConfig.jobSelectable">
                        <input name="newElementType" type="radio" ng-model="newElementSpec.type" value="job" ng-click="setState('job')" />
                        <span>Data Integration Job</span>
                    </div>
                    <div class="m-t-xs" ng-hide="validation.type">
                        <small class="text-danger">Please select either Package or Job</small>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div>
                        <label for="elementName">Element Name</label>
                    </div>
                    <div>
                        <input id="elementName" name="elementName" class="form-control" placeholder="Package or Job name"
                               ng-model="newElementSpec.name" />
                    </div>
                    <div class="m-t-xs" ng-hide="validation.name">
                        <small class="text-danger">Please input a name for the Package or Job</small>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div>
                        <label for="elementShortDesc">Element Description</label>
                    </div>
                    <div>
                        <div>
                            <textarea id="elementShortDesc" name="elementShortDesc" class="form-control dl-shortdesc" placeholder="Package or Job short description"
                                      ng-model="newElementSpec.shortDesc"></textarea>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-12">  <!-- only path elements can be added as top level -->
                    <input type="checkbox" ng-model="newElementSpec.topLevelElement" ng-disabled="selectedElement == null || newElementSpec.type != 'path'">  Add as a top level element.
                </div>
                <div class="form-group col-md-12">
                    <span ng-show="newElementConfig.topLevelElement">
                        The new element will added as a top level element.
                    </span>
                    <span ng-hide="newElementConfig.topLevelElement">
                        The new element will added as a {{newElement.type}} to parent element {{selectedElement.mdContext[selectedElement.mdContext.length-1].internalPath}}</b> (hierarchy number: {{selectedElement.elementHierarchyNumber}})
                    </span>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-success btn-sm" type="button" ng-click="checkValid()">Create</button>
    <button class="btn btn-default btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>