<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<div class="modal-header">
    <h3 class="modal-title">New Presentation Definition</h3>
</div>
<div class="modal-body" ng-init="initCreatePresentation()">
    <form method="POST" class="form-horizontal" name="newPresentation" novalidate>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group col-md-12">
                    <div>
                        <label for="presentationName">Presentation Definition Name</label>
                    </div>
                    <div>
                        <input id="presentationName" name="presentationName" class="form-control"
                               ng-model="presentation.name" placeholder="Name of the Presentation"/>
                    </div>
                    <div class="m-t-xs" ng-hide="validation.name">
                        <small class="text-danger">Please input a name for the Presentation</small>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div>
                        <label for="presentationClass">Presentation Class</label>
                    </div>
                    <div>
                        <select id="presentationClass" name="presentationClass" class="form-control" ng-model="selectedPresentationClass"
                                ng-options="value.className for value in presentationClassList track by value.classId" required>
                            <option value="" selected>&lt;Please select a presentation class&gt;</option>
                        </select>
                        <div class="m-t-xs" ng-hide="validation.class">
                            <small class="text-danger">Please select a presentation class</small>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div>
                        <label for="presentationClassDesc">Presentation Class Description</label>
                    </div>
                    <div>
                        <div>
                            <textarea id="presentationClassDesc" name="presentationClassDesc" class="form-control dl-shortdesc"
                                      ng-model="selectedPresentationClass.classShortDesc" placeholder="Short description of the presentationClass class" disabled>
                            </textarea>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div>
                        <label for="presentationShortdesc">Presentation Description</label>
                    </div>
                    <div>
                        <div>
                            <textarea id="presentationShortdesc" name="presentationShortdesc" class="form-control dl-shortdesc"
                                      ng-model="presentation.shortDesc" placeholder="Short description of the Presentation">
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-success btn-sm" type="button" ng-click="checkValid()">Create</button>
    <button class="btn btn-default btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>