<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<div class="modal-header">
    <h3 class="modal-title">New {{newDirectory.class.className}}</h3>
</div>
<div class="modal-body">
    <form method="POST" class="form-horizontal" name="createFileStoreDirectory" novalidate>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group col-md-12">
                    <div>
                        <label for="directory_name">{{newDirectory.class.className}} Name</label>
                    </div>
                    <div>
                        <input id="directory_name" name="directoryName" class="form-control" ng-model="newDirectory.name" required/>
                    </div>
                    <div class="m-t-xs" ng-hide="validation.directoryName">
                        <small class="text-danger">Please specify a name</small>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div>
                        <label for="directory_desc">{{newDirectory.class.className}} Description</label>
                    </div>
                    <div>
                        <div>
                            <textarea id="directory_desc" name="directoryDesc" class="form-control" ng-model="newDirectory.desc"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <span ng-show="newDirectoryConfig.topLevelDirectory">
                        The new {{newDirectory.class.className}} will added as a top level hierarchy element.
                    </span>
                    <span ng-hide="newDirectoryConfig.topLevelDirectory">
                        The new {{newDirectory.class.className}} will added as a child to {{selectedDirectoryDisplay.directoryFullPathName}} (hierarchy number: {{selectedDirectoryDisplay.directoryHierarchyNumber}})
                    </span>
                </div>
                <div class="form-group col-md-12">
                    <input type="checkbox" ng-model="newDirectoryConfig.topLevelDirectory" ng-click="updateTopLevelClass()">  Add as top level hierarchy element.
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-success btn-sm" type="submit" ng-click="create()">Create</button>
    <button class="btn btn-default btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>
