<div class="modal-header">
    <h3 class="modal-title">{{presentationSummary.className}} {{elementClass.name}}</h3>
</div>
<div class="modal-body">
    <form method="POST" class="form-horizontal" name="createPresentationDetail" novalidate>
        <div class="row">
            <div class="col-md-12">

                <div class="form-group col-md-12">
                    <div>
                        <label for="elementName">{{presentationSummary.className}} {{elementClass.name}} name</label>
                    </div>
                    <div>
                        <input id="elementName" name="elementName" class="form-control" placeholder="The name"
                               ng-model="newElementSpec.name" />
                    </div>
                    <div class="m-t-xs" ng-hide="validation.name">
                        <small class="text-danger">Please input a name for the {{presentationSummary.className}} {{elementClass.name}}</small>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div>
                        <label for="elementShortDesc">{{presentationSummary.className}} {{elementClass.name}} Description</label>
                    </div>
                    <div>
                        <div>
                            <textarea id="elementShortDesc" name="elementShortDesc" class="form-control dl-shortdesc" placeholder="The short description" ng-model="newElementSpec.shortdesc"></textarea>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-12"> 
                    <input type="checkbox" ng-model="newElementConfig.topLevelElement" ng-disabled="selectedElement == null">  Add as a top level element.
                </div>
                <div class="form-group col-md-12">
                    <span ng-show="newElementConfig.topLevelElement">
                        The new {{presentationSummary.className}} {{elementClass.name}} will added as a top level element.
                    </span>
                    <span ng-hide="newElementConfig.topLevelElement">
                        The new {{presentationSummary.className}} {{elementClass.name}} will added as a child to parent element {{selectedElement.mdContext[selectedElement.mdContext.length-1].internalPath}}</b> (hierarchy number: {{selectedElement.elementHierarchyNumber}})
                    </span>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-success btn-sm" type="button" ng-click="checkValid()">Create</button>
    <button class="btn btn-default btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>