<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<div class="row wrapper border-bottom white-bg" ng-controller="CredentialDetailController">
    <div class="col-lg-12 dl-breadcrumb">
        <button class="btn btn-xs btn-primary pull-right" ng-click="goBack()">Go Back</button>
        <span class="pull-right">&nbsp;</span>
        <button class="btn btn-xs btn-default pull-right" ng-click="expandAllDlIbox()"><i class="fa fa-chevron-down"></i></button>
        <span class="pull-right">&nbsp;</span>
        <button class="btn btn-xs btn-default pull-right" ng-click="collapseAllDlIbox()"><i class="fa fa-chevron-up"></i></button>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home.overview">Home</a>
            </li>
            <li>
                <a>Implementation</a>
            </li>
            <li>
                <a ui-sref="smd.credential_list">Credentials</a>
            </li>
            <li class="active">
                <strong>Detail</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CredentialDetailController" ng-init="initCredentialDetail()">
    <!-- Column Core details -->
    <div class="row">
        <div class="col-lg-12">
            <div id="ibox-core-details" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Credential Summary</h5>
                    <div dl-ibox-tools name="summary" editable="{{perms.update}}" edit-fn="dlIboxEdit"
                         save-fn="dlIboxSave" cancel-fn="dlIboxCancel"></div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-6 b-r">

                            <form role="form">
                                <div class="form-group">
                                    <label>Credential Name</label>
                                    <input class="form-control" type="text" placeholder="Name of the credential"
                                           ng-model="credentialDetail.credentialName" disabled />
                                </div>
                                <div class="form-group">
                                    <label>Credential Short Description</label>
                                    <textarea class="form-control dl-shortdesc" placeholder="Short description of the credential"
                                              ng-model="credentialDetail.credentialShortDesc" ng-disabled="editingDisabled.summary" >
									</textarea>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-6 b-r">
                            <form role="form">
                                <div class="form-group">
                                    <label>Credential Type Name</label>
                                    <input class="form-control" type="text" placeholder="Name of the credential type"
                                           ng-model="credentialDetail.credentialTypeName" disabled />
                                </div>
                                <div class="form-group">
                                    <label>Credential Type Short Description</label>
                                    <textarea class="form-control dl-shortdesc" placeholder="Short description of the credential type"
                                              ng-model="credentialDetail.credentialTypeShortDesc" disabled >
									</textarea>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Credential Detail -->
    <div class="row">
        <div class="col-lg-12">
            <div id="ibox-custom-form" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Visible Credential Details</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <span>Sensitive credential data such as passwords is not displayed.</span>
                            <div class="pull-right">
                                <!--<button class="btn btn-primary btn-sm" type="button" ng-click="">Test Connection</button>-->
                                &nbsp;
                                <button class="btn btn-success btn-sm" type="button" ng-click="clickThrough(credentialId, 0, 0, 0, 'update')">Update Details</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <pre>{{credentialDetail.visibleCredentialDetail | json}}</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
