<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<!-- This is the breadcrumb -->
<div class="row wrapper border-bottom white-bg">
    <div class="col-lg-10 dl-breadcrumb">
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home.overview">Home</a>
            </li>
            <li>
                <a>Implementation</a>
            </li>
            <li class="active">
                <strong>Credentials</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<!-- This is the main page -->
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CredentialListController" ng-init="initCredentialList()">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="row" style="padding-left: 14px; padding-bottom: 4px;">
                    <div class="btn-group" uib-dropdown>
                        <button type="button" class="btn btn-default btn-sm" ng-click="openCreateCredentialDialog()">
                            New Credential
                        </button>
                    </div>
                </div>

                <div class="ibox-content">

                    <div>
                        <label>Credential List</label>
                    </div>

                    <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>Credential Name</th>
                            <th>Credential Type</th>
                            <th>Credential Short Description</th>
                            <th>More</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in credentialList">
                            <td><a href="" ng-click="clickThrough(row.credentialId, 0, 0, 0, 'detail')">{{ row.credentialName }}</a></td>
                            <td>{{ row.credentialType.credentialTypeName }}</td>
                            <td>{{ row.credentialShortDesc }}</td>
                            <td>
                                <i class="fa fa-list-alt" ng-click="clickThrough(row.credentialId, 0, 0, 0, 'detail')"
                                   style="cursor: pointer;"></i>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>
</div>