<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<!-- This is the breadcrumb -->
<div ng-controller="SmdHierarchyRevEngController" ng-init="initSmdHierarchyRevEng()">
<div class="row wrapper border-bottom white-bg">
    <div class="col-lg-12 dl-breadcrumb">
        <button class="btn btn-xs btn-primary pull-right" ng-click="goBack()">Go Back</button>
        <span class="pull-right">&nbsp;</span>
        <button class="btn btn-xs btn-default pull-right" ng-click="expandAllDlIbox()"><i class="fa fa-chevron-down"></i></button>
        <span class="pull-right">&nbsp;</span>
        <button class="btn btn-xs btn-default pull-right" ng-click="collapseAllDlIbox()"><i class="fa fa-chevron-up"></i></button>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home.overview">Home</a>
            </li>
            <li>
                <a>Implementation</a>
            </li>
            <li>
                <a ui-sref="{{breadcrumbConfig.lvl3stateName}}">{{breadcrumbConfig.lvl3displayName}}</a>
            </li>
            <li class="active">
                <strong>Reverse Engineer</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row" ng-show="invocationParams.stateParams.revengConfig.online">
        <div class="col-lg-12">
            <div id="ibox-reveng-config" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Connector & Credential Configuration &mdash; {{invocationParams.stateParams.className}} : {{invocationParams.stateParams.objectName}}</h5>
                    <div dl-ibox-tools name="config" editable="{{perms.penv.update && perms.reveng.update}}" edit-fn="dlIboxParentEdit"
                         save-fn="dlIboxParentSave" cancel-fn="dlIboxParentCancel" editing="!editingDisabled"></div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-6 b-r">
                            <form role="form">
                                <div class="form-group">
                                    <label>Reverse Engineer Connector</label>
                                    <select id="connector_list" name="connector_list" class="form-control" ng-model="selectedConnector"
                                            ng-disabled="editingDisabled" ng-change="connectorSelectionChange()"
                                            ng-options="value.connectorName for value in connectorList track by value.connectorId" required>
                                    </select>
                                    <div class="m-t-xs" ng-hide="validation.connector">
                                        <small class="text-danger">Please select a reverse engineer controller</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div>
                                        <label for="connector_short_desc">Connector Short Description</label>
                                    </div>
                                    <div>
                                        <input id="connector_short_desc" name="connectorShortDesc" class="form-control" disabled
                                               ng-model="selectedConnector.connectorShortDesc" placeholder="Short description of the connector"/>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="col-lg-6">
                            <form role="form">
                                <div class="form-group">
                                    <label>Reverse Engineer Credential</label>
                                    <select id="credential_list" name="credential_list" class="form-control" ng-model="selectedCredential"
                                            ng-disabled="editingDisabled"
                                            ng-options="value.credentialName for value in credentialList track by value.credentialId" required>
                                    </select>
                                    <div class="m-t-xs" ng-hide="validation.credential">
                                        <small class="text-danger">Please select a credential</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div>
                                        <label for="credential_short_desc">Credential Short Description</label>
                                    </div>
                                    <div>
                                        <input id="credential_short_desc" name="credentialShortDesc" class="form-control" disabled
                                               ng-model="selectedCredential.credentialShortDesc" placeholder="Short description of the credential"/>
                                    </div>
                                </div>
                                <div class="form-group pull-right">
                                    <button class="btn btn-success btn-sm" type="button" ng-disabled="editingDisabled"
                                            ng-click="newCredential()" >
                                        New Credential
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div id="ibox-reveng-run" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Reverse Engineer Run <span ng-hide="invocationParams.stateParams.revengConfig.online">&mdash; {{invocationParams.stateParams.className}} : {{invocationParams.stateParams.objectName}}</span></h5>
                    <div dl-ibox-tools name="reveng_run" editable="false"></div>
                </div>
                <div class="ibox-content" ng-class="spinnerLoading">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <div class="btn-group m-r-sm pull-right" uib-dropdown>
                                <button type="button" class="btn btn-xs btn-primary" uib-dropdown-toggle
                                        ng-disabled="{{!(perms.penv.update && perms.reveng.update)}}">
                                    Reverse Engineer&nbsp;&nbsp;<span class="caret"></span>
                                </button>
                                <ul role="menu" uib-dropdown-menu="">
                                    <li ng-show="invocationParams.stateParams.revengConfig.offline"><a href="" ng-click="offlineRevEngSelectFileDialog()">Offline</a></li>
                                    <li ng-show="invocationParams.stateParams.revengConfig.online"><a href="" ng-click="executeOnlineRevEngRun()">Online</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <table datatable="ng" dt-options="dtOptions01" class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                <tr>
                                    <th>Run Id</th>
                                    <th>Run Result</th>
                                    <th>Result Code</th>
                                    <th>Result Description</th>
                                    <th>Run Datetime</th>
                                    <th>Executed By</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="row01 in revEngRunLog">
                                    <td>{{row01.revEngRunId}}</td>
                                    <td>{{row01.revEngRunResult}}</td>
                                    <td>{{row01.revEngRunCode}}</td>
                                    <td>{{row01.revEngRunDesc}}</td>
                                    <td>{{row01.revEngRunDt}}</td>
                                    <td>{{row01.userLogin}}</td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Run Id</th>
                                    <th>Run Result</th>
                                    <th>Result Code</th>
                                    <th>Result Description</th>
                                    <th>Run Datetime</th>
                                    <th>Executed By</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div id="ibox-reveng-recon" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Reverse Engineer Reconciliation</h5>
                    <div dl-ibox-tools name="reveng_recon" editable="false"></div>
                </div>

                <div class="ibox-content">
                    <div class="row m-b">
                        <div class="col-sm-12">
                            <button class="btn btn-xs btn-primary pull-right" ng-click="reconcileRevEngRun()"
                                    ng-disabled="!config.reconciliationRequired || config.matchmode">Reconcile Latest Run</button>

                            <div style="display: inline-block" ng-show="config.matchmode">
                                Select an added element to reconcile with deleted element
                                <i>{{matchElement.source.parentObjectName}}</i>.<i>{{matchElement.source.objectName}}</i>.
                            </div>
                        </div>
                    </div>

                    <!--<div class="row">
                        <div class="col-sm-6">
                            <table datatable="ng" dt-options="dtOptions02" style="width: 100%;"
                                   class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                <tr>
                                    <th>Deleted Elements</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="deletedElement in reconcileReport.deleted">
                                    <td>
                                        <span ng-class="{'dl-reveng-reconcile-matching': deletedElement.reconciliationStatus == 1,
                                                'dl-reveng-reconcile-matched': deletedElement.reconciliationStatus == 2,
                                                'dl-reveng-reconcile-deleted': deletedElement.reconciliationStatus == 3}">
                                            {{ deletedElement.objectName }}
                                        </span>
                                        <span ng-show="deletedElement.reconciliationStatus == 2">
                                            [reconciled with {{deletedElement.reconciledObjectName}}]
                                        </span>
                                        <i class="fa fa-undo dl-reveng-reconcile-tool" ng-click="clearMatch(deletedElement)"></i>
                                        <i class="fa fa-trash-o dl-reveng-reconcile-tool" ng-click="acceptDeleted(deletedElement)"></i>
                                        <i class="fa fa-check-square-o dl-reveng-reconcile-tool" ng-click="matchToAdded(deletedElement)"></i>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-6">
                            <table datatable="ng" dt-options="dtOptions02" style="width: 100%;"
                                   class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                <tr>
                                    <th>Added Elements</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="addedElement in reconcileReport.added">
                                    <td>
                                        {{ addedElement.objectName }}
                                        <i class="fa fa-check-square-o dl-reveng-reconcile-tool" ng-click="matchToDeleted(addedElement)"></i>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>-->

                </div>

            </div>
        </div>
    </div>
</div>
</div>



