<div class="modal-header">
    <h3 class="modal-title">New Database Details</h3>
</div>
<div class="modal-body">
    <form method="POST" class="form-horizontal" name="configureSmdDatabase" novalidate>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group col-md-12">
                    <div>
                        <label for="logicalDbName">Logical Database Name</label>
                    </div>
                    <div>
                        <input id="logicalDbName" name="logicalDbName" class="form-control" ng-model="newSmdDatabaseConfiguration.logicalDatabaseName" />
                    </div>
                    <div class="m-t-xs" ng-hide="validation.logicalDbName">
                        <small class="text-danger">Please enter a logical database name that uniquely identifies this database definition</small>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div>
                        <label for="dbShortDesc">Database Short Description</label>
                    </div>
                    <div>
                        <input id="dbShortDesc" name="dbShortDesc" class="form-control" ng-model="newSmdDatabaseConfiguration.databaseShortDesc" />
                    </div>
                    <div class="m-t-xs" ng-hide="validation.logicalDbName">
                        <small class="text-danger">Please enter a short description for this database definition</small>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div>
                        <label for="jdbcDriverFamily">JDBC Driver Family</label>
                    </div>
                    <div>
                        <select id="jdbcDriverFamily" name="jdbcDriverFamily" class="form-control" ng-model="selectedJdbcDriverFamily"
                                ng-options="value.jdbcDfName for value in jdbcDriverFamilyList track by value.jdbcDfId" ng-change="setJdbcDfDefaults()" required>
                            <option value="" selected>&lt;Please select a JDBC Driver Family&gt;</option>
                        </select>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div>
                        <label for="dbName">{{selectedJdbcDriverFamily.pdbnLabel}}</label>
                    </div>
                    <div>
                        <div>
                            <input id="dbName" name="dbName" class="form-control" ng-model="newSmdDatabaseConfiguration.databaseName" />
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-12" ng-show="selectedJdbcDriverFamily.jdbcDfId > 1">
                    <div>
                        <label for="dbSchema">Schema Name List</label>
                    </div>
                    <div>
                        <div>
                            <input id="dbSchema" name="dbSchema" class="form-control" ng-model="newSmdDatabaseConfiguration.schemaNameList" />
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div>
                        <label for="hostname">Hostname</label>
                    </div>
                    <div>
                        <input id="hostname" name="hostname" class="form-control" ng-model="newSmdDatabaseConfiguration.hostname" />
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div>
                        <label for="dbPort">Port</label>
                    </div>
                    <div>
                        <input id="dbPort" name="port" class="form-control" ng-model="newSmdDatabaseConfiguration.port" />
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <div>
                        <label for="username">Username</label>
                    </div>
                    <div>
                        <div>
                            <input id="username" name="username" class="form-control" ng-model="newSmdDatabaseConfiguration.username" />
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <div>
                        <label for="password">Password</label>
                    </div>
                    <div>
                        <div>
                            <input id="password" name="password" type="password" class="form-control" ng-model="newSmdDatabaseConfiguration.password" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-success btn-sm" type="button" ng-click="save()">Save</button>
    <button class="btn btn-default btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>