<div class="modal-header">
    <h3 class="modal-title">Select SMD Database</h3>
</div>
<div class="modal-body" ng-init="initSmdSelectDatabase()">
    <form method="POST" class="form-horizontal" name="selectSmdDatabase" novalidate>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group col-md-12">
                    <div>
                        <label for="database_name">Selected Database Name</label>
                    </div>
                    <div>
                        <input id="database_name" name="database_name" class="form-control" ng-model="dialogSelectedSmdDatabase.databaseName" disabled/>
                    </div>
                </div>

                <div>
                    <label >Database List</label>
                </div>

                <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                    <thead>
                    <tr>
                        <th>Database Name</th>
                        <th>Database Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in smdDatabaseList">
                        <td><a href="" ng-click="setSelectedDatabase(row.databaseId, row.logicalDatabaseName)">{{ row.logicalDatabaseName }}</a></td>
                        <td>{{ row.databaseShortDesc }}</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-success btn-sm" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-default btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>
