<!-- This is the breadcrumb -->
<div class="row wrapper border-bottom white-bg" ng-controller="smdDatabaseDsReportController">
    <div class="col-lg-12 dl-breadcrumb">
        <button class="btn btn-xs btn-primary pull-right" ng-click="goBack()">Go Back</button>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home.overview">Home</a>
            </li>
            <li>
                <a>Implementation</a>
            </li>
            <li>
                <a>Database</a>
            </li>
            <li class="active">
                <strong>Data Sensitivity Report</strong>
            </li>
        </ol>
    </div>
</div>

<!-- This is the main page -->
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="smdDatabaseDsReportController" ng-init="initSmdDatabaseDsReport()">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Data Sensitivity Report for {{className}} - {{objectName}}</h5>
        </div>

        <div class="ibox-content">
          <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
            <thead>
            <tr>
              <th>Schema Name</th>
              <th>Table/View Name</th>
              <th>Column Name</th>
              <th>Data Sensitivity</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in gridData">
              <td>{{row.mdContext[1].objectName}}</td>
              <td>{{row.mdContext[2].objectName}}</td>
              <td>{{row.mdContext[3].objectName}}</td>
              <td>
                <span class="dl-ds-tag m-r-xs" ng-class="getDsCssClass(row.dsTag.dlDsLevel)">
                  {{row.dsTag.dlDsName}}
                </span>
              </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <th>Schema Name</th>
              <th>Table/View Name</th>
              <th>Column Name</th>
              <th>Data Sensitivity</th>
            </tr>
            </tfoot>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>