<!-- This is the breadcrumb -->
<div class="row wrapper border-bottom white-bg">
    <div class="col-lg-10 dl-breadcrumb">
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home.overview">Home</a>
            </li>
            <li>
                <a>Implementation</a>
            </li>
            <li>
                <a>Database</a>
            </li>
            <li class="active">
                <strong>List</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<!-- This is the main page -->
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="smdDatabaseListController as ctrl" ng-init="ctrl.initSmdDatabaseList()">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="row" style="padding-left: 14px; padding-bottom: 4px;">
                    <div class="btn-group" uib-dropdown>
                        <button type="button" class="btn btn-default btn-sm" ng-click="openConfigureDatabaseDialog()">
                            New database
                        </button>
                    </div>
                </div>

                <div class="ibox-content">

                    <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>Logical Database Name</th>
                            <th>Physical Database Name</th>
                            <th>JDBC Driver Family</th>
                            <th>Short Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in gridData">
                            <td><a ng-click="clickThrough(row.databaseId, row.classId);">{{ row.logicalDatabaseName }}</a></td>
                            <td>{{ row.databaseName }}</td>
                            <td>{{ row.jdbcDriverFamily }}</td>
                            <td>{{ row.databaseShortDesc }}</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Logical Database Name</th>
                            <th>Physical Database Name</th>
                            <th>JDBC Driver Family</th>
                            <th>Short Description</th>
                        </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>