<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<div class="row wrapper border-bottom white-bg" ng-controller="SmdReconcileDbRevEngRunController">
    <div class="col-lg-12 dl-breadcrumb">
        <button class="btn btn-xs btn-primary pull-right" ng-click="goBack()">Go Back</button>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home.overview">Home</a>
            </li>
            <li>
                <a>Implementation</a>
            </li>
            <li >
                <a ui-sref="smd.smd_database_list">Database</a>
            </li>
            <li class="active">
                <strong>Reconcile Reverse Engineering Run</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="SmdReconcileDbRevEngRunController" ng-init="initSmdReconcileDbRevEngRun()">
    <!-- All tabs for object reconciliation -->
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row">
                        <div class="tabs-container">
                            <div class="pull-right m-r-md">
                                <span class="dl-success" ng-show="ctrlConfig.reconRequired == 0">Fully Reconciled</span>
                                <span class="dl-error" ng-show="ctrlConfig.reconRequired > 0">Reconciliation Required</span>
                            </div>
                            <uib-tabset>
                                <!-- The DB Schema Reconciliation Tab -->
                                <uib-tab heading="Schema">
                                    <div class="col-sm-12 m-t">
                                        <div class="row m-b">
                                            <div class="col-sm-12">
                                                <div style="display: inline-block" ng-show="ctrlConfig.matchmode.schema">
                                                    Select an Added schema to reconcile with deleted schema <i>{{matchSchema.source.objectName}}</i>.
                                                </div>
                                                <div style="display: inline-block" ng-show="reconcileReport.schema.deleted.length == 0">
                                                    <i class="fa fa-check dl-success"></i>
                                                    No reconciliation required. No schemas were deleted in the most recent reverse engineer run.
                                                </div>
                                                <div class="pull-right">
                                                    <button class="btn btn-sm btn-success" ng-click="reconcileSchema()"
                                                            ng-disabled="reconcileReport.schema.deleted.length == 0">
                                                        Reconcile Schemas
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <table datatable="ng" dt-options="dtOptions" style="width: 100%;"
                                                       class="table table-striped table-bordered table-hover dataTables-example">
                                                    <thead>
                                                    <tr>
                                                        <th>Deleted Schemas</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="deletedSchema in reconcileReport.schema.deleted">
                                                        <td>
                                                        <span ng-class="{'dl-reveng-reconcile-matching': deletedSchema.reconciliationStatus == 1,
                                                                'dl-reveng-reconcile-matched': deletedSchema.reconciliationStatus == 2,
                                                                'dl-reveng-reconcile-deleted': deletedSchema.reconciliationStatus == 3}">
                                                            {{ deletedSchema.objectName }}
                                                        </span>
                                                            <span ng-show="deletedSchema.reconciliationStatus == 2">
                                                            [reconciled with {{deletedSchema.reconciledObjectName}}]
                                                        </span>
                                                            <i class="fa fa-undo dl-reveng-reconcile-tool" ng-click="clearMatchSchema(deletedSchema)"></i>
                                                            <i class="fa fa-trash-o dl-reveng-reconcile-tool" ng-click="acceptDeletedSchema(deletedSchema)"></i>
                                                            <i class="fa fa-check-square-o dl-reveng-reconcile-tool" ng-click="matchToAddedSchema(deletedSchema)"></i>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-sm-6">
                                                <table datatable="ng" dt-options="dtOptions" style="width: 100%;"
                                                       class="table table-striped table-bordered table-hover dataTables-example">
                                                    <thead>
                                                    <tr>
                                                        <th>Added Schemas</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="addedSchema in reconcileReport.schema.added">
                                                        <td>
                                                            {{ addedSchema.objectName }}
                                                            <i class="fa fa-check-square-o dl-reveng-reconcile-tool" ng-click="matchToDeletedSchema(addedSchema)"></i>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </uib-tab>

                                <!-- The DB Table/View Reconciliation Tab -->
                                <uib-tab heading="Tables/Views">
                                    <div class="col-sm-12 m-t">
                                    <div class="row m-b">
                                        <div class="col-sm-12">
                                            <div style="display: inline-block" ng-show="ctrlConfig.matchmode.tableview">
                                                Select an Added table/view to reconcile with deleted table/view <i>{{matchTableView.source.objectName}}</i>.
                                            </div>
                                            <div style="display: inline-block" ng-show="reconcileReport.tableView.deleted.length == 0">
                                                <i class="fa fa-check dl-success"></i>
                                                No reconciliation required. No tables or views were deleted in the most recent reverse engineer run.
                                            </div>
                                            <div class="pull-right">
                                                <button class="btn btn-sm btn-success" ng-click="reconcileTV()"
                                                        ng-disabled="reconcileReport.tableView.deleted.length == 0">
                                                    Reconcile Tables/Views
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <table datatable="ng" dt-options="dtOptions" style="width: 100%;"
                                                   class="table table-striped table-bordered table-hover dataTables-example">
                                                <thead>
                                                <tr>
                                                    <th>Deleted Tables/Views</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="deletedTableView in reconcileReport.tableView.deleted">
                                                    <td>
                                                        <span ng-class="{'dl-reveng-reconcile-matching': deletedTableView.reconciliationStatus == 1,
                                                                'dl-reveng-reconcile-matched': deletedTableView.reconciliationStatus == 2,
                                                                'dl-reveng-reconcile-deleted': deletedTableView.reconciliationStatus == 3}">
                                                            {{ deletedTableView.objectName }}
                                                        </span>
                                                        <span ng-show="deletedTableView.reconciliationStatus == 2">
                                                            [reconciled with {{deletedTableView.reconciledObjectName}}]
                                                        </span>
                                                        <i class="fa fa-undo dl-reveng-reconcile-tool" ng-click="clearMatchTV(deletedTableView)"></i>
                                                        <i class="fa fa-trash-o dl-reveng-reconcile-tool" ng-click="acceptDeletedTV(deletedTableView)"></i>
                                                        <i class="fa fa-check-square-o dl-reveng-reconcile-tool" ng-click="matchToAddedTV(deletedTableView)"></i>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-sm-6">
                                            <table datatable="ng" dt-options="dtOptions" style="width: 100%;"
                                                   class="table table-striped table-bordered table-hover dataTables-example">
                                                <thead>
                                                <tr>
                                                    <th>Added Tables/Views</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="addedTableView in reconcileReport.tableView.added">
                                                    <td>
                                                        {{ addedTableView.objectName }}
                                                        <i class="fa fa-check-square-o dl-reveng-reconcile-tool" ng-click="matchToDeletedTV(addedTableView)"></i>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    </div>
                                </uib-tab>

                                <!-- The DB Column Reconciliation Tab -->
                                <uib-tab heading="Columns">
                                    <div class="col-sm-12 m-t">
                                        <div class="row m-b">
                                            <div class="col-sm-12">
                                                <div style="display: inline-block" ng-show="ctrlConfig.matchmode.column">
                                                    Select an added Column to reconcile with deleted Column
                                                    <i>{{matchColumn.source.parentObjectName}}</i>.<i>{{matchColumn.source.objectName}}</i>.
                                                </div>
                                                <div style="display: inline-block" ng-show="reconcileReport.column.deleted.length == 0">
                                                    <i class="fa fa-check dl-success"></i>
                                                    No reconciliation required. No columns were deleted in the most recent reverse engineer run.
                                                </div>
                                                <div class="pull-right">
                                                    <button class="btn btn-sm btn-success"  ng-click="reconcileCol()"
                                                            ng-disabled="reconcileReport.column.deleted.length == 0">
                                                        Reconcile Columns
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <table datatable="ng" dt-options="dtOptions" style="width: 100%;"
                                                       class="table table-striped table-bordered table-hover dataTables-example">
                                                    <thead>
                                                    <tr>
                                                        <th>Deleted Columns</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="deletedColumn in reconcileReport.column.deleted">
                                                        <td>
                                                        <span ng-class="{'dl-reveng-reconcile-matching': deletedColumn.reconciliationStatus == 1,
                                                                'dl-reveng-reconcile-matched': deletedColumn.reconciliationStatus == 2,
                                                                'dl-reveng-reconcile-deleted': deletedColumn.reconciliationStatus == 3}">
                                                            {{ deletedColumn.parentObjectName }}.{{ deletedColumn.objectName }}
                                                        </span>
                                                            <span ng-show="deletedColumn.reconciliationStatus == 2">
                                                            [reconciled with {{deletedColumn.reconciledObjectName}}]
                                                        </span>
                                                            <i class="fa fa-undo dl-reveng-reconcile-tool" ng-click="clearMatchCol(deletedColumn)"></i>
                                                            <i class="fa fa-trash-o dl-reveng-reconcile-tool" ng-click="acceptDeletedCol(deletedColumn)"></i>
                                                            <i class="fa fa-check-square-o dl-reveng-reconcile-tool" ng-click="matchToAddedCol(deletedColumn)"></i>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-sm-6">
                                                <table datatable="ng" dt-options="dtOptions" style="width: 100%;"
                                                       class="table table-striped table-bordered table-hover dataTables-example">
                                                    <thead>
                                                    <tr>
                                                        <th>Added Columns</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="addedColumn in reconcileReport.column.added">
                                                        <td>
                                                            {{ addedColumn.parentObjectName }}.{{ addedColumn.objectName }}
                                                            <i class="fa fa-check-square-o dl-reveng-reconcile-tool" ng-click="matchToDeletedCol(addedColumn)"></i>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </uib-tab>

                                <!-- The DB Relationship Reconciliation Tab -->
                                <uib-tab heading="Relationships">
                                    <div class="col-sm-12 m-t">
                                        <div class="row m-b">
                                            <div class="col-sm-12">
                                                <div style="display: inline-block" ng-show="ctrlConfig.matchmode.relationship">
                                                    Select an added Relationship to reconcile with deleted Relationship
                                                    <i>{{matchRelationship.source.objectName}}</i>.
                                                </div>
                                                <div style="display: inline-block" ng-show="reconcileReport.relationship.deleted.length == 0">
                                                    <i class="fa fa-check dl-success"></i>
                                                    No reconciliation required. No relationships were deleted in the most recent reverse engineer run.
                                                </div>
                                                <div class="pull-right">
                                                    <button class="btn btn-sm btn-success" ng-click="reconcileRel()"
                                                            ng-disabled="reconcileReport.relationship.deleted.length == 0">
                                                        Reconcile Relationships
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <table datatable="ng" dt-options="dtOptions" style="width: 100%;"
                                                       class="table table-striped table-bordered table-hover dataTables-example">
                                                    <thead>
                                                    <tr>
                                                        <th>Relationships Columns</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="deletedRelationship in reconcileReport.relationship.deleted">
                                                        <td>
                                                        <span ng-class="{'dl-reveng-reconcile-matching': deletedRelationship.reconciliationStatus == 1,
                                                                'dl-reveng-reconcile-matched': deletedRelationship.reconciliationStatus == 2,
                                                                'dl-reveng-reconcile-deleted': deletedRelationship.reconciliationStatus == 3}">
                                                            {{ deletedRelationship.objectName }}
                                                        </span>
                                                            <span ng-show="deletedRelationship.reconciliationStatus == 2">
                                                            [reconciled with {{deletedRelationship.reconciledObjectName}}]
                                                        </span>
                                                            <i class="fa fa-undo dl-reveng-reconcile-tool" ng-click="clearMatchRel(deletedRelationship)"></i>
                                                            <i class="fa fa-trash-o dl-reveng-reconcile-tool" ng-click="acceptDeletedRel(deletedRelationship)"></i>
                                                            <i class="fa fa-check-square-o dl-reveng-reconcile-tool" ng-click="matchToAddedRel(deletedRelationship)"></i>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-sm-6">
                                                <table datatable="ng" dt-options="dtOptions" style="width: 100%;"
                                                       class="table table-striped table-bordered table-hover dataTables-example">
                                                    <thead>
                                                    <tr>
                                                        <th>Added Relationships</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="addedRelationship in reconcileReport.relationship.added">
                                                        <td>
                                                            {{ addedRelationship.objectName }}
                                                            <i class="fa fa-check-square-o dl-reveng-reconcile-tool" ng-click="matchToDeletedRel(addedRelationship)"></i>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </uib-tab>
                            </uib-tabset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
