<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<div class="modal-header">
    <h3 class="modal-title">Offline Database Reverse Engineer</h3>
</div>
<div class="modal-body">
    <form method="POST" class="form-horizontal" name="offlineReverseEngineeringRun" novalidate>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="ibox-content" ng-class="spinnerLoading">
                        <div class="sk-spinner sk-spinner-wave">
                            <div class="sk-rect1"></div>
                            <div class="sk-rect2"></div>
                            <div class="sk-rect3"></div>
                            <div class="sk-rect4"></div>
                            <div class="sk-rect5"></div>
                        </div>

                        <div>
                            <label for="uploadFileSelection">Database SMD Definition File</label>
                        </div>
                        <div id="uploadFileSelection" class="fileinput fileinput-new input-group" data-provides="fileinput">
                            <div class="form-control" data-trigger="fileinput">
                                <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                <span class="fileinput-filename"></span>
                            </div>
                            <div class="input-group-addon btn btn-default btn-file">
                                <span class="fileinput-new">Select file</span>
                                <span class="fileinput-exists">Change</span>
                                <input type="file" name="..." id="inputFile"/>
                            </div>
                            <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                        </div>
                        <div class="m-t-xs" ng-hide="validation.filetypecheck">
                            <small class="text-danger">Please select a valid file for the SMD definition file type you have selected</small>
                        </div>
                        <div class="m-t-xs" ng-hide="validation.fileselected">
                            <small class="text-danger">Please select an SMD definition file for the Offline Reverse Engineering run</small>
                        </div>

                        <div class="form-group col-md-12">
                            <div>
                                <label for="dbSmdFileType">Database SMD Definition File Type</label>
                            </div>
                            <div>
                                <select id="dbSmdFileType" name="dbSmdFileType" class="form-control" ng-model="dbSmdFileType" required>
                                    <option value="dldbsmd_json" selected>Data Llama database structural metadata JSON</option>
                                    <option value="schemacrawler_ser" selected>SchemaCrawler Serialised Java Object (*.ser)</option>
                                </select>
                            </div>
                            <div class="m-t-xs" ng-hide="validation.filetype">
                                <small class="text-danger">Please select a database SMD definition file type</small>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-success btn-sm" type="button" ng-disabled="disableButtons" ng-click="checkValid()">Run Reverse Engineer</button>
    <button class="btn btn-default btn-sm" type="button" ng-disabled="disableButtons" ng-click="cancel()">Cancel</button>
</div>