<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<div class="row wrapper border-bottom white-bg" ng-controller="SmdDatabaseDetailController">
    <div class="col-lg-12 dl-breadcrumb">
        <button class="btn btn-xs btn-primary pull-right" ng-click="goBack()">Go Back</button>
        <span class="pull-right">&nbsp;</span>
        <button class="btn btn-xs btn-default pull-right" ng-click="expandAllDlIbox()"><i class="fa fa-chevron-down"></i></button>
        <span class="pull-right">&nbsp;</span>
        <button class="btn btn-xs btn-default pull-right" ng-click="collapseAllDlIbox()"><i class="fa fa-chevron-up"></i></button>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home.overview">Home</a>
            </li>
            <li>
                <a>Implementation</a>
            </li>
            <li >
                <a ui-sref="smd.smd_database_list">Database</a>
            </li>
            <li class="active">
                <strong>Database Detail</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="SmdDatabaseDetailController" ng-init="initSmdDatabaseDetail()">
    <!-- Database Core details -->
    <div class="row">
        <div class="col-lg-12">
            <div id="ibox-core-details" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Core Details</h5>
                    <div dl-ibox-tools name="core_details" editable="{{perms.update}}" edit-fn="dlIboxEdit"
                        save-fn="dlIboxSave" cancel-fn="dlIboxCancel">
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-6 b-r">

                            <form role="form">
                                <div class="form-group">
                                    <label>Logical Database Name</label>
                                    <input class="form-control" type="text" placeholder="Logical Name of the database"
                                           ng-model="databaseCoreDetails.logicalDatabaseName" ng-disabled="coreDetailsDisabled" />
                                </div>
                                <div class="form-group">
                                    <label>Physical Database Name</label>
                                    <input class="form-control" type="text" placeholder="Name of the database"
                                           ng-model="databaseCoreDetails.databaseName" ng-disabled="coreDetailsDisabled" />
                                </div>
                                <div class="form-group">
                                    <label>Short Description</label>
                                    <textarea class="form-control dl-shortdesc" ng-model="databaseCoreDetails.databaseShortDesc"
                                              placeholder="Short description of the data store" ng-disabled="coreDetailsDisabled" >
									</textarea>
                                </div>
                                <button type="button" class="btn btn-danger btn-sm" ng-disabled="checkRbac('penv','delete')" ng-click="confirmDelete()" ng-hide="coreDetailsDisabled">
                                    Delete Database
                                </button>
                            </form>
                        </div>
                        <div class="col-lg-6">
                            <form role="form">
                                <!--
                                <div class="form-group">
                                    <label>Hosted Realm</label>
                                    <input class="form-control" type="text" placeholder="Hosted realm of the database" ng-model="databaseCoreDetails.hostedRealmName" disabled />
                                    <button class="btn btn-xs btn-primary m-t-xs" ng-click="showHostedRealmDialog()" ng-hide="coreDetailsDisabled">Change</button>
                                </div>
                                <div class="form-group">
                                    <label>Persistence Technology</label>
                                    <input type="text" placeholder="Persistence technology of the database" class="form-control" ng-model="databaseCoreDetails.persistenceTechnologyName" disabled />
                                    <button class="btn btn-xs btn-primary m-t-xs" ng-click="showPersistenceTechnologyDialog()" ng-hide="coreDetailsDisabled">Change</button>
                                </div>
                                -->
                                <div class="form-group">
                                    <label>Data Sensitivity</label>
                                    <button class="btn btn-xs btn-primary m-t-xs pull-right dl-table-hdr-btn" ng-hide="coreDetailsDisabled"
                                            ng-click="openDSassignMultiDialog()">Change Data Sensitivity</button>
                                    <i class="fa fa-list-alt" ng-show="coreDetailsDisabled"
                                       ng-click="clickThrough(databaseId, classId, 0, 0, 'dsReport')" style="cursor: pointer;"></i>
                                    <p style="line-height: 180%;">
                                        <span class="dl-ds-tag m-r-xs" ng-class="dsTagDefn.cssClass" ng-repeat="dsTagDefn in dlDsTagList">
                                            {{dsTagDefn.tagName}}
                                        </span>
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label>Business Contact</label>
                                    <input class="form-control" type="text" placeholder="Business contact for the database" ng-model="databaseCoreDetails.businessContact" ng-disabled="coreDetailsDisabled" />
                                </div>
                                <div class="form-group">
                                    <label>Technical Contact</label>
                                    <input type="text" placeholder="Technical contact for the database" class="form-control" ng-model="databaseCoreDetails.technicalContact" ng-disabled="coreDetailsDisabled" />
                                </div>
                                <div class="form-group">
                                    <label>Object GUID</label>
                                    <input type="text" placeholder="Object GUID for the database definition" class="form-control" ng-model="databaseCoreDetails.objectGUID" disabled />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Schema list -->
    <div class="row">
        <div class="col-lg-12">
            <div id="ibox-schemas" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Schemas</h5>
                    <div dl-ibox-tools editable="false" name="database_schemas"></div>
                </div>
                <div class="ibox-content" ng-class="spinnerLoading">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>

                    <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Schema Name</th>
                            <th>Short Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row02 in gridData02">
                            <td><a ng-click="clickThrough(row02.schemaId, row02.classId, 0, 0, 'default');">{{ row02.schemaName }}</a></td>
                            <td>
                                {{ row02.schemaShortDesc }}
                                <i class="fa fa-edit dl-incell-edit" ng-disabled="checkRbac('penv','update')"
                                   ng-click="openInCellEditDialog(row02.schemaId, row02.classId, row02.schemaShortDesc)"></i>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Schema Name</th>
                            <th>Short Description</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Table/View list -->
    <div class="row">
        <div class="col-lg-12">
            <div id="ibox-tables" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Tables / Views</h5>
                    <div dl-ibox-tools editable="false" name="database_tables"></div>
                </div>
                <div class="ibox-content" ng-class="spinnerLoading">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>

                    <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>Table/View Name</th>
                            <th>Class Name</th>
                            <th>Schema Name</th>
                            <th>Short Description</th>
                            <th>Column Count</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row01 in gridData01">
                            <td><a ng-click="clickThrough(row01.tableViewId, row01.classId, 0, 0, 'default');">{{ row01.tableViewName }}</a></td>
                            <td>{{ row01.className}} </td>
                            <td>{{ row01.schemaName}} </td>
                            <td>
                                {{ row01.tableViewShortDesc }}
                                <i class="fa fa-edit dl-incell-edit" ng-disabled="checkRbac('penv','update')"
                                   ng-click="openInCellEditDialog(row01.tableViewId, row01.classId, row01.tableViewShortDesc)"></i>
                            </td>
                            <td>{{ row01.columnCount }}</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Table/View Name</th>
                            <th>Class Name</th>
                            <th>Schema Name</th>
                            <th>Short Description</th>
                            <th>Column Count</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Relationship list -->
    <div class="row">
        <div class="col-lg-12">
            <div id="ibox-relationships" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Relationships</h5>
                    <div dl-ibox-tools editable="false" name="database_relationships"></div>
                </div>
                <div class="ibox-content" ng-class="spinnerLoading">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>

                    <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>Relationship Name</th>
                            <th>Parent Table</th>
                            <th>Child Table</th>
                            <th>Short Description</th>
                            <th>Create Method</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row03 in gridData03">
                            <td><a ng-click="clickThrough(row03.relationshipId, row03.classId, 0, 0, 'default');">{{ row03.relationshipName }}</a></td>
                            <td>{{ row03.parentTableViewName}} </td>
                            <td>{{ row03.childTableViewName}} </td>
                            <td>
                                {{ row03.relationshipShortDesc }}
                                <i class="fa fa-edit dl-incell-edit" ng-disabled="checkRbac('penv','update')"
                                   ng-click="openInCellEditDialog(row03.relationshipId, row03.classId, row03.relationshipShortDesc)"></i>
                            </td>
                            <td ng-switch on="row03.createMode">
                                <span ng-switch-when="10">Reverse engineered</span>
                                <span ng-switch-when="30">User defined</span>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Relationship Name</th>
                            <th>Parent Table</th>
                            <th>Child Table</th>
                            <th>Short Description</th>
                            <th>Create Method</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Custom Form -->
    <div class="row">
        <div class="col-lg-12">
            <div id="ibox-custom-form" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Custom Form</h5>
                    <div dl-ibox-tools name="custom_form" editable="{{perms.update}}" edit-fn="dlIboxEdit"
                         save-fn="dlIboxSave" cancel-fn="dlIboxCancel"></div>
                </div>
                <div class="ibox-content">
                    <form disabled name="databaseCustomForm"
                          sf-model="customForm.formData"
                          sf-form="customForm.formDefinition"
                          sf-schema="customForm.schemaDefinition"
                          ng-submit="submitForm(databaseCustomForm,customForm.formData)"
                          sf-options="{ formDefaults: { ngModelOptions: { timezone: '+1100' } }}"
                          class="ng-cloak">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Associated metadata objects -->
    <div class="row">
        <div class="col-lg-12">
            <div id="ibox-asoc" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Associations</h5>
                    <div dl-ibox-tools name="associations" editable="false"></div>
                </div>
                <div class="ibox-content">
                    <button class="btn btn-xs btn-primary m-t-xs pull-right dl-table-hdr-btn" ng-show="perms.update"
                            ng-click="clickThrough(invocationParams.objectId, invocationParams.classId, invocationParams.parentObjectId, invocationParams.parentClassId, 'newAssoc')">Associate</button>
                    <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>Associated Objects</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="assocObject in associations">
                            <td>
                                <div class="dl-assoc-summary">
                                    <span>{{ assocObject.verbPhrase }} </span>
                                    <span class="dl-md-context-label" uib-popover="class: {{assocContextNode.className}}" popover-trigger="mouseenter"
                                          ng-repeat="assocContextNode in assocObject.mdContext">
                                        <span ng-click="clickThrough(assocContextNode.objectId, assocContextNode.classId, assocContextNode.parentObjectId, assocContextNode.parentClassId, 'default')">
                                            {{assocContextNode.internalPath}}
                                        </span>&nbsp;
                                    </span>
                                    <span class="fa fa-list-alt pull-right assoc_detail" ng-click="clickThrough(assocObject.associationId, 0, 0, 0, 'assocDetails')"></span>
                                    <div>{{assocObject.associationShortDesc}}</div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Associated Objects</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Reverse Engineering Details -->
    <div class="row" ng-hide="checkRbac('reveng','update');">
        <div class="col-lg-12">
            <div id="ibox-reveng" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Reverse Engineer Details</h5>
                    <div dl-ibox-tools name="reveng" editable="{{perms.update}}" edit-fn="dlIboxEdit"
                         save-fn="dlIboxSave" cancel-fn="dlIboxCancel"></div>
                </div>
                <div class="ibox-content" ng-class="spinnerLoading">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-3">
                            <label>Database Hostname / FQDN</label>
                            <input class="form-control" type="text" placeholder="FQDN or IP Address of the host on which the database runs"
                                   ng-model="databaseCoreDetails.hostname" ng-disabled="revEngDisabled"/>
                        </div>
                        <div class="form-group col-md-2">
                            <label>Database Port</label>
                            <input class="form-control" type="text" placeholder="The network port for database connectivity"
                                   ng-model="databaseCoreDetails.port" ng-disabled="revEngDisabled"/>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="jdbc_driver_familiy">JDBC Driver Family</label>
                            <select id="jdbc_driver_familiy" class="form-control" placeholder="The JDBC driver family for the database"
                                    ng-model="databaseCoreDetails.jdbcDriverFamily" ng-disabled="revEngDisabled">
                                <option value="mysql">mysql</option>
                                <option value="sqlserver">sqlserver</option>
                                <option value="postgresql">postgresql</option>
                                <option value="oracle">oracle</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label>Username</label>
                            <input class="form-control" type="text" placeholder="Database user for reverse engineering" class="form-control"
                                   ng-model="databaseCoreDetails.username" ng-disabled="revEngDisabled"/>
                        </div>
                        <div class="form-group col-md-3 m-t-lg">
                            <button class="btn btn-xs btn-primary m-r-sm" ng-click="initiateRevengDbUserPassword()">Set Password</button>
                            <button class="btn btn-xs btn-primary" ng-click="testConnection()">Test Connection</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label>Schema Name List</label>
                            <input class="form-control" type="text" placeholder="List of schemas to be reverse engineered" class="form-control"
                                   ng-model="databaseCoreDetails.schemaNameList" ng-disabled="revEngDisabled"/>
                        </div>
                        <div class="form-group col-md-4 m-t-lg">
                            <div class="btn-group m-r-sm" uib-dropdown>
                                <button type="button" class="btn btn-xs btn-primary" uib-dropdown-toggle>
                                    Reverse Engineer&nbsp;&nbsp;<span class="caret"></span>
                                </button>
                                <ul role="menu" uib-dropdown-menu="">
                                    <li><a href="" ng-click="openOfflineDatabaseDialog()">Offline</a></li>
                                    <li><a href="" ng-click="runReverseEngineer()">Online</a></li>
                                </ul>
                            </div>
                            <button class="btn btn-xs btn-primary" ng-click="reconcileRevEngRun()">Reconcile Latest Run</button>
                        </div>
                    </div>
                    <div class="row" ng-hide="connectionTestResult">
                        <div class="col-lg-12">
                            <textarea class="form-control" ng-model="connectionTestErrorMessage" disabled></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table datatable="ng" dt-options="dtOptions02" class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                <tr>
                                    <th>Run Id</th>
                                    <th>Run Result</th>
                                    <th>Result Code</th>
                                    <th>Result Description</th>
                                    <th>Run Datetime</th>
                                    <th>Executed By</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="row04 in gridData04">
                                    <td>{{row04.revEngRunId}}</td>
                                    <td>{{row04.revEngRunResult}}</td>
                                    <td>{{row04.revEngRunCode}}</td>
                                    <td>{{row04.revEngRunDesc}}</td>
                                    <td>{{row04.revEngRunDt}}</td>
                                    <td>{{row04.userLogin}}</td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Run Id</th>
                                    <th>Run Result</th>
                                    <th>Result Code</th>
                                    <th>Result Description</th>
                                    <th>Run Datetime</th>
                                    <th>Executed By</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- More functions -->
    <div class="row">
        <div class="col-lg-12">
            <div id="ibox-more" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>More</h5>
                    <div dl-ibox-tools name="more" editable="false"></div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="button" class="btn btn-default btn-sm" ng-click="openSelectCustomFormWarningDialog()">
                                Select Custom Form for Tables/Views
                            </button>
                            <span class="m-l-md">Current Custom Form for Tables/Views: {{tableViewCustomForm.customFormName}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- TODO: Add the list of diagrams in which objects from the database appear -->

</div>
