<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<div class="row wrapper border-bottom white-bg" ng-controller="SmdSchemaDetailController">
    <div class="col-lg-12 dl-breadcrumb">
        <button class="btn btn-xs btn-primary pull-right" ng-click="goBack()">Go Back</button>
        <span class="pull-right">&nbsp;</span>
        <button class="btn btn-xs btn-default pull-right" ng-click="expandAllDlIbox()"><i class="fa fa-chevron-down"></i></button>
        <span class="pull-right">&nbsp;</span>
        <button class="btn btn-xs btn-default pull-right" ng-click="collapseAllDlIbox()"><i class="fa fa-chevron-up"></i></button>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home.overview">Home</a>
            </li>
            <li>
                <a>Implementation</a>
            </li>
            <li >
                <a ui-sref="smd.smd_database_list">Database</a>
            </li>
            <li class="active">
                <strong>Schema Detail</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="SmdSchemaDetailController" ng-init="initSmdSchemaDetail()">
    <!-- Database Core details -->
    <div class="row">
        <div class="col-lg-12">
            <div id="ibox-core-details" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Core Details</h5>
                    <div dl-ibox-tools name="core_details" editable="{{perms.update}}" edit-fn="dlIboxEdit"
                         save-fn="dlIboxSave" cancel-fn="dlIboxCancel">
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-6 b-r">

                            <form role="form">
                                <div class="form-group">
                                    <label>Schema Name</label>
                                    <input class="form-control" type="text" placeholder="Name of the schema"
                                           ng-model="schemaCoreDetails.schemaName" disabled />
                                </div>
                                <div class="form-group">
                                    <label>Short Description</label>
                                    <textarea class="form-control dl-shortdesc" ng-model="schemaCoreDetails.schemaShortDesc"
                                              placeholder="Short description of the schema" ng-disabled="coreDetailsDisabled" >
									</textarea>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-6">
                            <form role="form">
                                <!--
                                <div class="form-group">
                                    <label>Hosted Realm</label>
                                    <input class="form-control" type="text" placeholder="Hosted realm of the database" ng-model="databaseCoreDetails.hostedRealmName" disabled />
                                    <button class="btn btn-xs btn-primary m-t-xs" ng-click="showHostedRealmDialog()" ng-hide="coreDetailsDisabled">Change</button>
                                </div>
                                <div class="form-group">
                                    <label>Persistence Technology</label>
                                    <input type="text" placeholder="Persistence technology of the database" class="form-control" ng-model="databaseCoreDetails.persistenceTechnologyName" disabled />
                                    <button class="btn btn-xs btn-primary m-t-xs" ng-click="showPersistenceTechnologyDialog()" ng-hide="coreDetailsDisabled">Change</button>
                                </div>
                                <div class="form-group">
                                    <label>Business Contact</label>
                                    <input class="form-control" type="text" placeholder="Business contact for the database" ng-model="databaseCoreDetails.businessContact" ng-disabled="coreDetailsDisabled" />
                                </div>
                                <div class="form-group">
                                    <label>Technical Contact</label>
                                    <input type="text" placeholder="Technical contact for the database" class="form-control" ng-model="databaseCoreDetails.technicalContact" ng-disabled="coreDetailsDisabled" />
                                </div>
                                -->
                                <div class="form-group">
                                    <label>Data Sensitivity</label>
                                    <button class="btn btn-xs btn-primary m-t-xs pull-right dl-table-hdr-btn" ng-hide="coreDetailsDisabled"
                                            ng-click="openDSassignMultiDialog()">Change Data Sensitivity</button>
                                    <i class="fa fa-list-alt" ng-show="coreDetailsDisabled"
                                       ng-click="clickThrough(schemaId, classId, 0, 0, 'dsReport')" style="cursor: pointer;"></i>
                                    <p style="line-height: 180%;">
                                        <span class="dl-ds-tag m-r-xs" ng-class="dsTagDefn.cssClass" ng-repeat="dsTagDefn in dlDsTagList">
                                            {{dsTagDefn.tagName}}
                                        </span>
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label>Object GUID</label>
                                    <input type="text" placeholder="Object GUID for the database definition" class="form-control" ng-model="schemaCoreDetails.objectGUID" disabled />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Table/View list -->
    <div class="row">
        <div class="col-lg-12">
            <div id="ibox-tables" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Tables</h5>
                    <div dl-ibox-tools editable="false" name="schema_tables"></div>
                </div>
                <div class="ibox-content" ng-class="spinnerLoading">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>

                    <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>Table/View Name</th>
                            <th>Class Name</th>
                            <th>Short Description</th>
                            <th>Column Count</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row01 in gridData01">
                            <td><a ng-click="clickThrough(row01.tableViewId, row01.classId, 0, 0, 'tableViewDetail');">{{ row01.tableViewName }}</a></td>
                            <td>{{ row01.className}} </td>
                            <td>
                                {{ row01.tableViewShortDesc }}
                                <i class="fa fa-edit dl-incell-edit" ng-disabled="checkRbac('penv','update')"
                                   ng-click="openInCellEditDialog(row01.tableViewId, row01.classId, row01.tableViewShortDesc)"></i>
                            </td>
                            <td>{{ row01.columnCount }}</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Table/View Name</th>
                            <th>Class Name</th>
                            <th>Short Description</th>
                            <th>Column Count</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Relationship list -->
    <div class="row">
        <div class="col-lg-12">
            <div id="ibox-relationships" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Relationships</h5>
                    <div dl-ibox-tools editable="false" name="database_relationships"></div>
                </div>
                <div class="ibox-content" ng-class="spinnerLoading">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>

                    <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>Relationship Name</th>
                            <th>Parent Table</th>
                            <th>Child Table</th>
                            <th>Short Description</th>
                            <th>Create Method</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row03 in gridData03">
                            <td><a ng-click="clickThrough(row03.relationshipId, row03.classId, 0, 0, 'relationshipDetail');">{{ row03.relationshipName }}</a></td>
                            <td>{{ row03.parentTableViewName}} </td>
                            <td>{{ row03.childTableViewName}} </td>
                            <td>
                                {{ row03.relationshipShortDesc }}
                                <i class="fa fa-edit dl-incell-edit" ng-disabled="checkRbac('penv','update')"
                                   ng-click="openInCellEditDialog(row03.relationshipId, row03.classId, row03.relationshipShortDesc)"></i>
                            </td>
                            <td ng-switch on="row03.createMode">
                                <span ng-switch-when="10">Reverse engineered</span>
                                <span ng-switch-when="30">User defined</span>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Relationship Name</th>
                            <th>Parent Table</th>
                            <th>Child Table</th>
                            <th>Short Description</th>
                            <th>Create Method</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Custom Form -->
    <div class="row">
        <div class="col-lg-12">
            <div id="ibox-custom-form" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Custom Form</h5>
                    <div dl-ibox-tools name="custom_form" editable="{{perms.update}}" edit-fn="dlIboxEdit"
                         save-fn="dlIboxSave" cancel-fn="dlIboxCancel"></div>
                </div>
                <div class="ibox-content">
                    <form disabled name="databaseCustomForm"
                          sf-model="customForm.formData"
                          sf-form="customForm.formDefinition"
                          sf-schema="customForm.schemaDefinition"
                          ng-submit="submitForm(databaseCustomForm,customForm.formData)"
                          sf-options="{ formDefaults: { ngModelOptions: { timezone: '+1100' } }}"
                          class="ng-cloak">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Associated metadata objects -->
    <div class="row">
        <div class="col-lg-12">
            <div id="ibox-asoc" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Associations</h5>
                    <div dl-ibox-tools name="associations" editable="false"></div>
                </div>
                <div class="ibox-content">
                    <button class="btn btn-xs btn-primary m-t-xs pull-right dl-table-hdr-btn" ng-show="perms.update"
                            ng-click="clickThrough(invocationParams.objectId, invocationParams.classId, invocationParams.parentObjectId, invocationParams.parentClassId, 'newAssoc')">Associate</button>
                    <!-- lineage at the database level is implemented as a data flow at present
                    <button class="btn btn-xs dl-btn-lineage m-t-xs pull-right dl-table-hdr-btn"
                            ng-click="clickThrough(invocationParams.objectId, invocationParams.classId, invocationParams.parentObjectId, invocationParams.parentClassId, 'lineage')">Lineage</button>
                    -->
                    <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>Associated Objects</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="assocObject in associations">
                            <td>
                                <div class="dl-assoc-summary">
                                    <span>{{ assocObject.verbPhrase }} </span>
                                    <span class="dl-md-context-label" uib-popover="class: {{assocContextNode.className}}" popover-trigger="mouseenter"
                                          ng-repeat="assocContextNode in assocObject.mdContext">
                                        <span ng-click="clickThrough(assocContextNode.objectId, assocContextNode.classId, assocContextNode.parentObjectId, assocContextNode.parentClassId, 'default')">
                                            {{assocContextNode.internalPath}}
                                        </span>&nbsp;
                                    </span>
                                    <span class="fa fa-list-alt pull-right assoc_detail" ng-click="clickThrough(assocObject.associationId, 0, 0, 0, 'assocDetails')"></span>
                                    <div>{{assocObject.associationShortDesc}}</div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Associated Objects</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- TODO: Add the list of diagrams in which objects from the database appear -->

</div>
