<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<div class="row wrapper border-bottom white-bg" ng-controller="SmdRelationshipDetailController">
    <div class="col-lg-12 dl-breadcrumb">
        <button class="btn btn-xs btn-primary pull-right" ng-click="goBack()">Go Back</button>
        <span class="pull-right">&nbsp;</span>
        <button class="btn btn-xs btn-default pull-right" ng-click="expandAllDlIbox()"><i class="fa fa-chevron-down"></i></button>
        <span class="pull-right">&nbsp;</span>
        <button class="btn btn-xs btn-default pull-right" ng-click="collapseAllDlIbox()"><i class="fa fa-chevron-up"></i></button>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home.overview">Home</a>
            </li>
            <li>
                <a>Implementation</a>
            </li>
            <li >
                <a ui-sref="smd.smd_database_list">Database</a>
            </li>
            <li class="active">
                <strong>Relationship Detail</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="SmdRelationshipDetailController" ng-init="initSmdRelationshipDetail()">
    <!-- Relationship Core details -->
    <div class="row">
        <div class="col-lg-12">
            <div id="ibox-core-details" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Core Details</h5>
                    <div dl-ibox-tools name="core_details" editable="{{perms.update}}" edit-fn="dlIboxEdit"
                         save-fn="dlIboxSave" cancel-fn="dlIboxCancel">
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-6 b-r">

                            <form role="form">
                                <div class="form-group">
                                    <label>Relationship Name</label>
                                    <input class="form-control" type="text" placeholder="Name of the relationship"
                                           ng-model="relationshipCoreDetails.relationshipName" disabled />
                                </div>
                                <div class="form-group">
                                    <label>Create Method</label>
                                    <input class="form-control" type="text" placeholder="Method by which the relationship was created"
                                           ng-model="relationshipCoreDetails.createModeText" disabled />
                                </div>
                                <div class="form-group">
                                    <label>Short Description</label>
                                    <textarea class="form-control dl-shortdesc" ng-model="relationshipCoreDetails.relationshipShortDesc"
                                              placeholder="Short description of the relationship" ng-disabled="coreDetailsDisabled" >
									</textarea>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-3">
                            <form role="form">
                                <div class="form-group">
                                    <label>Parent Table Schema</label>
                                    <input class="form-control" type="text" placeholder="Parent Table Schema"
                                           ng-model="relationshipCoreDetails.parentTableViewSchemaName" disabled />
                                </div>
                                <div class="form-group">
                                    <label>Child Table Schema</label>
                                    <input class="form-control" type="text" placeholder="Child Table Schema"
                                           ng-model="relationshipCoreDetails.childTableViewSchemaName" disabled />
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-3">
                            <form role="form">
                                <div class="form-group">
                                    <label>Parent Table</label>
                                    <input class="form-control" type="text" placeholder="Parent Table"
                                           ng-model="relationshipCoreDetails.parentTableViewName" disabled />
                                </div>
                                <div class="form-group">
                                    <label>Child Table</label>
                                    <input class="form-control" type="text" placeholder="Child Table"
                                           ng-model="relationshipCoreDetails.childTableViewName" disabled />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Column Pair list -->
    <div class="row">
        <div class="col-lg-12">
            <div id="ibox-column-pairs" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Column Pairs</h5>
                    <div dl-ibox-tools editable="false" name="column_pairs"></div>
                </div>
                <div class="ibox-content" ng-class="spinnerLoading">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>

                    <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Parent Column</th>
                            <th>Child Column</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row02 in columnPairs">
                            <!-- <td><a ng-click="clickThrough(row02.parentColumnId, row02.classId);">{{ row02.schemaName }}</a></td>-->
                            <td>
                                <span ng-bind="row02.parentColumnName"></span>&nbsp;
                                <span ng-bind="row02.parentColumnDatatype"></span>&nbsp;
                                <span ng-if="row02.parentColumnPrimaryKey">PK</span>
                            </td>
                            <td>
                                <span ng-bind="row02.childColumnName"></span>&nbsp;
                                <span ng-bind="row02.childColumnDatatype"></span>&nbsp;
                                <span ng-if="row02.childColumnPrimaryKey">PK</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- More functions -->
    <div class="row">
        <div class="col-lg-12">
            <div id="ibox-more" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>More</h5>
                    <div dl-ibox-tools name="more" editable="false"></div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="button" class="btn btn-danger btn-sm" ng-show="relationshipCoreDetails.createMode == 30"
                                    ng-disabled="!perms.delete" ng-click="confirmDelete()">
                                Delete Relationship
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
