<div class="row wrapper border-bottom white-bg" ng-controller="SmdTableViewDetailController">
    <div class="col-lg-12 dl-breadcrumb">
        <button class="btn btn-xs btn-primary pull-right" ng-click="goBack()">Go Back</button>
        <span class="pull-right">&nbsp;</span>
        <button class="btn btn-xs btn-default pull-right" ng-click="expandAllDlIbox()"><i class="fa fa-chevron-down"></i></button>
        <span class="pull-right">&nbsp;</span>
        <button class="btn btn-xs btn-default pull-right" ng-click="collapseAllDlIbox()"><i class="fa fa-chevron-up"></i></button>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home.overview">Home</a>
            </li>
            <li>
                <a>Implementation</a>
            </li>
            <li>
                <a ui-sref="smd.smd_database_list">Database</a>
            </li>
            <li class="active">
                <strong>Table/View Detail</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="SmdTableViewDetailController" ng-init="initSmdTableViewDetail()">
    <!-- Table View Core details -->
    <div class="row">
        <div class="col-lg-12">
            <div id="ibox-core-details" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Core Details</h5>
                    <div dl-ibox-tools name="core_details" editable="{{perms.update}}" edit-fn="dlIboxEdit"
                         save-fn="dlIboxSave" cancel-fn="dlIboxCancel"></div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-6 b-r">
                            <form role="form">
                                <div class="form-group">
                                    <label>Table/View Name</label>
                                    <input class="form-control" type="text" placeholder="Name of the table/view" ng-model="tableViewCoreDetails.tableViewName" disabled />
                                </div>
                                <div class="form-group">
                                    <label>Short Description</label>
                                    <textarea placeholder="Short description of the table/view" class="form-control" ng-model="tableViewCoreDetails.tableViewShortDesc" ng-disabled="coreDetailsDisabled" >
									</textarea>
                                </div>
                                <div class="form-group">
                                    <label>Table/View Class</label>
                                    <input class="form-control" type="text" placeholder="Name of the table/view class" ng-model="tableViewCoreDetails.className" disabled />
                                </div>
                                <button type="button" class="btn btn-default btn-sm" ng-click="clickThrough(tableViewCoreDetails.tableViewId, tableViewCoreDetails.classId, 0, 0, 'fullAssoc')">
                                    Full Association View
                                </button>
                                <button type="button" class="btn btn-default btn-sm" ng-click="clickThrough(tableViewCoreDetails.tableViewId, tableViewCoreDetails.classId, 0, 0, 'lineage')">
                                    Lineage
                                </button>
                            </form>
                        </div>
                        <div class="col-lg-6 b-r">
                            <form role="form">
                                <div class="form-group">
                                    <label>Data Sensitivity</label>
                                    <button class="btn btn-xs btn-primary m-t-xs pull-right dl-table-hdr-btn" ng-hide="coreDetailsDisabled"
                                            ng-click="openDSassignMultiDialog()">Change Data Sensitivity</button>
                                    <p style="line-height: 180%;">
                                        <span class="dl-ds-tag m-r-xs" ng-class="dsTagDefn.cssClass" ng-repeat="dsTagDefn in dlDsTagList">
                                            {{dsTagDefn.tagName}}
                                        </span>
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label>Schema Name</label>
                                    <input class="form-control" type="text" placeholder="Name of the table/view class" ng-model="tableViewCoreDetails.schemaName" disabled />
                                </div>
                                <div class="form-group">
                                    <label>Object GUID</label>
                                    <input class="form-control" type="text" placeholder="Object GUID for the table/view metadata object" ng-model="tableViewCoreDetails.objectGUID" disabled />
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Column list -->
    <div class="row">
        <div class="col-lg-12">
            <div id="ibox-column-list" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Columns</h5>
                    <div dl-ibox-tools editable="false" name="database_tables"></div>
                </div>
                <div class="ibox-content">
                    <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>Ordinal</th>
                            <th>Column Name</th>
                            <th>Datatype</th>
                            <th>Data Sensitivity</th>
                            <th>Short Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row01 in gridData01">
                            <td>{{ row01.columnOrdinal }}</td>
                            <td><a ng-click="clickThrough(row01.columnId, 8, invocationParams.objectId, invocationParams.classId, 'default')">{{ row01.columnName }}</a></td> <!-- TODO: classId should be returned in query for gridData01 -->
                            <td>
                                {{ row01.columnDatatype }}
                                <span ng-show="row01.primaryKey == 1">PK</span>
                            </td>
                            <td>
                                <span class="dl-ds-tag m-r-xs" ng-class="getCssClassForLevel(row01.dlDsTag.dlDsLevel)">
                                    {{row01.dlDsTag.dlDsName}}
                                </span>
                            </td>
                            <td>
                                {{ row01.columnShortDesc }}
                                <i class="fa fa-edit dl-incell-edit" ng-disabled="checkRbac('penv','update')"
                                   ng-click="openInCellEditDialog(row01.columnId, row01.classId, row01.columnShortDesc)"></i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Custom Form -->
    <div class="row">
        <div class="col-lg-12">
            <div id="ibox-custom-form" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Custom Form</h5>
                    <div dl-ibox-tools name="custom_form" editable="{{perms.update}}" edit-fn="dlIboxEdit"
                         save-fn="dlIboxSave" cancel-fn="dlIboxCancel"></div>
                </div>
                <div class="ibox-content">
                    <form disabled name="tableViewCustomForm"
                          sf-model="customForm.formData"
                          sf-form="customForm.formDefinition"
                          sf-schema="customForm.schemaDefinition"
                          ng-submit="submitForm(tableViewCustomForm, customForm.formData)"
                          sf-options="{ formDefaults: { ngModelOptions: { timezone: '+1100' } }}"
                          class="ng-cloak">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Associated metadata objects -->
    <div class="row">
        <div class="col-lg-12">
            <div id="ibox-asoc" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Associations</h5>
                    <div dl-ibox-tools name="associations" editable="false"></div>
                </div>
                <div class="ibox-content">
                    <button class="btn btn-xs btn-primary m-t-xs pull-right dl-table-hdr-btn" ng-show="perms.update"
                            ng-click="clickThrough(invocationParams.objectId, invocationParams.classId, invocationParams.parentObjectId, invocationParams.parentClassId, 'newAssoc')">Associate</button>
                    <button class="btn btn-xs dl-btn-lineage m-t-xs pull-right dl-table-hdr-btn"
                            ng-click="clickThrough(invocationParams.objectId, invocationParams.classId, invocationParams.parentObjectId, invocationParams.parentClassId, 'lineage')">Lineage</button>
                    <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>Associated Objects</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="assocObject in associations">
                            <td>
                                <div class="dl-assoc-summary">
                                    <span>{{ assocObject.verbPhrase }} </span>
                                    <span class="dl-md-context-label" uib-popover="class: {{assocContextNode.className}}" popover-trigger="mouseenter"
                                          ng-repeat="assocContextNode in assocObject.mdContext">
                                        <span ng-click="clickThrough(assocContextNode.objectId, assocContextNode.classId, assocContextNode.parentObjectId, assocContextNode.parentClassId, 'default')">
                                            {{assocContextNode.internalPath}}
                                        </span>&nbsp;
                                    </span>
                                    <span class="fa fa-list-alt pull-right assoc_detail" ng-click="clickThrough(assocObject.associationId, 0, 0, 0, 'assocDetails')"></span>
                                    <div>{{assocObject.associationShortDesc}}</div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Associated Objects</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- More functions -->
    <div class="row">
        <div class="col-lg-12">
            <div id="ibox-more" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>More</h5>
                    <div dl-ibox-tools name="more" editable="false"></div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="button" class="btn btn-default btn-sm" ng-click="openSelectCustomFormWarningDialog()" ng-show="perms.update">
                                Select Custom Form for Columns
                            </button>
                            <span class="m-l-md">Current Custom Form for Columns: {{columnCustomForm.customFormName}}</span>
                            <br/>
                            <br/>
                            <button type="button" class="btn btn-default btn-sm" ng-click="clickThrough(invocationParams.objectId, invocationParams.classId, invocationParams.parentObjectId, invocationParams.parentClassId, 'compare')">
                                Compare to Another Table
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
