<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<div class="row wrapper border-bottom white-bg" ng-controller="SmdColumnDetailController">
    <div class="col-lg-12 dl-breadcrumb">
        <button class="btn btn-xs btn-primary pull-right" ng-click="goBack()">Go Back</button>
        <span class="pull-right">&nbsp;</span>
        <button class="btn btn-xs btn-default pull-right" ng-click="expandAllDlIbox()"><i class="fa fa-chevron-down"></i></button>
        <span class="pull-right">&nbsp;</span>
        <button class="btn btn-xs btn-default pull-right" ng-click="collapseAllDlIbox()"><i class="fa fa-chevron-up"></i></button>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home.overview">Home</a>
            </li>
            <li>
                <a>Implementation</a>
            </li>
            <li>
                <a ui-sref="smd.smd_database_list">Database</a>
            </li>
            <li>
                <a ng-click="clickThrough(invocationParams.parentObjectId, invocationParams.parentClassId, 0, 0)">Table</a>
            </li>
            <li class="active">
                <strong>Column Detail</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="SmdColumnDetailController" ng-init="initSmdColumnDetail()">
    <!-- Column Core details -->
    <div class="row">
        <div class="col-lg-12">
            <div id="ibox-core-details" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Core Details</h5>
                    <div dl-ibox-tools name="core_details" editable="{{perms.update}}" edit-fn="dlIboxEdit"
                         save-fn="dlIboxSave" cancel-fn="dlIboxCancel"></div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-6 b-r">

                            <form role="form">
                                <div class="form-group">
                                    <label>Column Name</label>
                                    <input class="form-control" type="text" placeholder="Name of the column"
                                           ng-model="columnDetails.coreDetails.columnName" disabled />
                                </div>
                                <div class="form-group">
                                    <label>Column Short Description</label>
                                    <textarea class="form-control dl-shortdesc" placeholder="Short description of the column"
                                              ng-model="columnDetails.coreDetails.columnShortDesc" ng-disabled="editingDisabled.coreDetails" >
									</textarea>
                                </div>
                                <div class="form-group col-lg-9">
                                    <label>Datatype</label>
                                    <input class="form-control" type="text" placeholder="Datatype of the column"
                                           ng-model="columnDetails.coreDetails.columnDatatype" disabled />
                                </div>
                                <div class="form-group col-lg-3">
                                    <label>Position</label>
                                    <input class="form-control" type="text" placeholder="Position of the column in the table"
                                           ng-model="columnDetails.coreDetails.columnOrdinal" disabled />
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-6">
                            <form role="form">
                                <div class="form-group">
                                    <label>Data Sensitivity</label>
                                    <button class="btn btn-xs btn-primary m-t-xs pull-right dl-table-hdr-btn" ng-hide="editingDisabled.coreDetails"
                                            ng-click="openDSassignSingleDialog()">Change Data Sensitivity</button>

                                    <p style="line-height: 180%;">
                                    <span class="dl-ds-tag m-r-xs" ng-class="getDataSensitivityCssClass(columnDetails.coreDetails.dlDsTag.dlDsLevel)">
                                        {{columnDetails.coreDetails.dlDsTag.dlDsName}}
                                    </span>
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label>Parent Table/View Name</label>
                                    <input class="form-control" type="text" placeholder="Name of the parent Table or View"
                                           ng-model="columnDetails.coreDetails.tableViewName" disabled />
                                </div>
                                <div class="form-group">
                                    <label>Parent Table/View Short Description</label>
                                    <textarea class="form-control dl-shortdesc" placeholder="Short description of the Table or View"
                                              ng-model="columnDetails.coreDetails.tableViewShortDesc" disabled >
									</textarea>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Column custom form -->
    <div class="row">
        <div class="col-lg-12">
            <div id="ibox-custom-form" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Custom Form</h5>
                    <div dl-ibox-tools name="custom_form" editable="{{perms.update}}" edit-fn="dlIboxEdit"
                         save-fn="dlIboxSave" cancel-fn="dlIboxCancel"></div>
                </div>
                <div class="ibox-content">
                    <form disabled name="columnCustomForm"
                          sf-model="customForm.formData"
                          sf-form="customForm.formDefinition"
                          sf-schema="customForm.schemaDefinition"
                          ng-submit="submitForm(columnCustomForm, customForm.formData)"
                          sf-options="{ formDefaults: { ngModelOptions: { timezone: '+1100' } }}"
                          class="ng-cloak">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Associated metadata objects -->
    <div class="row">
        <div class="col-lg-12">
            <div id="ibox-asoc" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Associations</h5>
                    <div dl-ibox-tools name="associations" editable="{{perms.update}}" edit-fn="dlIboxEdit"
                         save-fn="dlIboxSave" cancel-fn="dlIboxCancel"></div>
                </div>
                <div class="ibox-content">
                    <button class="btn btn-xs btn-primary m-t-xs pull-right dl-table-hdr-btn" ng-hide="editingDisabled.associations"
                            ng-click="clickThrough(invocationParams.objectId, invocationParams.classId, invocationParams.parentObjectId, invocationParams.parentClassId, 'newAssoc')">Associate</button>
                    <button class="btn btn-xs dl-btn-lineage m-t-xs pull-right dl-table-hdr-btn"
                            ng-click="clickThrough(invocationParams.objectId, invocationParams.classId, invocationParams.parentObjectId, invocationParams.parentClassId, 'lineage')">Lineage</button>
                    <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>Associated Objects</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="assocObject in columnDetails.associations">
                            <td>
                                <div class="dl-assoc-summary">
                                    <span>{{ assocObject.verbPhrase }} </span>
                                    <span class="dl-md-context-label" uib-popover="class: {{assocContextNode.className}}" popover-trigger="mouseenter"
                                          ng-repeat="assocContextNode in assocObject.mdContext">
                                        <span ng-click="clickThrough(assocContextNode.objectId, assocContextNode.classId, assocContextNode.parentObjectId, assocContextNode.parentClassId, 'default')">
                                            {{assocContextNode.internalPath}}
                                        </span>&nbsp;
                                    </span>
                                    <span class="fa fa-list-alt pull-right assoc_detail" ng-click="clickThrough(assocObject.associationId, 0, 0, 0, 'assocDetails')"></span>
                                    <div>{{assocObject.associationShortDesc}}</div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Associated Objects</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Column Full Description -->
    <div class="row">
        <div class="col-lg-12">
            <div id="ibox-full-desc" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Full Description</h5>
                    <div dl-ibox-tools name="full_desc" editable="{{perms.update}}" edit-fn="dlIboxEdit"
                         save-fn="dlIboxSave" cancel-fn="dlIboxCancel"></div>
                </div>
                <div class="ibox-content">
                    <div id="fullDescReadOnly" ng-hide="editFullDesc"></div>
                    <div ng-show="editFullDesc">
                        <summernote ng-model="columnFullDescription.content" editable="editable" ></summernote>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
