<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<div ng-controller="PdmDiagramController">
	<div class="row wrapper border-bottom white-bg">
		<div class="col-lg-12 dl-breadcrumb">
			<button class="btn btn-xs btn-primary pull-right" ng-click="goBack()">Go Back</button>
			<ol class="breadcrumb">
				<li>
					<a ui-sref="home.overview">Home</a>
				</li>
				<li>
					<a>Data Models</a>
				</li>
				<li>
					<a>PDM Diagrams</a>
				</li>
				<li class="active">
					<strong>View</strong>
				</li>
			</ol>
		</div>
		<div class="col-lg-2">
		</div>
	</div>

	<div class="wrapper wrapper-content animated fadeIn">
		<div>
			<div class="row">
				<div class="col-lg-12">
					<div class="ibox">

						<!-- this is the menu area -->
						<div id="menu-bar" class="row" style="padding-left: 14px; padding-bottom: 4px;">
							<div class="btn-group" uib-dropdown keyboard-nav>
								<button type="button" class="btn btn-default btn-sm" uib-dropdown-toggle accesskey="g">
									Diagram <span class="caret"></span>
								</button>
								<ul role="menu" uib-dropdown-menu="">
									<!-- These commands are redundant and will be removed.
									<li role="menuitem"><a href="" ng-click="createDiagram()">Create</a></li>
									<li role="menuitem"><a href="" ng-click="openDiagram()">Open</a></li>
									-->
									<li role="menuitem"><a href="" ng-click="checkClose()">Close</a></li>
									<li role="menuitem"><a href="" ng-click="saveDiagram()">Save</a></li>
									<li role="menuitem"><a href="" ng-click="confirmDelete()">Delete</a></li>
									<li class="divider"></li>
									<li role="menuitem"><a href="" ng-click="toggleDiagramFullDescription('show')" ng-show="viewMode < 3">Show Info</a></li>
									<li role="menuitem"><a href="" ng-click="toggleDiagramFullDescription('hide')" ng-show="viewMode == 3">Hide Info</a></li>
								</ul>
							</div>

							<div class="btn-group" uib-dropdown keyboard-nav>
								<button type="button" class="btn btn-default btn-sm" uib-dropdown-toggle ng-disabled="currentDiagram.diagramId == 0" accesskey="b">
									Database <span class="caret"></span>
								</button>
								<ul role="menu" uib-dropdown-menu="">
									<li role="menuitem"><a href="" ng-click="pdmSelectSmdDatabase()">Select</a></li>
									<li role="menuitem"><a href="" ng-click="pdmDatabaseInfo()">Info</a></li>
									<li role="menuitem"><a href="" ng-click="setViewMode(2)" ng-show="viewMode != 2">Show Tables/Views</a></li>
									<li role="menuitem"><a href="" ng-click="setViewMode(1)" ng-show="viewMode == 2">Hide Tables/Views</a></li>
								</ul>
							</div>

							<div class="btn-group">
								<button type="button" class="btn btn-default btn-sm" ng-model="entityDetailsSidebar" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0"> <i class="fa fa-newspaper-o"></i> </button>
							</div>

							<button class="btn btn-default btn-sm" ng-class="{'btn-warning': dirtyCanvas}" ng-click="saveDiagram()"> Save </button>

							<button class="btn btn-default btn-sm" ng-click="expandCollapseAll(false)"> Expand All </button>
							<button class="btn btn-default btn-sm" ng-click="expandCollapseAll(true)"> Collapse All </button>

							<button class="btn btn-sm btn-default" ng-click="zoomIn()"><span class="fa fa-search-plus"></span></button>
							<button class="btn btn-default btn-sm" ng-click="zoomReset()">1:1</button>
							<button class="btn btn-sm btn-default" ng-click="zoomOut()"><span class="fa fa-search-minus"></span></button>

							<div class="pull-right">
								Diagram Name: {{currentDiagram.name}}
							</div>

						</div>

						<div id="ab" ng-show="viewMode == 1">
							<!-- this is the Detail Panel that displays details of a selected table/view and column -->
							<div class="pull-right" ng-class="{'col-sm-3':edsSize==3, 'col-sm-4':edsSize==4, 'col-sm-5':edsSize==5}"
								 ng-show="entityDetailsSidebar && viewMode == 1"
								 style="background-color: #FFFFFF; height: 80vh;">
								<div>
									<div class="pull-left m-r-sm">
										<a ng-click="resizeEntityDetailsSidebar('plus')"><i class="fa fa-caret-left"></i></a>
										&nbsp
										<a ng-click="resizeEntityDetailsSidebar('minus')"><i class="fa fa-caret-right"></i></a>
									</div>
									<div class="tabs-container">
										<uib-tabset>
											<!-- The Table/View tab of the Details Panel -->
											<uib-tab active="activeTab.tableView" ng-click="setActiveTab(1)" heading="Table/View">
												<div class="ibox">
													<br/>
													<a ng-click="dlIboxEdit('tblvw')" class="pull-right dl-edit-btn" ng-show="editingDisabled.tblvw">
														<i class="fa fa-edit"></i>
													</a>
													<a ng-click="dlIboxCancel('tblvw')" class="pull-right dl-edit-btn" ng-hide="editingDisabled.tblvw">
														<i class="fa fa-times"></i>
													</a>
													<a ng-click="dlIboxSave('tblvw')" class="pull-right dl-edit-btn" ng-hide="editingDisabled.tblvw">
														<i class="fa fa-check"></i>
													</a>
													<div class="form-group">
														<label>Table/View Name</label>
														<div class="m-l-sm"><a href="" ng-click="clickThrough(selectedTableView.tableViewId, selectedTableView.classId)">{{ selectedTableView.tableViewName }}</a></div>
													</div>
													<div class="form-group">
														<label>Description</label>
														<textarea class="form-control" style="resize: vertical; width: 100%;"
																  ng-model="selectedTableView.tableViewShortDesc" ng-disabled="editingDisabled.tblvw"></textarea>
													</div>
													<div class="form-group">
														<label>Comments</label>
														<div class="form-control dl-comments-container"></div>
														<button class="btn btn-success btn-sm pull-right" type="button" ng-click="">New Comment</button>
													</div>
												</div>
											</uib-tab>
											<!-- The Column tab of the Details Panel -->
											<uib-tab active="activeTab.column" ng-click="setActiveTab(2)" heading="Column">
												<div class="ibox">
													<br/>
													<a ng-click="dlIboxEdit('clmn')" class="pull-right dl-edit-btn" ng-show="editingDisabled.clmn">
														<i class="fa fa-edit"></i>
													</a>
													<a ng-click="dlIboxCancel('clmn')" class="pull-right dl-edit-btn" ng-hide="editingDisabled.clmn">
														<i class="fa fa-times"></i>
													</a>
													<a ng-click="dlIboxSave('clmn')" class="pull-right dl-edit-btn" ng-hide="editingDisabled.clmn">
														<i class="fa fa-check"></i>
													</a>

													<div class="form-group">
														<label>Column Name</label>
														<div class="m-l-sm"><a href="" ng-click="clickThrough(selectedColumn.columnId, selectedColumn.classId)">{{ selectedColumn.columnName }}</a></div>
													</div>
													<div class="form-group">
														<label>Datatype</label>
														<input type="text" placeholder="Column Datatype" class="form-control"
															   ng-model="selectedColumn.columnDatatype" disabled />
													</div>
													<div class="form-group">
														<label>Description</label>
														<textarea class="form-control dl-shortdesc"
																  ng-model="selectedColumn.columnShortDesc" ng-disabled="editingDisabled.clmn"></textarea>
													</div>
													<div class="form-group">
														<label>Comments</label>
														<div class="form-control dl-comments-container"></div>
														<button class="btn btn-success btn-sm pull-right" type="button" ng-click="">New Comment</button>
													</div>
												</div>
											</uib-tab>
											<!-- The Relationship tab of the Details Panel -->
											<uib-tab active="activeTab.relationship" ng-click="setActiveTab(3)" heading="Relationship">
												<div class="ibox">
													<br/>
													<a ng-click="dlIboxParentEdit('rlshp')" class="pull-right dl-edit-btn" ng-show="editingDisabled.rlshp">
														<i class="fa fa-edit"></i>
													</a>
													<a ng-click="dlIboxParentCancel('rlshp')" class="pull-right dl-edit-btn" ng-hide="editingDisabled.rlshp">
														<i class="fa fa-times"></i>
													</a>
													<a ng-click="dlIboxParentSave('rlshp')" class="pull-right dl-edit-btn" ng-hide="editingDisabled.rlshp">
														<i class="fa fa-check"></i>
													</a>

													<div class="form-group">
														<label>Relationship Name</label>
														<input type="text" placeholder="Relationship Name" class="form-control"
															   ng-model="selectedRelationship.relationshipName" disabled />
													</div>
													<div class="form-group">
														<label>Short Description</label>
														<textarea class="form-control dl-shortdesc"
																  ng-model="selectedRelationship.relationshipShortDesc" ng-disabled="editingDisabled.rlshp"></textarea>
													</div>
													<div class="form-group">
														<label>Parent Table Name</label>
														<input type="text" placeholder="Parent Table Name" class="form-control"
															   ng-model="selectedRelationship.parentTableViewName" disabled />
													</div>
													<div class="form-group">
														<label>Child Table Name</label>
														<input type="text" placeholder="Child Table Name" class="form-control"
															   ng-model="selectedRelationship.childTableViewName" disabled />
													</div>
													<div class="form-group">
														<label>Column Pairs</label>
														<table class="table table-striped table-bordered table-hover">
															<thead>
															<tr>
																<th>Parent Column</th>
																<th>Child Column</th>
															</tr>
															</thead>
															<tbody>
															<tr ng-repeat="row01 in selectedRelationship.columnPairs">
																<td>{{ row01.parentColumnName }}</td>
																<td>{{ row01.childColumnName }}</td>
															</tr>
															</tbody>
														</table>

													</div>
												</div>
											</uib-tab>
											<!-- The Relationship tab of the Details Panel -->
											<uib-tab active="activeTab.diagram" ng-click="setActiveTab(4)" heading="Diagram">
												<div class="ibox">
													<br/>
													<div class="form-group">
														<label>Diagram Full Description</label>
														<div ng-bind-html="diagramFullDesc" disabled style="overflow-y: scroll">
														</div>
													</div>
												</div>
											</uib-tab>
										</uib-tabset>
									</div>
								</div>
							</div>

							<!-- this is the main canvas -->
							<div style="z-index: 0; height: 80vh; overflow-x: scroll; overflow-y: scroll;">
								<div style="width: 2000px; height: 4000px;">
									<div id="pdmcanvas" draw2d-canvas class="dl-d2d-canvas" style="position: relative; background-color: #f3f3f4">
									</div>
								</div>
							</div>
						</div>

						<!-- this is the SMD database table/view selection grid -->
						<div id="pdmsmd" class="ibox-content" ng-show="viewMode == 2">
							<div class="pull-right" ng-show="viewMode == 2">
								&nbsp;
								<button class="btn btn-success btn-sm" type="button" ng-click="updateSelectedObjects()">Update</button>
								&nbsp;
								<button class="btn btn-default btn-sm" type="button" ng-click="setViewMode(1)">Cancel</button>
							</div>

							<table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover">
								<thead>
								<tr>
									<th width="10">Selected</th>
									<th>Schema Name</th>
									<th>Table/View Name</th>
									<th>Table/View Description</th>
								</tr>
								</thead>
								<tbody>
								<tr ng-repeat="row in allEntities">
									<td>
										<input type="checkbox" ng-checked="row.selected == 1" ng-true-value="1" ng-false-value="0" ng-model="row.selection_change">
									</td>
									<td>{{ row.smd_schema_name }}</td>
									<td>{{ row.object_name }}</td>
									<td>None provided</td>
								</tr>
								</tbody>
								<tfoot>
								<tr>
									<th>Selected</th>
									<th>Schema Name</th>
									<th>Table/View Name</th>
									<th>Table/View Description</th>
								</tr>
								</tfoot>
							</table>
						</div>

						<!-- this is the diagram full description view -->
						<div id="pdmfuldesc" ng-show="viewMode == 3">
							<div class="row">
								<div class="col-sm-12">
									<div class="ibox float-e-margins">
										<div class="ibox-title">
											<h5>Core Details</h5>
											<div dl-ibox-tools name="core_details" editable="{{perms.update}}" edit-fn="dlIboxEdit"
												 save-fn="dlIboxSave" cancel-fn="dlIboxCancel"></div>
										</div>
										<div class="ibox-content">
											<div class="row">
												<div class="col-lg-6 b-r">
													<form role="form">
														<div class="form-group">
															<label>Diagram Name</label>
															<input class="form-control" type="text" placeholder="Name of the data flow"
																   ng-model="currentDiagram.name" ng-disabled="editingDisabled.core" />
														</div>
													</form>
												</div>
												<div class="col-lg-6">
													<form role="form">
														<div class="form-group">
															<label>Diagram Short Description</label>
															<textarea placeholder="Short description of the diagram" class="form-control dl-shortdesc"
																	  ng-model="currentDiagram.shortDesc" ng-disabled="editingDisabled.core" ></textarea>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-12">
									<div class="ibox float-e-margins">
										<div class="ibox-title">
											<h5>Full Description</h5>
											<div dl-ibox-tools name="full_desc" editable="{{perms.update}}" edit-fn="dlIboxEdit"
												 save-fn="dlIboxSave" cancel-fn="dlIboxCancel"></div>
										</div>
										<div class="ibox-content">
											<div id="fullDescReadOnly" ng-show="editingDisabled.fulldesc"></div>
											<div ng-hide="editingDisabled.fulldesc">
												<summernote ng-model="diagramFullDesc" editable="editable" ></summernote>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>
				<!-- Right Sidebar for entity info display
				<div ng-include="'views/data-models/pdm_entity_details.html'"></div>
				-->

			</div>


		</div>

	</div>
</div>
