<div id="dl-entity-details-sidebar" ng-show="entityDetailsSidebar" class="sidebar-open">
    <div class="sidebar-container" full-scroll>

        <ul class="nav nav-tabs navs-2">

            <li ng-class="{active: columnDetailsTab}"><a ng-click="columnDetailsTab = true; tableViewDetailsTab = false;" ng-init="columnDetailsTab = true">
                Column Details
            </a></li>
            <li ng-class="{active: tableViewDetailsTab}"><a ng-click="tableViewDetailsTab = true; columnDetailsTab = false;">
                Table Details
            </a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane" ng-class="{active: columnDetailsTab}">
                <div class="sidebar-title">
                    <i class="fa fa-table"></i> <span ng-bind="selectedColumn.tableViewName"></span>
                </div>
                <div class="dl-entity-details-sidebar-content">
                    <div class="form-group">
                        <div class="form-group">
                            <label>Column Name</label>
                            <input type="text" placeholder="Column Name" class="form-control"
                                   ng-model="selectedColumn.columnName" disabled />
                        </div>
                        <div class="form-group">
                            <label>Datatype</label>
                            <input type="text" placeholder="Column Datatype" class="form-control"
                                   ng-model="selectedColumn.columnDatatype" disabled />
                        </div>

                        <label>Description</label>
                        <textarea class="form-control">
                            {{selectedColumn.columnShortDesc}}
                        </textarea>
                    </div>
                </div>

            </div>

            <div class="tab-pane" ng-class="{active: tableViewDetailsTab}">
                <div class="sidebar-title">
                    <i class="fa fa-database"></i> Database
                    <small><i class="fa fa-tim"></i> Can select new database from here.</small>
                </div>
                <div class="dl-entity-details-sidebar-content">

                    <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>Table/View Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in databaseEntityList">
                            <td>{{ row.tableViewName }}</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </div>
</div>
