<div class="modal-header">
	<h3 class="modal-title">New Relationship</h3>
</div>
<div class="modal-body">
	<form method="POST" class="form-horizontal" name="newRelationshipForm" novalidate>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group col-md-12">
					<div>
						<label for="relationship_name">Relationship Name</label>
					</div>
					<div>
						<input id="relationship_name" name="relationship_name" type="text" class="form-control" placeholder="Please enter a name for the relationship" ng-model="newRelationshipDetails.relationshipName" required />
					</div>
					<div class="m-t-xs" ng-hide="validation.name">
						<small class="text-danger">Please enter a relationship name</small>
					</div>
				</div>

				<div class="form-group col-md-12">
					<div>
						<label for="relationship_desc">Relationship Description</label>
					</div>
					<div>
						<textarea id="relationship_desc" name="relationship_desc" class="form-control dl-shortdesc" ng-model="newRelationshipDetails.relationshipShortDesc" placeholder="Please enter a description for the relationship" required></textarea>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group col-md-12">
					<div>
						<label for="relationship_parent_table">Parent Table</label>
					</div>
					<div>
						<input id="relationship_parent_table" class="form-control"
							   name="relationship_parent_table" type="text" placeholder="Parent Table"
							   ng-model="newRelationshipDetails.parentTable" required disabled />
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group col-md-12">
					<div>
						<label for="relationship_child_table">Child Table</label>
					</div>
					<div>
						<input id="relationship_child_table" class="form-control"
							   name="relationship_child_table" type="text" placeholder="Child Table"
							   ng-model="newRelationshipDetails.childTable" required disabled />
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="form-group col-md-12">
					<div>
						<label for="relationship_parent_column">Parent Column</label>
					</div>
					<div>
						<select id="relationship_parent_column" name="relationship_parent_column" class="form-control"
								ng-model="parentColumn"
								ng-options="value.columnName for value in parentColumnList track by value.columnId" required>
							<option value="" selected>&lt;Parent column&gt;</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group col-md-12">
					<div>
						<label for="relationship_child_column">Child Column</label>
					</div>
					<div>
						<select id="relationship_child_column" name="relationship_child_column" class="form-control"
								ng-model="childColumn"
								ng-options="value.columnName for value in childColumnList track by value.columnId" required>
							<option value="" selected>&lt;Child column&gt;</option>
						</select>
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="col-md-12">
					<button class="btn btn-success btn-xs pull-right" type="button" ng-click="addColumnPair()">Add Column Pair</button>
				</div>
				<div class="form-group col-md-12">
					<div>
						<label for="column_pairs_table">Column Pairs</label>
					</div>
					<div>
						<table id="column_pairs_table" class="table table-striped table-bordered table-hover">
							<thead>
							<tr>
								<th>Parent Column</th>
								<th>Child Column</th>
							</tr>
							</thead>
							<tbody>
							<tr ng-repeat="row01 in newRelationshipDetails.columnPairs">
								<td>{{ row01.parentColumnName }}</td>
								<td>{{ row01.childColumnName }}</td>
							</tr>
							</tbody>
						</table>
					</div>
					<div class="m-t-xs" ng-hide="validation.columnPairs">
						<small class="text-danger">You must specify at least one column pair</small>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>

<div class="modal-footer">
	<button class="btn btn-success btn-sm" type="button" ng-click="ok()">Save</button>
	<button class="btn btn-default btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>
