<!-- This is the breadcrumb -->
<div class="row wrapper border-bottom white-bg">
    <div class="col-lg-12 dl-breadcrumb">
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home.overview">Home</a>
            </li>
            <li>
                <a>Dummy</a>
            </li>
            <li class="active">
                <strong>Coming Soon</strong>
            </li>
        </ol>
    </div>
</div>

<!-- This is the main page -->
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <h2>This feature is scheduled for inclusion in the next release of Data Llama</h2>
        </div>
    </div>
</div>