<div class="modal-header">
    <h3 class="modal-title">New Data Sensitivity Tag</h3>
</div>
<div class="modal-body">
    <form method="POST" class="form-horizontal" name="CreateDataSensitivityTagController" novalidate>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group col-md-12">
                    <div>
                        <label for="ds_tag_name">Data Sensitivity Tag Name</label>
                    </div>
                    <div>
                        <input id="ds_tag_name" name="dsTagName" class="form-control" ng-model="newDsTag.dlDsName" required/>
                    </div>
                    <div class="m-t-xs" ng-hide="validation.name">
                        <small class="text-danger">Please input a data sensitivity tag name</small>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div>
                        <label for="ds_tag_level">Data Sensitivity Tag Description</label>
                    </div>
                    <div>
                        <select id="ds_tag_level" name="dsTagLevel" class="form-control" ng-model="newDsTag.dlDsLevel">
                            <option value="low" selected>low</option>
                            <option value="medium">medium</option>
                            <option value="high">high</option>
                            <option value="critical">critical</option>
                        </select>
                    </div>
                    <div class="m-t-xs" ng-hide="validation.level">
                        <small class="text-danger">Please select a data sensitivity level</small>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div>
                        <label for="ds_tag_desc">Data Sensitivity Tag Description</label>
                    </div>
                    <div>
                        <div>
                            <textarea id="ds_tag_desc" name="dsTagDesc" class="form-control" ng-model="newDsTag.dlDsShortDesc"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-success btn-sm" type="submit" ng-click="create()">Create</button>
    <button class="btn btn-default btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>
