<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<!-- TODO: This file should be in the dl-common directory -->
<!-- This is the breadcrumb -->
<div ng-controller="DataSensitivityDetailController">

    <div class="row wrapper border-bottom white-bg">
        <div class="col-lg-12 dl-breadcrumb">
            <button class="btn btn-xs btn-primary pull-right" ng-click="goBack()">Go Back</button>
            <ol class="breadcrumb">
                <li>
                    <a ui-sref="home.overview">Home</a>
                </li>
                <li>
                    <a ui-sref="taxonomies.overview">Business Ontology</a>
                </li>
                <li class="active">
                    <strong>Data Sensitivity</strong>
                </li>
            </ol>
        </div>
    </div>

    <!-- This is the main page -->
    <div class="wrapper wrapper-content animated fadeInRight" ng-init="initDataSensitivityDetail()">
        <div class="row">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="tabs-container">
                        <uib-tabset>
                            <!-- Data Sensitivity Full Report tab -->
                            <uib-tab index="1" active="activeTab.dsfullrpt" heading="Data Sensitivity Full Report">
                                <div class="col-lg-12">
                                    <br/>
                                    <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                                        <thead>
                                        <tr>
                                            <th>Class Name</th>
                                            <th>Object Name</th>
                                            <th>Metadata Context</th>
                                            <th>Data Sensitivity</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="row in fullDataSensitivityReport">
                                            <td>{{row.className}}</td>
                                            <td>{{row.objectName}}</td>
                                            <td>
                                                <span class="dl-md-context-label" uib-popover="class: {{mdContextNode.className}}" popover-trigger="mouseenter"
                                                      ng-repeat="mdContextNode in row.mdContext">
                                                    <span ng-click="clickThrough(mdContextNode.objectId, mdContextNode.classId, mdContextNode.parentObjectId, mdContextNode.parentClassId)">
                                                        {{mdContextNode.internalPath}}</span>&nbsp;
                                                </span>
                                            </td>
                                            <td>
                                                <span class="dl-ds-tag m-r-xs" ng-class="getDataSensitivityCssClass(row.dsTag.dlDsLevel)">
                                                  {{row.dsTag.dlDsName}}
                                                </span>
                                            </td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th>Class Name</th>
                                            <th>Object Name</th>
                                            <th>Metadata Context</th>
                                            <th>Data Sensitivity</th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </uib-tab>
                            <!-- Data Sensitivity Tags tab -->
                            <uib-tab index="2" active="activeTab.dstags" heading="Data Sensitivity Tags">
                                <div class="col-md-6">
                                    <div class="dl-list-cdg-menu">
                                        <button class="btn btn-xs btn-default" ng-disabled="checkRbac('ont','update')" ng-click="openCreateDataSensitivityTagDialog()">
                                            New Tag
                                        </button>
                                    </div>
                                    <div>
                                        <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover">
                                            <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Level</th>
                                                <th>Short Description</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="element in dataSensitivityTagList">
                                                <td>
                                                    <span class="dl-list-element-name" ng-class="{'dl-list-element-selected': element.elementSelected == 1}"
                                                          ng-click="showElementDetails(element)">
                                                        {{ element.dlDsName }}
                                                    </span>
                                                </td>
                                                <td>
                                                    {{ element.dlDsLevel}}
                                                </td>
                                                <td>
                                                    {{ element.dlDsShortDesc}}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h4 style="padding-top: 2px;">Tag Detail</h4>
                                    <div class="tabs-container">
                                        <uib-tabset >
                                            <!-- this is the Tag details tab -->
                                            <uib-tab index="1" active="ledActiveTab.attributes" heading="Attributes" ng-click="setActiveTab(1)">
                                                <div class="ibox">
                                                    <br/>
                                                    <div ng-hide="checkRbac('ont','update')">
                                                        <a ng-click="dlIboxEdit('core_details')" class="pull-right dl-edit-btn" ng-show="editingDisabled01">
                                                            <i class="fa fa-edit"></i>
                                                        </a>
                                                        <a ng-click="dlIboxCancel('core_details')" class="pull-right dl-edit-btn" ng-hide="editingDisabled01">
                                                            <i class="fa fa-times"></i>
                                                        </a>
                                                        <a ng-click="dlIboxSave('core_details')" class="pull-right dl-edit-btn" ng-hide="editingDisabled01">
                                                            <i class="fa fa-check"></i>
                                                        </a>
                                                    </div>
                                                    <form role="form">
                                                        <div class="form-group">
                                                            <label for="tagName">Tag Name</label>
                                                            <input id="tagName" class="form-control" type="text" placeholder="List element name"
                                                                   ng-model="selectedElement.dlDsName" ng-disabled="editingDisabled01" />
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="tagLevel">Tag Level</label>
                                                            <select id="tagLevel" class="form-control"
                                                                    ng-model="selectedElement.dlDsLevel" ng-disabled="editingDisabled01">
                                                                <option value="low">low</option>
                                                                <option value="medium">medium</option>
                                                                <option value="high">high</option>
                                                                <option value="critical">critical</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="ledDesc">Tag Short Description</label>
                                                            <textarea id="ledDesc" class="form-control dl-shortdesc" placeholder="List element description"
                                                                      ng-model="selectedElement.dlDsShortDesc" ng-disabled="editingDisabled01" >
                                                            </textarea>
                                                        </div>
                                                    </form>
                                                </div>
                                            </uib-tab>
                                            <!-- this is the Comments tab -->
                                            <uib-tab index="3" active="ledActiveTab.comments" heading="Comments ({{comment.commentList.length}})" ng-click="setActiveTab(3)">
                                                <div class="ibox">
                                                    <div class="dl-taxo-btn-set">
                                                        <button class="btn btn-xs btn-default" ng-show="comment.commentPanelHidden" ng-disabled="!checkElementSelected(true)" ng-click="toggleCommentPanel()">Comment</button>
                                                    </div>
                                                    <div uib-collapse="comment.commentPanelHidden">
                                                        <form role="form">
                                                            <div class="form-group">
                                                    <textarea class="form-control dl-shortdesc" placeholder="Enter comment text here"
                                                              ng-model="comment.newCommentText" >
                                                    </textarea>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="dl-taxo-btn-set">
                                                        <button class="btn btn-xs btn-success" ng-hide="comment.commentPanelHidden" ng-click="saveComment()">Save</button>
                                                        <button class="btn btn-xs btn-default" ng-hide="comment.commentPanelHidden" ng-click="cancelComment()">Cancel</button>
                                                    </div>

                                                    <table class="dl-taxo-comment-container">
                                                        <tr ng-repeat="commentDisplay in comment.commentList">
                                                            <td>
                                                                <div class="dl-taxo-comment">
                                                                    <div>{{commentDisplay.commentText}}</div>
                                                                    <div>
                                                                        <span class="dl-taxo-comment-meta">{{commentDisplay.commentDateTime}}</span>
                                                                        <span class="dl-taxo-comment-meta">{{commentDisplay.username}}</span>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>

                                                </div>
                                            </uib-tab>
                                            <!-- this is the More tab -->
                                            <uib-tab index="5" active="ledActiveTab.more" heading="More" ng-click="setActiveTab(5)">
                                                <div class="ibox">
                                                    <div class="p-xs">
                                                        <button class="btn btn-danger btn-sm" ng-disabled="perms.delete && !checkElementSelected(true)" ng-click="confirmDelete(false)">Delete Element</button>
                                                    </div>

                                                </div>
                                            </uib-tab>
                                        </uib-tabset>
                                    </div>
                                </div>
                            </uib-tab>
                            <!-- Data Sensitivity auto-assign tasks tab -->
                            <uib-tab index="3" active="activeTab.dstasks" heading="Auto Assign Tasks">
                                <div class="col-md-12">
                                    <div class="btn-group m-t m-b" uib-dropdown>
                                        <button class="btn btn-default btn-sm" ng-disabled="checkRbac('ont','create')" ng-click="clickThrough(0,0,0,0,'create')">
                                            New Auto Assignment Task
                                        </button>
                                    </div>

                                    <table datatable="ng" dt-options="dtOptions02" class="table table-striped table-bordered table-hover dataTables-example">
                                        <thead>
                                        <tr>
                                            <th>Task Name</th>
                                            <th>Short Description</th>
                                            <th>DS Tag</th>
                                            <th>Latest Task Run</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="row in dsAutoAssignTasks">
                                            <td><a ng-click="clickThrough(row.taskId, 0, 0, 0, 'detail');">{{row.taskName}}</a></td>
                                            <td>{{row.taskShortDesc}}</td>
                                            <td>
                                                <span class="dl-ds-tag m-r-xs" ng-class="getDataSensitivityCssClass(row.dsTag.dlDsLevel)">
                                                  {{row.dsTag.dlDsName}}
                                                </span>
                                            </td>
                                            <td>{{row.latestTaskRun}}</td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
