<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<div class="row wrapper border-bottom white-bg" ng-controller="DsAutoAssignTaskDetailController">
    <div class="col-lg-12 dl-breadcrumb">
        <button class="btn btn-xs btn-primary pull-right" ng-click="goBack()">Go Back</button>
        <span class="pull-right">&nbsp;</span>
        <button class="btn btn-xs btn-default pull-right" ng-click="expandAllDlIbox()"><i class="fa fa-chevron-down"></i></button>
        <span class="pull-right">&nbsp;</span>
        <button class="btn btn-xs btn-default pull-right" ng-click="collapseAllDlIbox()"><i class="fa fa-chevron-up"></i></button>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home.overview">Home</a>
            </li>
            <li>
                <a ui-sref="taxonomies.overview">Business Ontology</a>
            </li>
            <li >
                <a ui-sref="taxonomies.data_sensitivity_tag_list">Data Sensitivity</a>
            </li>
            <li class="active">
                <strong>Auto Assign Task Details</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="DsAutoAssignTaskDetailController" ng-init="initDsAutoAssignTaskDetail()">

    <!-- Details of the new DS Auto Assign Task -->
    <div class="row">
        <div class="col-lg-12">
            <div id="ibox-core-details" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Data Sensitivity Auto Assignment Task Details</h5>
                    <div dl-ibox-tools name="task_details" editable="{{perms.update}}" edit-fn="dlIboxEdit"
                         save-fn="dlIboxSave" cancel-fn="dlIboxCancel"></div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-6 b-r">

                            <form role="form">
                                <div class="form-group">
                                    <label>Task Name</label>
                                    <input class ="form-control" type="text" placeholder="Name of the task" ng-model="dsAutoAssignTaskDetails.taskName" ng-disabled="editingDisabled" />
                                    <div class="m-t-xs" ng-hide="validation.taskName">
                                        <small class="text-danger">Please specify a task name</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Task Short Description</label>&nbsp;<i>optional</i>
                                    <textarea placeholder="Short description of the task" class="form-control dl-shortdesc" ng-model="dsAutoAssignTaskDetails.taskShortDesc" ng-disabled="editingDisabled" >
									</textarea>
                                </div>
                                <div class="form-group">
                                    <label for="ds_tag">Data Sensitivity Tag</label>
                                    <select id="ds_tag" name="ds_tag" class="form-control" ng-model="dsAutoAssignTaskDetails.dsTag"
                                            ng-disabled="editingDisabled"
                                            ng-options="tag.dlDsName for tag in dsTagList track by tag.dlDsTagId" required>
                                    </select>
                                    <div class="m-t-xs" ng-hide="validation.dsTag">
                                        <small class="text-danger">Please select a data sensitivity tag</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Overwrite</label>
                                    <div>
                                        <input type="checkbox" ng-model="dsAutoAssignTaskDetails.overwrite" ng-disabled="editingDisabled"> Overwrite </input>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Execution Mode</label>
                                    <div>
                                        <input type="radio" name="execmode" ng-model="dsAutoAssignTaskDetails.manualExec" ng-value=true ng-disabled="editingDisabled">
                                        Manual
                                        </input>
                                        <br/>
                                        <input type="radio" name="execmode" ng-model="dsAutoAssignTaskDetails.manualExec" ng-value=false ng-disabled="editingDisabled">
                                        Scheduled
                                        </input>
                                    </div>
                                    <div>
                                        <button class="btn btn-sm btn-success m-t-md" ng-click="executeDsAutoAssignTask()">Execute Task Now</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-6">
                            <form role="form">
                                <div class="form-group">
                                    <label>Matched Object Names Included (rexexp)</label>
                                    <input class ="form-control dl-regexp" type="text" placeholder="Regular expression to match object names that are INCLUDED in the assignment"
                                           ng-model="dsAutoAssignTaskDetails.objectNameMatchInclude" ng-disabled="editingDisabled" />
                                    <div class="m-t-xs" ng-hide="validation.objNameIncluded">
                                        <small class="text-danger">Please specify a regular expression to match metadata object names</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Matched Object Names Excluded (regexp)</label>&nbsp;<i>optional</i>
                                    <input class ="form-control dl-regexp" type="text" placeholder="Regular expression to match object names that are EXCLUDED in the assignment"
                                               ng-model="dsAutoAssignTaskDetails.objectNameMatchExclude" ng-disabled="editingDisabled" />
                                </div>
                                <div class="form-group">
                                    <label>Matched Data types Included (rexexp)</label>
                                    <input class ="form-control dl-regexp" type="text" placeholder="Regular expression to match data types that are INCLUDED in the assignment"
                                           ng-model="dsAutoAssignTaskDetails.datatypeMatch" ng-disabled="editingDisabled" />
                                    <div class="m-t-xs" ng-hide="validation.datatype">
                                        <small class="text-danger">Please specify a regular expression to match metadata object datatypes</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Metadata Object Classes Included</label>
                                    <div>
                                        <input type="checkbox" ng-model="dsAutoAssignTaskDetails.classCollectionDisplay.tvcol" ng-disabled="editingDisabled"> Table/View Columns </input>
                                        <br/>
                                        <input type="checkbox" ng-model="dsAutoAssignTaskDetails.classCollectionDisplay.presff" ng-disabled="editingDisabled"> Presentation Fields/Features </input>
                                        <br/>
                                        <input type="checkbox" ng-model="dsAutoAssignTaskDetails.classCollectionDisplay.msgff" ng-disabled="editingDisabled"> JSON, XML or GMHF Message/File Format Elements </input>
                                        <br/>
                                        <input type="checkbox" ng-model="dsAutoAssignTaskDetails.classCollectionDisplay.ffff" ng-disabled="editingDisabled"> Flat File Format Fields </input>
                                    </div>
                                    <div class="m-t-xs" ng-hide="validation.classCollection">
                                        <small class="text-danger">Please select at least ONE metadata object class collection</small>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
