<div class="row wrapper border-bottom white-bg" ng-controller="HomeOverviewController">
    <div class="col-lg-12 dl-breadcrumb">
        <button class="btn btn-xs btn-primary pull-right" ng-click="goBack()">Go Back</button>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home.overview">Home</a>
            </li>
            <li class="active">
                <strong>Overview</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="HomeOverviewController" ng-init="initHomeOverview()">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Overview</h5>
                    <div dl-ibox-tools name="overview_desc" editable="{{perms.update}}" edit-fn="dlIboxEdit"
                         save-fn="dlIboxSave" cancel-fn="dlIboxCancel"></div>
                </div>
                <div class="ibox-content">
                    <div id="overviewDescReadOnly" ng-hide="editOverviewDesc"></div>
                    <div ng-show="editOverviewDesc">
                        <summernote ng-model="homeOverviewText" editable="editable" ></summernote>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
