<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<div class="middle-box text-center loginscreen  animated fadeInDown">
    <script type=text/javascript">
        //<![CDATA[
        function callmsoidc() {
            let authData = "";
            for (let i = 0; i < authConfig.length; i++) {
                if (authConfig[i].authMethod == authMethod) {
                    authData = authConfig[i].authData;
                }
            }
            window.location.href = authData;
        }
        //]]>
    </script>
    <div class="dl-login-form">
        <h2>Welcome to Data Llama</h2>
        <p></p>
        <form class="m-t" role="form" >
            <button class="btn btn-primary block full-width m-b" type="button"
                    onclick="callmsoidc();">Login</button>
        </form>
        <p class="m-t"> <small>Data Llama &copy; 2020 datallama.io</small> </p>
    </div>
</div>
