<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<nav class="navbar-default navbar-static-side" role="navigation" ng-controller="CmnNavigationController">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <span class="dl-nav-title">Data Llama</span>
            </li>
            <li ng-class="{active: $state.includes('home')}">
                <a href="#"><i class="fa fa-home"></i> <span class="nav-label">Home</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('home')}">
                    <li ui-sref-active="active"><a ui-sref="home.overview">Overview</a></li>
                    <li ui-sref-active="active"><a ui-sref="home.simple_search">Simple Search</a></li>
                    <li ui-sref-active="active"><a ui-sref="home.ds_full_report">DS Full Report</a></li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('dsdf')}">
                <a href="#"><i class="fa fa-database"></i> <span class="nav-label">Data Landscape</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('dsdf')}">
                    <li ui-sref-active="active"><a ui-sref="dsdf.diagrams_list">Diagrams</a></li>
                    <li ui-sref-active="active"><a ui-sref="dsdf.datastore_summary">Landscape Objects</a></li>
                    <li ui-sref-active="active"><a ui-sref="dsdf.dataflow_summary">Data Flows</a></li>
                    <li ui-sref-active="active"><a ui-sref="dsdf.reports_list">Reports</a></li>
                    <!--<li ui-sref-active="active"><a href="">Reference Data</a></li>-->
                </ul>
            </li>
            <li ng-class="{active: $state.includes('datamodels')}">
                <a href="#"><i class="fa fa-cubes"></i> <span class="nav-label">Model Diagrams</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('datamodels')}">
                    <li ui-sref-active="active"><a ui-sref="datamodels.pdm_diagrams_list">Database ERD</a></li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('taxonomies')}">
                <a href="#"><i class="fa fa-sitemap"></i> <span class="nav-label">Business Ontology</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('taxonomies')}">
                    <li ui-sref-active="active"><a ui-sref="taxonomies.overview">Overview</a></li>
                    <li ui-sref-active="active"><a ui-sref="taxonomies.diagrams_list">Diagrams</a></li>
                    <li ui-sref-active="active"><a ui-sref="taxonomies.list">Taxonomies</a></li>
                    <li ui-sref-active="active"><a ui-sref="taxonomies.list_cdg_list">Lists</a></li>
                    <li ui-sref-active="active"><a ui-sref="taxonomies.data_sensitivity_tag_list">Data Sensitivity</a></li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('smd')}">
                <a href="#"><i class="fa fa-hdd-o"></i> <span class="nav-label">Implementation</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('smd')}">
                    <li ui-sref-active="active"><a ui-sref="smd.smd_database_list">Databases</a></li>
                    <li ui-sref-active="active"><a ui-sref="smd.smd_filestore_list">File & Object Stores</a></li>
                    <li ui-sref-active="active"><a ui-sref="smd.msg_fmt">File & Msg Formats</a></li>
                    <li ui-sref-active="active"><a ui-sref="smd.api_definition">API Definitions</a></li>
                    <li ui-sref-active="active"><a ui-sref="smd.smd_dummy3">Messaging & Streaming</a></li>
                    <li ui-sref-active="active"><a ui-sref="smd.smd_presentation_list">Data Presentations</a></li>
                    <li ui-sref-active="active"><a ui-sref="smd.dataintegration_list ">Data Integrations</a></li>
                    <li ui-sref-active="active"><a ui-sref="smd.credential_list">Credentials</a></li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('admin')}">
                <a href="#"><i class="fa fa-cog"></i> <span class="nav-label">Administration</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('admin')}">
                    <li ui-sref-active="active" ng-hide="checkRbac('refc','create')"><a ui-sref="admin.custom_form_list">Custom Forms</a></li>
                    <li ui-sref-active="active" ng-hide="checkRbac('refc','create')"><a ui-sref="admin.application_type_list">Association Types</a></li>
                    <li ui-sref-active="active" ng-hide="checkRbac('refc','create')"><a ui-sref="admin.mo_class_hierarchy">MO Classes</a></li>
                    <li ui-sref-active="active" ng-hide="checkRbac('user','create')"><a ui-sref="admin.users_groups_list">Users & Groups</a></li>
                </ul>
            </li>

        </ul>

    </div>
</nav>
