<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<div class="row border-bottom" ng-controller="CmnTopNavController" ng-init="initCmnTopNav()">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <span minimaliza-sidebar></span>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li uib-dropdown>
                <a href uib-dropdown-toggle>
                    <i class="fa fa-user"></i>
                </a>
                <ul role="menu" uib-dropdown-menu>
                    <li><a href="" ng-click="openChangePasswordDialog()">Change Password</a></li>
                </ul>
            </li>
            <li>
                <a ng-click="logout()">Log out</a>
            </li>
        </ul>

    </nav>
</div>