<div class="modal-header">
    <h3 class="modal-title">New XML Node</h3>
</div>
<div class="modal-body">
    <form method="POST" class="form-horizontal" name="createXmlNode" novalidate>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group col-md-12">
                    <label>
                        <input type="radio" ng-model="newXmlNode.attribute" ng-value=false>Element</input>
                    </label><br/>
                    <label>
                        <input type="radio" ng-model="newXmlNode.attribute" ng-value=true ng-disabled="selectedXmlElement == null || selectedXmlElement.xmlElementType == 'Attribute'">
                        Attribute
                        </input>
                    </label>
                </div>
                <div class="form-group col-md-12">
                    <span ng-show="newXmlNode.attribute">
                        The new XML node will be added as an XML attribute to node <b>{{selectedXmlElement.mdContext[selectedXmlElement.mdContext.length-1].internalPath}}</b> (hierarchy number: {{selectedXmlElement.xmlElementHierarchyNumber}})
                    </span>
                    <span ng-hide="newXmlNode.attribute">
                        The new XML node will be added as an XML element.
                    </span>
                </div>

                <div class="form-group col-md-12">
                    <div>
                        <label for="xmlNodeName">XML node name</label>
                    </div>
                    <div>
                        <input id="xmlNodeName" name="xmlNodeName" class="form-control" placeholder="XML node name" ng-model="newXmlNode.name"/>
                    </div>
                    <div class="m-t-xs" ng-hide="validation.name">
                        <small class="text-danger">Please input a name for the XML node</small>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div>
                        <label for="xmlNodeShortDesc">XML node Description</label>
                    </div>
                    <div>
                        <div>
                            <textarea id="xmlNodeShortDesc" name="xmlNodeShortDesc" class="form-control dl-shortdesc" placeholder="XML node short description" ng-model="newXmlNode.desc"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12" ng-hide="newXmlNode.attribute">
                    <label for="xmlElementType">XML Element Type</label>
                    <select id="xmlElementType" class="form-control" ng-model="newXmlNode.type">
                        <option value="simple" ng-selected="newXmlNode.type == 'simple'">simple</option>
                        <option value="complex" ng-selected="newXmlNode.type == 'complex'">complex</option>
                    </select>
                    <!-- TODO: add the xs: data types - xs:string, xs:decimal, xs:integer, xs:boolean, xs:date, xs:time -->
                </div>

                <div ng-hide="newXmlNode.attribute">
                    <div class="form-group col-md-12">
                        <input type="checkbox" ng-model="newXmlNode.topLevelElement" ng-disabled="selectedXmlElement == null || selectedXmlElement.xmlElementType == 'Attribute'">  Add as a top level element.
                    </div>
                    <div class="form-group col-md-12">
                    <span ng-show="newXmlNode.topLevelElement">
                        The new XML node will be added as a top level XML element.
                    </span>
                        <span ng-hide="newXmlNode.topLevelElement">
                            The new XML node will be added as a child to node <b>{{selectedXmlElement.mdContext[selectedXmlElement.mdContext.length-1].internalPath}}</b> (hierarchy number: {{selectedXmlElement.xmlElementHierarchyNumber}})
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-success btn-sm" type="button" ng-click="checkValid()">Create</button>
    <button class="btn btn-default btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>