<div class="modal-header">
    <h3 class="modal-title">New Flat File Field</h3>
</div>
<div class="modal-body">
    <form method="POST" class="form-horizontal" name="createFlatFileElement" novalidate>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group col-md-12">
                    <div>
                        <label for="element_name">Element Name</label>
                    </div>
                    <div>
                        <input id="element_name" name="elementName" class="form-control" ng-model="newElement.name" required/>
                    </div>
                    <div class="m-t-xs" ng-hide="validation.elementName">
                        <small class="text-danger">You must input an element name</small>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div>
                        <label for="element_desc">Element Description</label>
                    </div>
                    <div>
                        <div>
                            <textarea id="element_desc" name="elementDesc" class="form-control" ng-model="newElement.desc"></textarea>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div>
                        <label for="element_datatype">Element Datatype</label>
                    </div>
                    <div>
                        <select id="element_datatype" name="elementDatatype" class="form-control" ng-model="newElement.datatype"
                                ng-options="value for value in datatypeList track by value" required>
                            <option value="none_selected" selected>&lt;Please select a datatype&gt;</option>
                        </select>
                    </div>
                    <div class="m-t-xs" ng-hide="validation.datatype">
                        <small class="text-danger">You must select a datatype</small>
                    </div>
                </div>

                <div class="form-group col-md-12" ng-show="formatSummary.classCode == 'FIXED_WIDTH_FLATFILE'">
                    <div>
                        <label for="element_desc">Fixed Width Field Length</label>
                    </div>
                    <div>
                        <div>
                            <input id="fixed_width_length" type="number" name="fixedWidthLength" class="form-control" ng-model="newElement.fixedWidthLength" />
                        </div>
                        <div class="m-t-xs" ng-hide="validation.fixedWidthLength">
                            <small class="text-danger">You must input a positive integer for the fixed width field length</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-success btn-sm" type="submit" ng-click="create()">Create</button>
    <button class="btn btn-default btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>
