<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<div class="modal-header">
    <h3 class="modal-title">New File or Message Format</h3>
</div>
<div class="modal-body" ng-init="initCreateFormat()">
    <form method="POST" class="form-horizontal" name="newMessageFormat" novalidate>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group col-md-12">
                    <div>
                        <label for="format_name">Format Name</label>
                    </div>
                    <div>
                        <input id="format_name" name="formatName" class="form-control"
                               ng-model="messageFormat.formatName" placeholder="Name of the message format"/>
                    </div>
                    <div class="m-t-xs" ng-hide="validation.name">
                        <small class="text-danger">Please input a name for the file or message format</small>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div>
                        <label for="formatClass">Format Class</label>
                    </div>
                    <div>
                        <select id="formatClass" name="formatClass" class="form-control" ng-model="selectedMessageFormatClass"
                                ng-options="value.className for value in messageFormatClassList track by value.classId" required>
                            <option value="" selected>&lt;Please select a format class&gt;</option>
                        </select>
                        <div class="m-t-xs" ng-hide="validation.format">
                            <small class="text-danger">Please select a format class</small>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div>
                        <label for="format_shortdesc">Format Class Description</label>
                    </div>
                    <div>
                        <div>
                            <textarea id="format_class_desc" name="formatClassDesc" class="form-control dl-shortdesc"
                                      ng-model="selectedMessageFormatClass.classDesc" placeholder="Short description of the format class" disabled>
                            </textarea>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div>
                        <label for="format_shortdesc">Format Description</label>
                    </div>
                    <div>
                        <div>
                            <textarea id="format_shortdesc" name="formatShortDesc" class="form-control dl-shortdesc"
                                      ng-model="messageFormat.formatShortDesc" placeholder="Short description of the message format">
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-success btn-sm" type="button" ng-click="checkValid()">Create</button>
    <button class="btn btn-default btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>