<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<div class="modal-header">
    <h3 class="modal-title">New Message Format Element</h3>
</div>
<div class="modal-body">
    <form method="POST" class="form-horizontal" name="createElement" novalidate>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group col-md-12">
                    <div>
                        <label for="element_name">Element Name</label>
                    </div>
                    <div>
                        <input id="element_name" name="elementName" class="form-control" ng-model="newElement.name" required/>
                    </div>
                    <div class="m-t-xs" ng-hide="validation.elementName">
                        <small class="text-danger">Please input an element name</small>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div>
                        <label for="element_desc">Element Description</label>
                    </div>
                    <div>
                        <div>
                            <textarea id="element_desc" name="elementDesc" class="form-control" ng-model="newElement.desc"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <span ng-show="newElementConfig.topLevelElement">
                        The new element will added as a top level element.
                    </span>
                    <span ng-hide="newElementConfig.topLevelElement">
                        The new element will added as a child to element {{selectedElementDisplay.elementFullPathName}} (hierarchy number: {{selectedElementDisplay.elementHierarchyNumber}})
                    </span>
                </div>
                <div class="form-group col-md-12">
                    <input type="checkbox" ng-model="newElementConfig.topLevelElement">  Add as top level element.
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-success btn-sm" type="submit" ng-click="create()">Create</button>
    <button class="btn btn-default btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>
