<div class="modal-header">
    <h3 class="modal-title">New JSON Element</h3>
</div>
<div class="modal-body">
    <form method="POST" class="form-horizontal" name="createJsonNode" novalidate>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group col-md-12">
                    <div>
                        <label for="jsonNodeName">JSON Element Name</label>
                    </div>
                    <div>
                        <input id="jsonNodeName" name="jsonNodeName" class="form-control" placeholder="JSON node name" ng-model="newJsonNode.name"/>
                    </div>
                    <div class="m-t-xs" ng-hide="validation.name">
                        <small class="text-danger">Please input a name for the JSON node</small>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div>
                        <label for="jsonNodeType">JSON Element Type</label>
                    </div>
                    <div>
                        <div>
                            <select id="jsonNodeType" name="jsonNodeType" class="form-control" ng-model="newJsonNode.type"
                                    ng-options="value.jsonNodeTypeName for value in jsonNodeType" required>
                                <option value="" selected>&lt;Please select a type for the JSON node&gt;</option>
                            </select>
                        </div>
                        <div class="m-t-xs" ng-hide="validation.type">
                            <small class="text-danger">Please select a type for the JSON node</small>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div>
                        <label for="jsonNodeShortDesc">JSON Element Description</label>
                    </div>
                    <div>
                        <div>
                            <textarea id="jsonNodeShortDesc" name="jsonNodeShortDesc" class="form-control dl-shortdesc" placeholder="JSON node short description" ng-model="newJsonNode.desc"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <span ng-show="newJsonNodeConfig.topLevelElement">
                        The new JSON element will added as a top level json element.
                    </span>
                    <span ng-hide="newJsonNodeConfig.topLevelElement">
                        The new JSON element will added as a child to node {{selectedJsonNodeDisplay.jsonNodeFullPathName}} (hierarchy number: {{selectedJsonNodeDisplay.jsonNodeHierarchyNumber}})
                    </span>
                </div>
                <div class="form-group col-md-12">
                    <input type="checkbox" ng-model="newJsonNodeConfig.topLevelElement" ng-disabled="selectedJsonNodeDisplay.jsonNodeHierarchyNumber == 'No json node has been selected.'">  Add as top level element.
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-success btn-sm" type="button" ng-click="checkValid()">Create</button>
    <button class="btn btn-default btn-sm" type="button" ng-click="cancel()">Cancel</button>
</div>