<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<!-- This is the breadcrumb -->
<div class="row wrapper border-bottom white-bg" ng-controller="FmtJsonDetailController">
    <div class="col-lg-12 dl-breadcrumb">
        <button class="btn btn-xs btn-primary pull-right" ng-click="goBack()">Go Back</button>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home.overview">Home</a>
            </li>
            <li>
                <a>Implementation</a>
            </li>
            <li>
                <a ui-sref="smd.msg_fmt">Formats</a>
            </li>
            <li class="active">
                <strong>JSON Format Detail</strong>
            </li>
        </ol>
    </div>
</div>

<!-- This is the main page -->
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="FmtJsonDetailController" ng-init="initFmtJsonDetail()">
    <div class="row" ng-hide="config.exportDisplay">
        <div class="col-md-5">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>
                        JSON Format : {{jsonSummary.formatName}}
                    </h5>
                </div>
                <div class="ibox-content" ng-class="spinnerLoading"> <!-- taxonomy views -->
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <div class="tabs-container">
                        <uib-tabset>
                            <!-- RHS panel hierarchy view tab -->
                            <uib-tab heading="Hierarchy View">
                                <div>
                                    <button class="btn btn-xs btn-default" ng-click="collapseAll()">Collapse All</button>
                                    <button class="btn btn-xs btn-default" ng-click="expandAll()">Expand All</button>
                                    <button class="btn btn-xs btn-default" ng-click="expandToLevel()">Expand to level</button>
                                    <input class="dl-taxo-vis-level" type="text" ng-model="config.visibilityLevel"/>
                                    <button class="btn btn-xs btn-default" ng-click="config.searchPanelHidden = !config.searchPanelHidden">Search</button>
                                    <button class="btn btn-xs btn-default" ng-click="initiateNewJsonNode()"><span class="fa fa-plus"></span></button>
                                    <!--<div class="btn-group" uib-dropdown>
                                        <button type="button" class="btn btn-xs btn-default" uib-dropdown-toggle>
                                            More <span class="caret"></span>
                                        </button>
                                        <ul role="menu" uib-dropdown-menu="">
                                            <li>
                                                <a href="" ng-click="toggleAbbreviation()">
                                                    Abbreviation <span class="bg-muted p-w-xs" ng-show="config.abbreviation == 0">Off</span> <span class="bg-primary p-w-xs" ng-show="config.abbreviation != 0">On</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>-->
                                </div>

                                <div uib-collapse="config.searchPanelHidden">
                                    <div class="dl-taxo-search-panel">
                                        <table style="width: 100%;">
                                            <tr>
                                                <td>
                                                    <input class="form-control" ng-model="search.keyword" />
                                                </td>
                                                <td style="padding-bottom: 4px; padding-left: 6px;">
                                                    <button class="btn btn-xs btn-success" ng-click="executeSearch()" >Search</button>
                                                    <button class="btn btn-xs btn-default" type="button" ng-click="clearSearch()" >Clear</button>
                                                    <button class="btn btn-xs btn-default" type="button" ng-click="scrollSearchResults('down')" >
                                                        <span class="fa fa-angle-down"></span>
                                                    </button>
                                                    <button class="btn btn-xs btn-default" type="button" ng-click="scrollSearchResults('up')" >
                                                        <span class="fa fa-angle-up"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <!-- this table displays the taxonomy data -->
                                <!-- this syntax uses interpolation which is bad practice: ng-style="{'margin-left':{{jsonNode.jsonNodeLevel}} * 20}" -->
                                <div class="dl-taxo-container">
                                    <table class="dl-taxo-display">
                                        <tr ng-repeat="jsonNode in jsonNodes">
                                            <td>
                                                <div class="dl-taxo-element" ng-class="{'dl-taxo-search-match': jsonNode.jsonNodeMatched}" id="{{jsonNode.jsonNodeId}}"
                                                     ng-style="{'margin-left':{{jsonNode.jsonNodeLevel}} * 20}" ng-show="jsonNode.jsonNodeVisible > 0">
                                                    <a class="btn btn-warning btn-xs" ng-click="toggleJsonNodeExpansion(jsonNode)">
                                                        <span class="dl-taxo-expand-icon fa" ng-class="{'fa-angle-right': (!jsonNode.expanded && jsonNode.parent), 'fa-angle-down': (jsonNode.expanded && jsonNode.parent)}">
                                                            <span ng-hide="jsonNode.parent" class="fa fa-circle-o dl-end-node-icon"></span>
                                                        </span>
                                                    </a>
                                                    <div class="dl-taxo-element-name" ng-class="{'dl-taxo-element-selected': jsonNode.jsonNodeSelected == 1}" ng-click="showJsonNodeDetails(jsonNode)">
                                                        <span ng-bind="jsonNode.jsonNodeName"></span>
                                                    </div>
                                                    <div class="dl-json-node-type">
                                                        <span ng-bind="jsonNode.jsonNodeType"></span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </uib-tab>

                            <!-- RHS panel table view -->
                            <uib-tab heading="Table View">
                                <br/>
                                <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" style="width: 100%;"
                                       class="table table-striped table-bordered table-hover dataTables-example">
                                    <thead>
                                    <tr>
                                        <th>Hierarchy Number</th>
                                        <th>Element GUID</th>
                                        <th>Element Short Description</th>
                                        <th>JSON Element Full Path Name <button class="btn btn-xs btn-default pull-right" ng-click="showEndNodesOnly()">End Nodes Only</button></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="jsonNode in jsonNodesTableView">
                                        <td>
                                            {{ jsonNode.jsonNodeHierarchyNumber}}
                                        </td>
                                        <td>
                                            {{ jsonNode.jsonNodeGUID}}
                                        </td>
                                        <td>
                                            {{ jsonNode.jsonNodeShortDesc}}
                                        </td>
                                        <td>
                                            <span class="dl-text-break" style="cursor: pointer;" ng-click="showJsonNodeDetails(jsonNode)">
                                                {{ jsonNode.mdContext[1].internalPath }}
                                            </span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </uib-tab>

                            <!-- This is the More view in RHS panel -->
                            <uib-tab heading="More">
                                <br/>
                                <button type="button" class="btn btn-default btn-sm" ng-click="clickThrough(invocationParams.parentObjectId, invocationParams.parentClassId, 0, 0, 'fullAssoc')">
                                    Full Association View
                                </button>
                                <br/>
                                <br/>
                                <button type="button" class="btn btn-default btn-sm" ng-click="generateFormatExport()">
                                    Export JSON Definition
                                </button>
                                <br/>
                                <br/>
                                <button type="button" class="btn btn-default btn-sm" ng-click="openLoadJSONMessageFormatsDialog()" ng-hide="checkRbac('dmf','create')">
                                    Import JSON File
                                </button>
                                <br/>
                                <br/>
                                <button type="button" class="btn btn-default btn-sm" ng-click="openSelectCustomFormWarningDialog()" ng-hide="checkRbac('dmf','configure')">
                                    Select Custom Form
                                </button>
                                <div class="m-l-md">Current Custom Form: {{customForm.customFormName}}</div>
                                <br/>
                                <br/>
                                <button type="button" class="btn btn-danger btn-sm" ng-hide="checkRbac('dmf','delete')" ng-click="confirmDelete('format')">
                                    Delete Format
                                </button>

                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>
            </div>
        </div>

        <!-- This is the LHS Element Details Panel-->
        <div class="col-md-7">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>
                        JSON Element Details : {{selectedJsonNodeDisplay.mdContext[selectedJsonNodeDisplay.mdContext.length - 1].internalPath}}
                    </h5>
                </div>
                <div class="ibox-content"> <!-- jsonNode detail views -->
                    <div class="tabs-container">
                        <uib-tabset>
                            <uib-tab index="1" active="activeDetailTab.attributes" heading="Attributes" ng-click="setActiveTab(1)">
                                <div class="ibox">
                                    <br/>
                                    <div ng-hide="checkRbac('dmf','update')">
                                        <a ng-click="dlIboxParentEdit('ted')" class="pull-right dl-edit-btn" ng-show="tedEditingDisabled">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a ng-click="dlIboxParentCancel('ted')" class="pull-right dl-edit-btn" ng-hide="tedEditingDisabled">
                                            <i class="fa fa-times"></i>
                                        </a>
                                        <a ng-click="dlIboxParentSave('ted')" class="pull-right dl-edit-btn" ng-hide="tedEditingDisabled">
                                            <i class="fa fa-check"></i>
                                        </a>
                                    </div>
                                    <form role="form">
                                        <div class="form-group">
                                            <label>JSON Element Name</label>
                                            <input class="form-control" type="text" placeholder="JSON jsonNode name"
                                                   ng-model="selectedJsonNodeDisplay.jsonNodeName" ng-disabled="tedEditingDisabled" />
                                        </div>
                                        <div class="form-group">
                                            <label for="jsonNodeType">JSON Element Type</label>
                                            <select id="jsonNodeType" name="jsonNodeType" class="form-control"
                                                    ng-model="selectedJsonNodeDisplay.jsonNodeType" ng-disabled="tedEditingDisabled">
                                                <option value="object">object</option>
                                                <option value="array">array</option>
                                                <option value="boolean">boolean</option>
                                                <option value="integer">integer</option>
                                                <option value="number">number</option>
                                                <option value="string">string</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>JSON Element Hierarchy Number</label>
                                            <input type="text" placeholder="JSON jsonNode hierarchy number" class="form-control"
                                                   ng-model="selectedJsonNodeDisplay.jsonNodeHierarchyNumber" disabled />
                                        </div>
                                        <div class="form-group">
                                            <label>JSON Element Description</label>
                                            <textarea class="form-control dl-shortdesc" placeholder="JSON jsonNode short description"
                                                      ng-model="selectedJsonNodeDisplay.jsonNodeShortDesc" ng-disabled="tedEditingDisabled" >
                                        </textarea>
                                        </div>
                                        <div class="form-group">
                                            <label>JSON Element Full Path Name</label>
                                            <input class="form-control" type="text" placeholder="JSON jsonNode full path name"
                                                   ng-model="selectedJsonNodeDisplay.mdContext[selectedJsonNodeDisplay.mdContext.length - 1].internalPath" disabled />
                                        </div>
                                        <div class="form-group">
                                            <label>JSON Element GUID</label>
                                            <input class="form-control" type="text" placeholder="JSON jsonNode GUID"
                                                   ng-model="selectedJsonNodeDisplay.jsonNodeGUID" disabled />
                                        </div>
                                    </form>
                                </div>
                            </uib-tab>
                            <!-- this is the Associations tab in the LHS display panel -->
                            <uib-tab index="2" active="activeDetailTab.associations" heading="Associations ({{selectedNodeAssociations.length}})" ng-click="setActiveTab(2)">
                                <div class="ibox">
                                    <br/>
                                    <button class="btn btn-xs btn-primary m-t-xs pull-right dl-table-hdr-btn" ng-disabled="!checkElementSelected(true)" ng-hide="checkRbac('dmf','update')"
                                            ng-click="clickThrough(selectedJsonNode.jsonNodeId, selectedJsonNode.classId, invocationParams.parentObjectId, invocationParams.parentClassId, 'newAssoc')">Associate</button>
                                    <button class="btn btn-xs dl-btn-lineage m-t-xs pull-right dl-table-hdr-btn" ng-disabled="!checkElementSelected(true)"
                                            ng-click="clickThrough(selectedJsonNode.jsonNodeId, selectedJsonNode.classId, 0, 0, 'lineage')">Lineage</button>
                                    <table datatable="ng" dt-options="dtOptions02" class="table table-striped table-bordered table-hover dataTables-example">
                                        <thead>
                                        <tr>
                                            <th>Associated Object & Association Description</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="row2 in selectedNodeAssociations">
                                            <td>
                                                <span>{{ row2.verbPhrase }} </span>
                                                <span class="dl-md-context-label" uib-popover="class: {{contextNode.className}}" popover-trigger="mouseenter"
                                                      ng-repeat="contextNode in row2.mdContext">
                                                <span ng-click="clickThrough(contextNode.objectId, contextNode.classId, contextNode.parentObjectId, contextNode.parentClassId, 'default')">
                                                    {{contextNode.internalPath}}</span>&nbsp;
                                                </span>
                                                <span class="fa fa-list-alt pull-right assoc_detail" ng-click="clickThrough(row2.associationId, 0, 0, 0, 'assocDetails')"></span>
                                                <div>{{row2.associationShortDesc}}</div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </uib-tab>
                            <!-- this is the Comments tab -->
                            <uib-tab index="3" active="activeDetailTab.comments" heading="Comments ({{comment.commentList.length}})" ng-click="setActiveTab(3)">
                                <div class="ibox">
                                    <div class="dl-taxo-btn-set">
                                        <button class="btn btn-xs btn-default" ng-disabled="!checkElementSelected(true)" ng-show="comment.commentPanelHidden" ng-click="toggleCommentPanel()">Comment</button>
                                    </div>
                                    <div uib-collapse="comment.commentPanelHidden">
                                        <form role="form">
                                            <div class="form-group">
                                        <textarea class="form-control dl-shortdesc" placeholder="Enter comment text here"
                                                  ng-model="comment.newCommentText" >
                                        </textarea>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="dl-taxo-btn-set">
                                        <button class="btn btn-xs btn-success" ng-hide="comment.commentPanelHidden" ng-click="saveComment()">Save</button>
                                        <button class="btn btn-xs btn-default" ng-hide="comment.commentPanelHidden" ng-click="cancelComment()">Cancel</button>
                                    </div>

                                    <table class="dl-taxo-comment-container">
                                        <tr ng-repeat="commentDisplay in comment.commentList">
                                            <td>
                                                <div class="dl-taxo-comment">
                                                    <div>{{commentDisplay.commentText}}</div>
                                                    <div>
                                                        <span class="dl-taxo-comment-meta">{{commentDisplay.commentDateTime}}</span>
                                                        <span class="dl-taxo-comment-meta">{{commentDisplay.username}}</span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>

                                </div>
                            </uib-tab>
                            <!-- this is the Custom Form tab -->
                            <uib-tab index="4" active="activeDetailTab.customform" heading="Custom Form" ng-click="setActiveTab(4)">
                                <div ng-hide="checkRbac('ont','update')">
                                    <a ng-click="dlIboxParentEdit('cfrm')" class="pull-right dl-edit-btn" ng-show="cfrmEditingDisabled">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a ng-click="dlIboxParentCancel('cfrm')" class="pull-right dl-edit-btn" ng-hide="cfrmEditingDisabled">
                                        <i class="fa fa-times"></i>
                                    </a>
                                    <a ng-click="dlIboxParentSave('cfrm')" class="pull-right dl-edit-btn" ng-hide="cfrmEditingDisabled">
                                        <i class="fa fa-check"></i>
                                    </a>
                                </div>
                                <br/>
                                <div class="m-t-sm">    <!-- ibox not required here because of schemaform inbuilt layout -->
                                    <form disabled name="formatCustomForm"
                                          sf-model="customForm.formData"
                                          sf-form="customForm.formDefinition"
                                          sf-schema="customForm.schemaDefinition"
                                          ng-submit="submitForm(formatCustomForm,customForm.formData)"
                                          sf-options="{ formDefaults: { ngModelOptions: { timezone: '+1100' } }}"
                                          class="ng-cloak">
                                    </form>
                                </div>
                            </uib-tab>
                            <!-- this is the More tab -->
                            <uib-tab index="5" active="activeDetailTab.more" heading="More" ng-click="setActiveTab(5)">
                                <div class="ibox">
                                    <div class="p-xs" ng-hide="checkRbac('dmf','update')" >
                                        <button class="btn btn-sm btn-default" ng-disabled="!checkElementSelected(true)" ng-click="toggleMoveMode()">Move Element</button>
                                    </div>
                                    <div uib-collapse="!(moveJsonNode.moveMode)">
                                        <div class="p-w-sm">
                                            <table style="width: 100%;">
                                                <tr>
                                                    <td>
                                                        <input class="form-control" ng-model="moveJsonNode.moveTargetJsonNode.mdContext[1].internalPath" ng-hide="moveJsonNode.moveToTop.selected" disabled/>
                                                        <input class="dl-srch-flt-chk" type="checkbox" ng-model="moveJsonNode.moveToTop.selected" ng-disabled="moveJsonNode.moveToTop.disabled">  Move to top level
                                                    </td>
                                                    <td style="padding-bottom: 8px; padding-left: 6px;">
                                                        <button class="btn btn-xs btn-success" ng-click="executeMove()">Save</button>
                                                        <button class="btn btn-xs btn-default" type="button" ng-click="toggleMoveMode()" >Cancel</button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="p-xs">
                                        <button class="btn btn-danger btn-sm" ng-hide="checkRbac('dmf','delete')" ng-click="confirmDelete('element')">Delete Element</button>
                                    </div>
                                </div>
                            </uib-tab>

                        </uib-tabset>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row" ng-show="config.exportDisplay">
        <div class="col-md-12">
            <div id="ibox-core-details" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>JSON Format Export</h5>
                    <button class="btn btn-xs btn-default pull-right" ng-click="closeExportView()">Close</button>
                </div>
                <div class="ibox-content">
                    <table datatable="ng" dt-options="dtOptions03" style="width: 100%;"
                           class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>Element Full Path Name</th>
                            <th>Short Description</th>
                            <th>JSON Type</th>
                            <th>Hierarchy Number</th>
                            <th>Element GUID</th>
                            <th ng-repeat="cfrmField in customFormFields">
                                {{ cfrmField.fieldTitle }}
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="jsonNode in jsonFormatExport.json_nodes">
                            <td>
                                <span class="dl-text-break">
                                    {{ jsonNode.mdContext[1].internalPath }}
                                </span>
                            </td>
                            <td>
                                {{ jsonNode.jsonNodeShortDesc}}
                            </td>
                            <td>
                                {{ jsonNode.jsonNodeType}}
                            </td>
                            <td>
                                {{ jsonNode.jsonNodeHierarchyNumber}}
                            </td>
                            <td>
                                {{ jsonNode.jsonNodeGUID}}
                            </td>
                            <td ng-repeat="cfrmField in customFormFields">
                                {{ getCustomFormFieldValue(cfrmField, jsonNode.customFormData) }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- TODO: move this to the dl-main.css or a specific taxonomy css -->
<style>
    .angular-ui-tree-handle {
        background: none repeat scroll 0 0 #f3f3f4;
        border: 1px dashed #e7eaec;
        color: inherit;
        padding: 10px;
        font-weight: normal;
    }
    .angular-ui-tree-handle:hover {
        font-weight: bold;
        cursor: pointer;
    }
    .angular-ui-tree-placeholder {
        background: #f0f9ff;
        border: 1px dashed #bed2db;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .group-title {
        background-color: #687074 !important;
        color: #FFF !important;
    }
    .tree-node {
        background: none repeat scroll 0 0 #f3f3f4;
        border: 1px dashed #e7eaec;
        color: inherit;
        padding: 4px;
        border-radius: 3px;
    }

    .tree-node .btn {
        min-width: 22px;
        margin-right: 4px;
    }

    .tree-node-content {
        margin: 5px 5px 5px 0;
    }

    .tree-handle {
        background: none repeat scroll 0 0 #f3f3f4;
        border: 1px dashed #e7eaec;
        color: inherit;
        padding: 10px;
    }

    .angular-ui-tree-placeholder {
        background: #f0f9ff;
        border: 1px dashed #bed2db;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .json-node-name {
        color: inherit;
        background: white;
        border: 1px solid #e7eaec;
        padding: 1px 4px 1px 4px;
        margin: 5px 5px 5px 0px;
        border-radius: 3px;
    }

    .json-node-type {
        color: inherit;
        background: white;
        border: 1px solid #e7eaec;
        padding: 1px 4px 1px 4px;
        margin: 5px 5px 5px 0px;
        border-radius: 3px;
    }

    .format-view-btn {
        padding: 5px;
        border-left-style: solid;
        border-left-width: 1px;
        border-left-color: #eeeeee;
    }

</style>