<!--
 Copyright 2020 Data Llama FOSS Foundation Incorporated

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<div class="row wrapper border-bottom white-bg" ng-controller="FormatSummaryController">
    <div class="col-lg-12 dl-breadcrumb">
        <button class="btn btn-xs btn-primary pull-right" ng-click="goBack()">Go Back</button>
        <span class="pull-right">&nbsp;</span>
        <button class="btn btn-xs btn-default pull-right" ng-click="expandAllDlIbox()"><i class="fa fa-chevron-down"></i></button>
        <span class="pull-right">&nbsp;</span>
        <button class="btn btn-xs btn-default pull-right" ng-click="collapseAllDlIbox()"><i class="fa fa-chevron-up"></i></button>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home.overview">Home</a>
            </li>
            <li>
                <a>Implementation</a>
            </li>
            <li>
                <a ui-sref="smd.msg_fmt">Formats</a>
            </li>
            <li class="active">
                <strong>Format Summary</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="FormatSummaryController" ng-init="initFormatSummary()">
    <div class="row">
        <div class="col-lg-12">
            <div id="ibox-core-details" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Core Details</h5>
                    <div dl-ibox-tools name="core_details" editable="{{perms.update}}" edit-fn="dlIboxEdit"
                         save-fn="dlIboxSave" cancel-fn="dlIboxCancel"></div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-6 b-r">

                            <div class="form-group">
                                <label>Format Name</label>
                                <input class="form-control" type="text" placeholder="Name of the format" ng-model="formatSummary.formatName" ng-disabled="editingDisabled" />
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Format Class</label>
                                <input class="form-control" type="text" placeholder="Metadata Class of the format" ng-model="formatSummary.className" disabled />
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Object GUID</label>
                                <input class="form-control" type="text" ng-model="formatSummary.objectGUID" disabled />
                            </div>

                            <form ng-show="formatSummary.classCode == 'DELIMITED_FLATFILE'">
                                <div class="form-group col-sm-4">
                                    <label>Field Delimiter</label>
                                    <input class="form-control" type="text" placeholder="Field Delimiter" ng-model="formatSummary.objectConfig.field_delimiter" ng-disabled="editingDisabled" />
                                </div>
                                <div class="form-group col-sm-4">
                                    <label>Line Terminator</label>
                                    <input class="form-control" type="text" placeholder="Line Terminator" ng-model="formatSummary.objectConfig.line_terminator" ng-disabled="editingDisabled" />
                                </div>
                                <div class="form-group col-sm-4">
                                    <label>String Delimiter</label>
                                    <input class="form-control" type="text" placeholder="String Delimiter" ng-model="formatSummary.objectConfig.string_delimiter" ng-disabled="editingDisabled" />
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>Text or Binary</label>
                                    <select class="form-control" type="text" placeholder="Text or Binary" ng-model="formatSummary.objectConfig.text_binary"
                                            ng-disabled="editingDisabled" >
                                        <option value="text">Text</option>
                                        <option value="binary">Binary</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>Character Set Enconding</label>
                                    <input class="form-control" type="text" placeholder="Character Set Enconding" ng-model="formatSummary.objectConfig.character_set_encoding" ng-disabled="editingDisabled" />
                                </div>
                            </form>

                            <form ng-show="formatSummary.classCode == 'FIXED_WIDTH_FLATFILE'">
                                <div class="form-group col-sm-6">
                                    <label>Text or Binary</label>
                                    <select class="form-control" type="text" placeholder="Text or Binary" ng-model="formatSummary.objectConfig.text_binary"
                                            ng-disabled="editingDisabled" >
                                        <option value="text">Text</option>
                                        <option value="binary">Binary</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>Character Set Enconding</label>
                                    <input class="form-control" type="text" placeholder="Character Set Enconding" ng-model="formatSummary.objectConfig.character_set_encoding" ng-disabled="editingDisabled" />
                                </div>
                            </form>

                            <button type="button" class="btn btn-sm btn-danger" ng-disabled="checkRbac('dmf','delete')" ng-click="confirmDelete()" ng-hide="editingDisabled">
                                Delete Format
                            </button>
                        </div>
                        <div class="col-lg-6">
                            <form role="form">
                                <div class="form-group">
                                    <label>Short Description</label>
                                    <textarea placeholder="Short description of the format" class="form-control dl-shortdesc" ng-model="formatSummary.formatShortDesc" ng-disabled="editingDisabled" >
									</textarea>
                                </div>
                                <!-- TODO: implement business and technical contacts for formats
                                <div class="form-group">
                                    <label>Business Contact</label>
                                    <input class="form-control" type="text" placeholder="Business contact for the data store" ng-model="datastoreDetails.core_details.business_contact" ng-disabled="coreDetailsDisabled" />
                                </div>
                                <div class="form-group">
                                    <label>Technical Contact</label>
                                    <input type="text" placeholder="Technical contact for the data store" class="form-control" ng-model="datastoreDetails.core_details.technical_contact" ng-disabled="coreDetailsDisabled" />
                                </div>
                                -->
                                <button type="button" class="btn btn-sm btn-success" ng-click="clickThrough(0, 0, 0, 0, 'DETAIL');">
                                    Show Format Details
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- TODO: implement custom forms for formats
    <div class="row">
        <div class="col-lg-12">
            <div id="ibox-custom-form" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Custom Form</h5>
                    <div dl-ibox-tools name="custom_form" ng-hide="checkRbac('dmf','update')"></div>
                </div>
                <div class="ibox-content">
                    <form disabled name="landscapeObjectCustomForm"
                          sf-model="customForm.formData"
                          sf-form="customForm.formDefinition"
                          sf-schema="customForm.schemaDefinition"
                          ng-submit="submitForm(landscapeObjectCustomForm,customForm.formData)"
                          sf-options="{ formDefaults: { ngModelOptions: { timezone: '+1100' } }}"
                          class="ng-cloak">
                    </form>
                </div>
            </div>
        </div>
    </div>
    -->

    <!-- TODO: implement diagram for formats
    <div class="row">
        <div class="col-lg-12">
            <div id="ibox-diagrams" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Diagrams</h5>
                    <div dl-ibox-tools name="datastore_diagrams" ng-hide="checkRbac('dmf','update')"></div>
                </div>
                <div class="ibox-content">
                    <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>Diagram Name</th>
                            <th>Diagram Class</th>
                            <th>Diagram Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row02 in gridData02">
                            <td><a ng-click="clickThrough(row02.dgrm_id, row02.class_id)">{{ row02.dgrm_name }}</a></td>
                            <td>{{ row02.class_name }}</td>
                            <td>{{ row02.dgrm_desc }}</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Diagram Name</th>
                            <th>Diagram Class</th>
                            <th>Diagram Description</th>
                        </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>
    -->

    <div class="row">
        <div class="col-lg-12">
            <div id="associations" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Associations</h5>
                    <div dl-ibox-tools name="associations" editable="{{perms.update}}" edit-fn="dlIboxEdit"
                         save-fn="dlIboxSave" cancel-fn="dlIboxCancel">
                    </div>
                </div>
                <div class="ibox-content">
                    <button class="btn btn-xs btn-primary m-t-xs pull-right dl-table-hdr-btn" ng-hide="associationsDisabled"
                            ng-click="newAssociation()">Associate</button>
                    <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>Associated Object & Association Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row2 in associatedObjects">
                            <td>
                                <span>{{ row2.verbPhrase }} </span>
                                <span class="dl-md-context-label" uib-popover="class: {{contextNode.className}}" popover-trigger="mouseenter"
                                      ng-repeat="contextNode in row2.mdContext">
                                    <span ng-click="clickThrough(contextNode.objectId, contextNode.classId, contextNode.parentObjectId, contextNode.parentClassId, 'ASSOC')">
                                        {{contextNode.internalPath}}</span>&nbsp;
                                    </span>
                                <div>{{row2.associationShortDesc}}</div>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Associated Object & Association Description</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
