/**
 * Core styles for the Data Llama UI 
 */

/* page layout */
.dl-breadcrumb {
    padding-top: 5px;
    padding-bottom: 5px;
}
.dl-nav-title {
    color: #ffffff;
}

/* Form elements */
.dl-hier-select {
    height: 100px;
    overflow-y: scroll;
	border: 1px solid #EEEEEE;
    margin-top: 5px;
}
.dl-color-defn {
    width: 180px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.dl-color-defn-layout td {
    padding-right: 10px;
    height: 30px;
}
.dl-color-defn-sample {
    height: 20px;
    width: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #ACACAC;
}
.form-control:disabled {
    background-color: #f9f9f9;
}
dl-details-sidebar {
    position: absolute;
    background-color: red;
    top: 200px;
}
dl-sidebar-sm {
    width: 200px;
}
dl-sidebar-md {
    width: 300px;
}
dl-sidebar-lg {
    width: 400px;
}

/* Draw2D customisation styles */
div.dl-d2d-canvas {
    background-color: #ffffff;
    border: none;
    height: 4000px;
    width: 2000px;
}

/* Physical Data Model Entity Detail Sidebar */
div.dl-entity-details-sidebar {
    background-color: #fff;
    border-left: 1px solid #e7eaec;
    border-top: 1px solid #e7eaec;
    border-bottom: 1px solid #e7eaec;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    display: block;
    position: fixed;
    top: 140px;
}


/* Button layouts and colours */
.dl-table-hdr-btn {
    margin-left: 5px;
}
.dl-edit-btn {
    color: #c4c4c4;
    margin-left: 6px;
}
.dl-edit-btn :hover{
    color: #a4a4a4;
}
.dl-brdr-b-sm {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #e7eaec;
}
.dl-btn-plain {
    background-color: #efeff5;
}

/* General Hierarchy Layout */
span.dl-end-node-icon {
    font-size: 0.75em;
    vertical-align: middle;
}

/* General colors */
.dl-success {
    color: #1ab394;
}
.dl-error {
    color: #ed5565;
}

/* Taxonomy View */
div.dl-taxo-container {
    margin-top: 4px;
    height: 70vh;
    overflow-y: scroll;
}
table.dl-taxo-display {
    width: 100%;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #676a6c;
}
div.dl-taxo-element {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #f0f0f1;
    background-color: #f3f3f4;
    padding-left: 4px;
    padding-top: 2px;
    padding-bottom: 3px;
    margin-top: 2px;
    margin-bottom: 1px;
    margin-right: 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
div.dl-taxo-element-name {
    display: inline-block;
    padding-left: 6px;
    padding-right: 12px;
    cursor: pointer;
}
div.dl-taxo-element-selected {
    font-weight: bold;
}
div.dl-taxo-element-unselected {
    font-weight: normal;
}
span.dl-taxo-expand-icon {
    width: 10px;
}
input.dl-taxo-vis-level {
    border: 1px solid #e7eaec;
    width: 30px;
    height: 22px;
    text-align: center;
    margin-top: 2px;
}
div.dl-taxo-search-panel {
    border: 1px solid #e7eaec;
    padding-top: 1px;
    padding-left: 2px;
    padding-bottom: 1px;
    padding-right: 1px;
    margin-top: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
div.dl-taxo-search-match {
    border: 1px solid #1e85c7;
    background-color: #d3eaf8;
}
div.dl-taxo-btn-set {
    padding-top: 4px;
    padding-left: 2px;
}
div.dl-taxo-comment {
    border-bottom: 1px solid #e7eaec;
    padding-top: 1px;
    padding-left: 15px;
    padding-bottom: 4px;
    padding-right: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
}
span.dl-taxo-comment-meta {
    font-size: 10px;
    padding-right: 10px;
}
div.dl-json-node-type {
    display: inline-block;
    padding-top: 1px;
    padding-left: 6px;
    padding-bottom: 2px;
    padding-right: 6px;
    margin-right: 4px;
    background-color: #ffffff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

div.dl-xml-element-type {
    display: inline-block;
    padding-top: 1px;
    padding-left: 6px;
    padding-bottom: 2px;
    padding-right: 6px;
    margin-right: 4px;
    background-color: #ffffff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

/* File store view */
.dl-btn-filestore {
    background-color: #FFd466;
    border-color: #FFd466;
    color: #FFFFFF;
}
.dl-btn-filestore:hover,
.dl-btn-filestore:focus,
.dl-btn-filestore:active{
    background-color: #FFC533;
    border-color: #FFC533;
    color: #FFFFFF;
}

/* Lineage view */
.dl-btn-lineage {
    background-color: #2D5DA1;
    border-color: #2D5DA1;
    color: #FFFFFF;
}
.dl-btn-lineage:hover,
.dl-btn-lineage:focus,
.dl-btn-lineage:active{
    background-color: #2E5894;
    border-color: #2E5894;
    color: #FFFFFF;
}

/* List CDG layouts */
div.dl-list-cdg-menu {
    margin-top: 4px;
    margin-left: 4px;
    margin-bottom: 8px;
}
span.dl-list-element-name {
    cursor: pointer;
}
span.dl-list-element-selected {
    font-weight: bold;
}

/* Search Layouts */
input.dl-srch-flt-chk {
    margin-left: 8px;
}

/* Miscellaneous Layouts */
div.dl-login-form {
    margin-top: 100px;
}

.dl-text-break {
    word-break: break-word !important;
    overflow-wrap: break-word !important;
}

.dl-md-context-label {
    display: inline-block;
    background-color: #e6f1ff;
    border-style: solid;
    border-width: 1px;
    border-color: #c8c8c8;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 4px;
    cursor: pointer;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.dl-json-editor {
    font-family: "Courier New", monospace;
    min-height: 800px; !important;
    resize: vertical;
}

textarea.dl-shortdesc {
    resize: vertical;
}

span.dl-state-nav {
    display: inline-block;
    background-color: #fff0e6;
    border-style: solid;
    border-width: 1px;
    border-color: #c8c8c8;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-right: 4px;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

i.dl-alert_icon {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    color: #ed5565;
    font-size: 30px;
}

span.assoc_detail {
    cursor: pointer;
}

/* Full Description layout */
div.dl-full-desc-ro {
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    padding: 6px 12px;
    width: 100%;
}

/* Comments layout */
div.dl-comments-container {
    padding: 2px;
    margin-bottom: 5px;
}
textarea.dl-comment-panel {
    min-height: 60px;
    border: 1px solid #e7eaec;
    padding-top: 1px;
    padding-left: 2px;
    padding-bottom: 1px;
    padding-right: 1px;
    margin-top: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}


/* Associations layout */
div.dl-assoc-summary {
    border-style: solid;
    border-width: 1px;
    border-color: #cacaca;
    padding-top: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
    margin-bottom: 4px;
}
span.dl-assoc-source {
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-color: #c8c8c8;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 4px;
    cursor: pointer;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.dl-svg-pallet-icon {
    height: 40px;
    width: 40px;
    padding: 5px;
}

.dl-small-table-cell{
    width: 0;
    height: 0;
}

/* Custom ibox layouts for Data Llama */
.dl-ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding-top: 15px;
}

.dl-ibox-content > .sk-spinner {
    display: none;
}
.dl-ibox-content.sk-loading {
    position: relative;
}
.dl-ibox-content.sk-loading:after {
    content: '';
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.dl-ibox-content.sk-loading > .sk-spinner {
    display: block;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    z-index: 2000;
}

/* in-cell edit styles */
i.dl-incell-edit {
    color: #c4c4c4;
    float: right;
    cursor: pointer;
}

/* reverse engineer run reconciliation styles */
i.dl-reveng-reconcile-tool {
    color: #c4c4c4;
    float: right;
    cursor: pointer;
    padding-left: 6px;
}
span.dl-reveng-reconcile-matching {
    color: #1c84c6;
}
span.dl-reveng-reconcile-matched {
    color: #1ab394;
}
span.dl-reveng-reconcile-deleted {
    color: #ed5565;
}
textarea.dl-revengdesc {
    resize: vertical;
    margin-top: 4px;
    border-style: dashed;
}

/* data sensitivity styles */
.dl-ds-tag {
    display: inline-block;
    min-width: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 8px;
    padding-right: 8px;
    text-shadow: none;
    /*line-height: 150%;*/
    text-align: center;
    white-space: nowrap;
    border-radius: 6px;
    font-size: 11px;
    font-weight: 600;
    margin-bottom: 4px;
}

.dl-ds-none {
    background-color: #d1dade;
    color: #5e5e5e;
}
.dl-ds-low-1 {
    background-color: #1ab394;
    color: #FFFFFF;
}
.dl-ds-low-2 {
    background-color: rgba(26, 179, 148, 0.4);
    color: #FFFFFF;
}
.dl-ds-medium-1 {
    background-color: #1c84c6;
    color: #FFFFFF;
}
.dl-ds-medium-2 {
    background-color: rgba(28, 132, 198, 0.4);
    color: #FFFFFF;
}
.dl-ds-high-1 {
    background-color: #f8ac59;
    color: #FFFFFF;
}
.dl-ds-high-2 {
    background-color: rgba(248, 172, 89, 0.4);
    color: #FFFFFF;
}
.dl-ds-critical-1 {
    background-color: #ed5565;
    color: #FFFFFF;
}
.dl-ds-critical-2 {
    background-color: rgba(237, 85, 101, 0.4);
    color: #FFFFFF;
}

.dl-regexp {
    font-family: "Courier New", monospace;
}