<!--
 * Copyright 2020 Data Llama FOSS Foundation Incorporated
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 *
 * Copyright 2020-2021
 *
-->

<!DOCTYPE html>
<html ng-app="datallama">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Page title set in pageTitle directive -->
    <title page-title></title>
    <!-- favicon -->
    <link rel="shortcut icon" href="favicon.png" />

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Font awesome -->
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Main Inspinia CSS files -->
    <link href="css/animate.css" rel="stylesheet">
    <link id="loadBefore" href="css/style.css" rel="stylesheet">

    <!-- AJS plugin CSS scripts -->
    <link href="css/plugins/angular-notify/angular-notify.min.css" rel="stylesheet">
    <link href="css/plugins/dataTables/datatables.min.css" rel="stylesheet">
    <link href="css/plugins/uiTree/angular-ui-tree.min.css" rel="stylesheet">
    <link href="css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">

    <!-- Miscellaneous third party plugin CSS -->
    <link href="js/plugins/angular-tree/css/tree-control.css" rel="stylesheet">
    <link href="js/plugins/angular-tree/css/tree-control-attribute.css" rel="stylesheet">
    <link href="css/plugins/materialPicker/ui-bootstrap-materialPicker.css" rel="stylesheet">

    <!-- Data Llama CSS -->
    <link href="css/dl-core.css" rel="stylesheet">

</head>

<body class="{{$state.current.data.specialClass}}" landing-scrollspy id="page-top">

<!-- Main view  -->
<div ui-view></div>

<!-- jQuery and Bootstrap -->
<script src="js/jquery/jquery-3.1.1.min.js"></script>
<script src="js/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="js/bootstrap/bootstrap.min.js"></script>

<!-- MetsiMenu -->
<script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>

<!-- SlimScroll -->
<script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Peace JS -->
<script src="js/plugins/pace/pace.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="js/inspinia.js"></script>

<!-- Core Angular scripts-->
<script src="js/angular/angular.min.js"></script>
<script src="js/angular/angular-sanitize.js"></script>
<script src="js/plugins/oclazyload/dist/ocLazyLoad.min.js"></script>
<script src="js/angular-translate/angular-translate.min.js"></script>
<script src="js/ui-router/angular-ui-router.min.js"></script>
<script src="js/bootstrap/ui-bootstrap-tpls-1.1.2.min.js"></script>
<script src="js/plugins/angular-idle/angular-idle.js"></script>

<!-- AJS plugin scripts -->
<script src="js/plugins/angular-notify/angular-notify.min.js"></script>
<script src="js/plugins/dataTables/datatables.min.js"></script>
<script src="js/plugins/dataTables/angular-datatables.min.js"></script>
<script src="js/plugins/dataTables/angular-datatables.buttons.min.js"></script>
<script src="js/plugins/materialPicker/ui-bootstrap-materialPicker.js"></script>
<script src="js/plugins/jasny/jasny-bootstrap.min.js"></script>


<!--
 You need to include this script on any page that has a Google Map.
 When using Google Maps on your own site you MUST signup for your own API key at:
 https://developers.google.com/maps/documentation/javascript/tutorial#api_key
 After your sign up replace the key in the URL below..
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQTpXj82d8UpCi97wzo_nKXL7nYrd4G70"></script>
-->

<!-- Anglar App Script -->
<script src="js/app.js"></script>
<script src="js/config.js"></script>
<script src="js/translations.js"></script>
<script src="js/directives.js"></script>

<!-- Miscellaneous third party libraries -->
<script src="js/plugins/angular-tree/angular-tree-control.js"></script>

<script src="js/plugins/tv4/tv4.js"></script>
<script src="js/plugins/angular-schema-form/angular-schema-form.min.js"></script>
<script src="js/plugins/angular-schema-form/angular-schema-form-bootstrap.min.js"></script>


<!-- draw2D third party libraries -->
<script src="js/d2d/3p/raphael.js"></script>
<script src="js/d2d/3p/rgbcolor.js"></script>
<script src="js/d2d/3p/canvg.js"></script>
<script src="js/d2d/3p/Class.js"></script>
<script src="js/d2d/3p/shifty.js"></script>

<!-- draw2D core libraries -->
<script src="js/d2d/core/draw2d.js"></script>
<script src="js/d2d/core/util/Polyfill.js"> </script>
<script src="js/d2d/core/util/Base64.js"> </script>
<script src="js/d2d/core/util/Debug.js"> </script>
<script src="js/d2d/core/util/Color.js"> </script>
<script src="js/d2d/core/util/ArrayList.js"> </script>
<script src="js/d2d/core/util/SVGUtil.js"> </script>
<script src="js/d2d/core/util/JSONUtil.js"> </script>
<script src="js/d2d/core/util/UUID.js"> </script>
<script src="js/d2d/core/util/spline/Spline.js"> </script>
<script src="js/d2d/core/util/spline/CubicSpline.js"> </script>
<script src="js/d2d/core/util/spline/CatmullRomSpline.js"> </script>
<script src="js/d2d/core/util/spline/BezierSpline.js"> </script>
<script src="js/d2d/core/geo/PositionConstants.js"> </script>
<script src="js/d2d/core/geo/Point.js"> </script>
<script src="js/d2d/core/geo/Rectangle.js"> </script>
<script src="js/d2d/core/geo/Util.js"> </script>
<script src="js/d2d/core/geo/Ray.js"> </script>
<script src="js/d2d/core/geo/Line.js"> </script>
<script src="js/d2d/core/command/CommandType.js"> </script>
<script src="js/d2d/core/command/Command.js"> </script>
<script src="js/d2d/core/command/CommandCollection.js"> </script>
<script src="js/d2d/core/command/CommandStack.js"> </script>
<script src="js/d2d/core/command/CommandStackEvent.js"> </script>
<script src="js/d2d/core/command/CommandStackEventListener.js"> </script>
<script src="js/d2d/core/command/CommandMove.js"> </script>
<script src="js/d2d/core/command/CommandAttr.js"> </script>
<script src="js/d2d/core/command/CommandMoveLine.js"> </script>
<script src="js/d2d/core/command/CommandMoveConnection.js"> </script>
<script src="js/d2d/core/command/CommandMoveVertex.js"> </script>
<script src="js/d2d/core/command/CommandMoveVertices.js"> </script>
<script src="js/d2d/core/command/CommandResize.js"> </script>
<script src="js/d2d/core/command/CommandRotate.js"> </script>
<script src="js/d2d/core/command/CommandConnect.js"> </script>
<script src="js/d2d/core/command/CommandReconnect.js"> </script>
<script src="js/d2d/core/command/CommandDelete.js"> </script>
<script src="js/d2d/core/command/CommandDeleteGroup.js"> </script>
<script src="js/d2d/core/command/CommandAdd.js"> </script>
<script src="js/d2d/core/command/CommandGroup.js"> </script>
<script src="js/d2d/core/command/CommandUngroup.js"> </script>
<script src="js/d2d/core/command/CommandAddVertex.js"> </script>
<script src="js/d2d/core/command/CommandAssignFigure.js"> </script>
<script src="js/d2d/core/command/CommandBoundingBox.js"> </script>
<script src="js/d2d/core/command/CommandRemoveVertex.js"> </script>
<script src="js/d2d/core/command/CommandReplaceVertices.js"> </script>
<script src="js/d2d/core/layout/connection/ConnectionRouter.js"> </script>
<script src="js/d2d/core/layout/connection/DirectRouter.js"> </script>
<script src="js/d2d/core/layout/connection/RubberbandRouter.js"> </script>
<script src="js/d2d/core/layout/connection/VertexRouter.js"> </script>
<script src="js/d2d/core/layout/connection/ManhattanConnectionRouter.js"> </script>
<script src="js/d2d/core/layout/connection/ManhattanBridgedConnectionRouter.js"> </script>
<script src="js/d2d/core/layout/connection/InteractiveManhattanConnectionRouter.js"> </script>
<script src="js/d2d/core/layout/connection/CircuitConnectionRouter.js"> </script>
<script src="js/d2d/core/layout/connection/SplineConnectionRouter.js"> </script>
<script src="js/d2d/core/layout/connection/FanConnectionRouter.js"> </script>
<script src="js/d2d/core/layout/connection/MazeConnectionRouter.js"> </script>
<script src="js/d2d/core/layout/connection/MuteableManhattanConnectionRouter.js"> </script>
<script src="js/d2d/core/layout/connection/SketchConnectionRouter.js"> </script>
<script src="js/d2d/core/layout/mesh/MeshLayouter.js"> </script>
<script src="js/d2d/core/layout/mesh/ExplodeLayouter.js"> </script>
<script src="js/d2d/core/layout/mesh/ProposedMeshChange.js"> </script>
<script src="js/d2d/core/layout/locator/Locator.js"> </script>
<script src="js/d2d/core/layout/locator/PortLocator.js"> </script>
<script src="js/d2d/core/layout/locator/DraggableLocator.js"> </script>
<script src="js/d2d/core/layout/locator/SmartDraggableLocator.js"> </script>
<script src="js/d2d/core/layout/locator/XYAbsPortLocator.js"> </script>
<script src="js/d2d/core/layout/locator/XYRelPortLocator.js"> </script>
<script src="js/d2d/core/layout/locator/InputPortLocator.js"> </script>
<script src="js/d2d/core/layout/locator/OutputPortLocator.js"> </script>
<script src="js/d2d/core/layout/locator/ConnectionLocator.js"> </script>
<script src="js/d2d/core/layout/locator/ManhattanMidpointLocator.js"> </script>
<script src="js/d2d/core/layout/locator/PolylineMidpointLocator.js"> </script>
<script src="js/d2d/core/layout/locator/ParallelMidpointLocator.js"> </script>
<script src="js/d2d/core/layout/locator/TopLocator.js"> </script>
<script src="js/d2d/core/layout/locator/dlInsideTopLocator.js"> </script>
<script src="js/d2d/core/layout/locator/BottomLocator.js"> </script>
<script src="js/d2d/core/layout/locator/LeftLocator.js"> </script>
<script src="js/d2d/core/layout/locator/RightLocator.js"> </script>
<script src="js/d2d/core/layout/locator/CenterLocator.js"> </script>
<script src="js/d2d/core/policy/EditPolicy.js"> </script>
<script src="js/d2d/core/policy/canvas/CanvasPolicy.js"> </script>
<script src="js/d2d/core/policy/canvas/ZoomPolicy.js"> </script>
<script src="js/d2d/core/policy/canvas/WheelZoomPolicy.js"> </script>
<script src="js/d2d/core/policy/canvas/KeyboardPolicy.js"> </script>
<script src="js/d2d/core/policy/canvas/DefaultKeyboardPolicy.js"> </script>
<script src="js/d2d/core/policy/canvas/ExtendedKeyboardPolicy.js"> </script>
<script src="js/d2d/core/policy/canvas/SelectionPolicy.js"> </script>
<script src="js/d2d/core/policy/canvas/SingleSelectionPolicy.js"> </script>
<script src="js/d2d/core/policy/canvas/GhostMoveSelectionPolicy.js"> </script>
<script src="js/d2d/core/policy/canvas/PanningSelectionPolicy.js"> </script>
<script src="js/d2d/core/policy/canvas/BoundingboxSelectionPolicy.js"> </script>
<script src="js/d2d/core/policy/canvas/ReadOnlySelectionPolicy.js"> </script>
<script src="js/d2d/core/policy/canvas/DecorationPolicy.js"> </script>
<script src="js/d2d/core/policy/canvas/FadeoutDecorationPolicy.js"> </script>
<script src="js/d2d/core/policy/canvas/CoronaDecorationPolicy.js"> </script>
<script src="js/d2d/core/policy/canvas/SnapToEditPolicy.js"> </script>
<script src="js/d2d/core/policy/canvas/ShowGridEditPolicy.js"> </script>
<script src="js/d2d/core/policy/canvas/SnapToGridEditPolicy.js"> </script>
<script src="js/d2d/core/policy/canvas/ShowDotEditPolicy.js"> </script>
<script src="js/d2d/core/policy/canvas/ShowChessboardEditPolicy.js"> </script>
<script src="js/d2d/core/policy/canvas/SnapToGeometryEditPolicy.js"> </script>
<script src="js/d2d/core/policy/canvas/SnapToVerticesEditPolicy.js"> </script>
<script src="js/d2d/core/policy/canvas/SnapToInBetweenEditPolicy.js"> </script>
<script src="js/d2d/core/policy/canvas/SnapToCenterEditPolicy.js"> </script>
<script src="js/d2d/core/policy/canvas/DropInterceptorPolicy.js"> </script>
<script src="js/d2d/core/policy/connection/ConnectionCreatePolicy.js"> </script>
<script src="js/d2d/core/policy/connection/ComposedConnectionCreatePolicy.js"> </script>
<script src="js/d2d/core/policy/connection/ClickConnectionCreatePolicy.js"> </script>
<script src="js/d2d/core/policy/connection/OrthogonalConnectionCreatePolicy.js"> </script>
<script src="js/d2d/core/policy/connection/DragConnectionCreatePolicy.js"> </script>
<script src="js/d2d/core/policy/figure/FigureEditPolicy.js"> </script>
<script src="js/d2d/core/policy/figure/DragDropEditPolicy.js"> </script>
<script src="js/d2d/core/policy/figure/RegionEditPolicy.js"> </script>
<script src="js/d2d/core/policy/figure/HorizontalEditPolicy.js"> </script>
<script src="js/d2d/core/policy/figure/VerticalEditPolicy.js"> </script>
<script src="js/d2d/core/policy/figure/SelectionPolicy.js"> </script>
<script src="js/d2d/core/policy/figure/SelectionFeedbackPolicy.js"> </script>
<script src="js/d2d/core/policy/figure/ResizeSelectionFeedbackPolicy.js"> </script>
<script src="js/d2d/core/policy/figure/RectangleSelectionFeedbackPolicy.js"> </script>
<script src="js/d2d/core/policy/figure/BigRectangleSelectionFeedbackPolicy.js"> </script>
<script src="js/d2d/core/policy/figure/RoundRectangleSelectionFeedbackPolicy.js"> </script>
<script src="js/d2d/core/policy/figure/BusSelectionFeedbackPolicy.js"> </script>
<script src="js/d2d/core/policy/figure/WidthSelectionFeedbackPolicy.js"> </script>
<script src="js/d2d/core/policy/figure/VBusSelectionFeedbackPolicy.js"> </script>
<script src="js/d2d/core/policy/figure/HBusSelectionFeedbackPolicy.js"> </script>
<script src="js/d2d/core/policy/figure/AntSelectionFeedbackPolicy.js"> </script>
<script src="js/d2d/core/policy/figure/GlowSelectionFeedbackPolicy.js"> </script>
<script src="js/d2d/core/policy/figure/SlimSelectionFeedbackPolicy.js"> </script>
<script src="js/d2d/core/policy/figure/VertexSelectionFeedbackPolicy.js"> </script>
<script src="js/d2d/core/policy/line/LineSelectionFeedbackPolicy.js"> </script>
<script src="js/d2d/core/policy/line/VertexSelectionFeedbackPolicy.js"> </script>
<script src="js/d2d/core/policy/line/OrthogonalSelectionFeedbackPolicy.js"> </script>
<script src="js/d2d/core/policy/port/PortFeedbackPolicy.js"> </script>
<script src="js/d2d/core/policy/port/ElasticStrapFeedbackPolicy.js"> </script>
<script src="js/d2d/core/policy/port/IntrusivePortsFeedbackPolicy.js"> </script>
<script src="js/d2d/core/Configuration.js"> </script>
<script src="js/d2d/core/HeadlessCanvas.js"> </script>
<script src="js/d2d/core/Canvas.js"> </script>
<script src="js/d2d/core/Selection.js"> </script>
<script src="js/d2d/core/Figure.js"> </script>
<script src="js/d2d/core/shape/node/Node.js"> </script>
<script src="js/d2d/core/VectorFigure.js"> </script>
<script src="js/d2d/core/shape/basic/Rectangle.js"> </script>
<script src="js/d2d/core/SetFigure.js"> </script>
<script src="js/d2d/core/SVGFigure.js"> </script>
<script src="js/d2d/core/shape/node/Hub.js"> </script>
<script src="js/d2d/core/shape/node/HorizontalBus.js"> </script>
<script src="js/d2d/core/shape/node/VerticalBus.js"> </script>
<script src="js/d2d/core/shape/node/Fulcrum.js"> </script>
<script src="js/d2d/core/shape/basic/Arc.js"> </script>
<script src="js/d2d/core/shape/basic/Oval.js"> </script>
<script src="js/d2d/core/shape/basic/Circle.js"> </script>
<script src="js/d2d/core/shape/basic/Label.js"> </script>
<script src="js/d2d/core/shape/basic/Text.js"> </script>
<script src="js/d2d/core/shape/basic/Line.js"> </script>
<script src="js/d2d/core/shape/basic/PolyLine.js"> </script>
<script src="js/d2d/core/shape/basic/Image.js"> </script>
<script src="js/d2d/core/shape/basic/Polygon.js"> </script>
<script src="js/d2d/core/shape/basic/Diamond.js"> </script>
<script src="js/d2d/core/shape/composite/Composite.js"> </script>
<script src="js/d2d/core/shape/composite/StrongComposite.js"> </script>
<script src="js/d2d/core/shape/composite/Group.js"> </script>
<script src="js/d2d/core/shape/composite/Jailhouse.js"> </script>
<script src="js/d2d/core/shape/composite/WeakComposite.js"> </script>
<script src="js/d2d/core/shape/composite/Raft.js"> </script>
<script src="js/d2d/core/Connection.js"> </script>
<script src="js/d2d/core/VectorFigure.js"> </script>
<script src="js/d2d/core/ResizeHandle.js"> </script>
<script src="js/d2d/core/shape/basic/LineResizeHandle.js"> </script>
<script src="js/d2d/core/shape/basic/LineStartResizeHandle.js"> </script>
<script src="js/d2d/core/shape/basic/LineEndResizeHandle.js"> </script>
<script src="js/d2d/core/shape/basic/VertexResizeHandle.js"> </script>
<script src="js/d2d/core/shape/basic/GhostVertexResizeHandle.js"> </script>
<script src="js/d2d/core/Port.js"> </script>
<script src="js/d2d/core/InputPort.js"> </script>
<script src="js/d2d/core/OutputPort.js"> </script>
<script src="js/d2d/core/HybridPort.js"> </script>
<script src="js/d2d/core/layout/anchor/ConnectionAnchor.js"> </script>
<script src="js/d2d/core/layout/anchor/ChopboxConnectionAnchor.js"> </script>
<script src="js/d2d/core/layout/anchor/FanConnectionAnchor.js"> </script>
<script src="js/d2d/core/layout/anchor/ShortesPathConnectionAnchor.js"> </script>
<script src="js/d2d/core/layout/anchor/CenterEdgeConnectionAnchor.js"> </script>
<script src="js/d2d/core/shape/arrow/CalligrapherArrowLeft.js"> </script>
<script src="js/d2d/core/shape/arrow/CalligrapherArrowDownLeft.js"> </script>
<script src="js/d2d/core/shape/node/Start.js"> </script>
<script src="js/d2d/core/shape/node/End.js"> </script>
<script src="js/d2d/core/shape/node/Between.js"> </script>
<script src="js/d2d/core/shape/note/PostIt.js"> </script>
<script src="js/d2d/core/shape/flowchart/Document.js"> </script>
<script src="js/d2d/core/shape/widget/Widget.js"> </script>
<script src="js/d2d/core/shape/widget/Slider.js"> </script>
<script src="js/d2d/core/shape/diagram/Diagram.js"> </script>
<script src="js/d2d/core/shape/diagram/Pie.js"> </script>
<script src="js/d2d/core/shape/diagram/Sparkline.js"> </script>
<script src="js/d2d/core/shape/analog/OpAmp.js"> </script>
<script src="js/d2d/core/shape/analog/ResistorBridge.js"> </script>
<script src="js/d2d/core/shape/analog/ResistorVertical.js"> </script>
<script src="js/d2d/core/shape/analog/VoltageSupplyHorizontal.js"> </script>
<script src="js/d2d/core/shape/analog/VoltageSupplyVertical.js"> </script>
<script src="js/d2d/core/shape/layout/Layout.js"> </script>
<script src="js/d2d/core/shape/layout/HorizontalLayout.js"> </script>
<script src="js/d2d/core/shape/layout/VerticalLayout.js"> </script>
<script src="js/d2d/core/shape/layout/TableLayout.js"> </script>
<script src="js/d2d/core/shape/layout/FlexGridLayout.js"> </script>
<script src="js/d2d/core/shape/layout/StackLayout.js"> </script>
<script src="js/d2d/core/shape/icon/Icon.js"> </script>
<script src="js/d2d/core/shape/icon/Thunder.js"> </script>
<script src="js/d2d/core/shape/icon/Snow.js"> </script>
<script src="js/d2d/core/shape/icon/Hail.js"> </script>
<script src="js/d2d/core/shape/icon/Rain.js"> </script>
<script src="js/d2d/core/shape/icon/Cloudy.js"> </script>
<script src="js/d2d/core/shape/icon/Sun.js"> </script>
<script src="js/d2d/core/shape/icon/Undo.js"> </script>
<script src="js/d2d/core/shape/icon/Detour.js"> </script>
<script src="js/d2d/core/shape/icon/Merge.js"> </script>
<script src="js/d2d/core/shape/icon/Split.js"> </script>
<script src="js/d2d/core/shape/icon/Fork.js"> </script>
<script src="js/d2d/core/shape/icon/ForkAlt.js"> </script>
<script src="js/d2d/core/shape/icon/Exchange.js"> </script>
<script src="js/d2d/core/shape/icon/Shuffle.js"> </script>
<script src="js/d2d/core/shape/icon/Refresh.js"> </script>
<script src="js/d2d/core/shape/icon/Ccw.js"> </script>
<script src="js/d2d/core/shape/icon/Acw.js"> </script>
<script src="js/d2d/core/shape/icon/Contract.js"> </script>
<script src="js/d2d/core/shape/icon/Expand.js"> </script>
<script src="js/d2d/core/shape/icon/Stop.js"> </script>
<script src="js/d2d/core/shape/icon/End.js"> </script>
<script src="js/d2d/core/shape/icon/Start.js"> </script>
<script src="js/d2d/core/shape/icon/Ff.js"> </script>
<script src="js/d2d/core/shape/icon/Rw.js"> </script>
<script src="js/d2d/core/shape/icon/ArrowRight.js"> </script>
<script src="js/d2d/core/shape/icon/ArrowLeft.js"> </script>
<script src="js/d2d/core/shape/icon/ArrowUp.js"> </script>
<script src="js/d2d/core/shape/icon/ArrowDown.js"> </script>
<script src="js/d2d/core/shape/icon/ArrowLeft2.js"> </script>
<script src="js/d2d/core/shape/icon/ArrowRight2.js"> </script>
<script src="js/d2d/core/shape/icon/Smile2.js"> </script>
<script src="js/d2d/core/shape/icon/Smile.js"> </script>
<script src="js/d2d/core/shape/icon/Alarm.js"> </script>
<script src="js/d2d/core/shape/icon/Clock.js"> </script>
<script src="js/d2d/core/shape/icon/StopWatch.js"> </script>
<script src="js/d2d/core/shape/icon/History.js"> </script>
<script src="js/d2d/core/shape/icon/Future.js"> </script>
<script src="js/d2d/core/shape/icon/GlobeAlt2.js"> </script>
<script src="js/d2d/core/shape/icon/GlobeAlt.js"> </script>
<script src="js/d2d/core/shape/icon/Globe.js"> </script>
<script src="js/d2d/core/shape/icon/Warning.js"> </script>
<script src="js/d2d/core/shape/icon/Code.js"> </script>
<script src="js/d2d/core/shape/icon/Pensil.js"> </script>
<script src="js/d2d/core/shape/icon/Pen.js"> </script>
<script src="js/d2d/core/shape/icon/Plus.js"> </script>
<script src="js/d2d/core/shape/icon/Minus.js"> </script>
<script src="js/d2d/core/shape/icon/TShirt.js"> </script>
<script src="js/d2d/core/shape/icon/Sticker.js"> </script>
<script src="js/d2d/core/shape/icon/Page2.js"> </script>
<script src="js/d2d/core/shape/icon/Page.js"> </script>
<script src="js/d2d/core/shape/icon/Landscape1.js"> </script>
<script src="js/d2d/core/shape/icon/Landscape2.js"> </script>
<script src="js/d2d/core/shape/icon/Plugin.js"> </script>
<script src="js/d2d/core/shape/icon/Bookmark.js"> </script>
<script src="js/d2d/core/shape/icon/Hammer.js"> </script>
<script src="js/d2d/core/shape/icon/Users.js"> </script>
<script src="js/d2d/core/shape/icon/User.js"> </script>
<script src="js/d2d/core/shape/icon/Customer.js"> </script>
<script src="js/d2d/core/shape/icon/Employee.js"> </script>
<script src="js/d2d/core/shape/icon/Anonymous.js"> </script>
<script src="js/d2d/core/shape/icon/Skull.js"> </script>
<script src="js/d2d/core/shape/icon/Mail.js"> </script>
<script src="js/d2d/core/shape/icon/Picture.js"> </script>
<script src="js/d2d/core/shape/icon/Bubble.js"> </script>
<script src="js/d2d/core/shape/icon/CodeTalk.js"> </script>
<script src="js/d2d/core/shape/icon/Talkq.js"> </script>
<script src="js/d2d/core/shape/icon/Talke.js"> </script>
<script src="js/d2d/core/shape/icon/Home.js"> </script>
<script src="js/d2d/core/shape/icon/Lock.js"> </script>
<script src="js/d2d/core/shape/icon/Clip.js"> </script>
<script src="js/d2d/core/shape/icon/Star.js"> </script>
<script src="js/d2d/core/shape/icon/StarOff.js"> </script>
<script src="js/d2d/core/shape/icon/Star2.js"> </script>
<script src="js/d2d/core/shape/icon/Star2Off.js"> </script>
<script src="js/d2d/core/shape/icon/Star3.js"> </script>
<script src="js/d2d/core/shape/icon/Star3Off.js"> </script>
<script src="js/d2d/core/shape/icon/Chat.js"> </script>
<script src="js/d2d/core/shape/icon/Quote.js"> </script>
<script src="js/d2d/core/shape/icon/Gear2.js"> </script>
<script src="js/d2d/core/shape/icon/Gear.js"> </script>
<script src="js/d2d/core/shape/icon/Wrench.js"> </script>
<script src="js/d2d/core/shape/icon/Wrench2.js"> </script>
<script src="js/d2d/core/shape/icon/Wrench3.js"> </script>
<script src="js/d2d/core/shape/icon/ScrewDriver.js"> </script>
<script src="js/d2d/core/shape/icon/HammerAndScrewDriver.js"> </script>
<script src="js/d2d/core/shape/icon/Magic.js"> </script>
<script src="js/d2d/core/shape/icon/Download.js"> </script>
<script src="js/d2d/core/shape/icon/View.js"> </script>
<script src="js/d2d/core/shape/icon/Noview.js"> </script>
<script src="js/d2d/core/shape/icon/Cloud.js"> </script>
<script src="js/d2d/core/shape/icon/Cloud2.js"> </script>
<script src="js/d2d/core/shape/icon/CloudDown.js"> </script>
<script src="js/d2d/core/shape/icon/CloudUp.js"> </script>
<script src="js/d2d/core/shape/icon/Location.js"> </script>
<script src="js/d2d/core/shape/icon/Volume0.js"> </script>
<script src="js/d2d/core/shape/icon/Volume1.js"> </script>
<script src="js/d2d/core/shape/icon/Volume2.js"> </script>
<script src="js/d2d/core/shape/icon/Volume3.js"> </script>
<script src="js/d2d/core/shape/icon/Key.js"> </script>
<script src="js/d2d/core/shape/icon/Ruler.js"> </script>
<script src="js/d2d/core/shape/icon/Power.js"> </script>
<script src="js/d2d/core/shape/icon/Unlock.js"> </script>
<script src="js/d2d/core/shape/icon/Flag.js"> </script>
<script src="js/d2d/core/shape/icon/Tag.js"> </script>
<script src="js/d2d/core/shape/icon/Search.js"> </script>
<script src="js/d2d/core/shape/icon/ZoomOut.js"> </script>
<script src="js/d2d/core/shape/icon/ZoomIn.js"> </script>
<script src="js/d2d/core/shape/icon/Cross.js"> </script>
<script src="js/d2d/core/shape/icon/Check.js"> </script>
<script src="js/d2d/core/shape/icon/Settings.js"> </script>
<script src="js/d2d/core/shape/icon/SettingsAlt.js"> </script>
<script src="js/d2d/core/shape/icon/Feed.js"> </script>
<script src="js/d2d/core/shape/icon/Bug.js"> </script>
<script src="js/d2d/core/shape/icon/Link.js"> </script>
<script src="js/d2d/core/shape/icon/Calendar.js"> </script>
<script src="js/d2d/core/shape/icon/Picker.js"> </script>
<script src="js/d2d/core/shape/icon/No.js"> </script>
<script src="js/d2d/core/shape/icon/CommandLine.js"> </script>
<script src="js/d2d/core/shape/icon/Photo.js"> </script>
<script src="js/d2d/core/shape/icon/Printer.js"> </script>
<script src="js/d2d/core/shape/icon/Export.js"> </script>
<script src="js/d2d/core/shape/icon/Import.js"> </script>
<script src="js/d2d/core/shape/icon/Run.js"> </script>
<script src="js/d2d/core/shape/icon/Magnet.js"> </script>
<script src="js/d2d/core/shape/icon/NoMagnet.js"> </script>
<script src="js/d2d/core/shape/icon/ReflectH.js"> </script>
<script src="js/d2d/core/shape/icon/ReflectV.js"> </script>
<script src="js/d2d/core/shape/icon/Resize2.js"> </script>
<script src="js/d2d/core/shape/icon/Rotate.js"> </script>
<script src="js/d2d/core/shape/icon/Connect.js"> </script>
<script src="js/d2d/core/shape/icon/Disconnect.js"> </script>
<script src="js/d2d/core/shape/icon/Folder.js"> </script>
<script src="js/d2d/core/shape/icon/Man.js"> </script>
<script src="js/d2d/core/shape/icon/Woman.js"> </script>
<script src="js/d2d/core/shape/icon/People.js"> </script>
<script src="js/d2d/core/shape/icon/Parent.js"> </script>
<script src="js/d2d/core/shape/icon/Notebook.js"> </script>
<script src="js/d2d/core/shape/icon/Diagram.js"> </script>
<script src="js/d2d/core/shape/icon/BarChart.js"> </script>
<script src="js/d2d/core/shape/icon/PieChart.js"> </script>
<script src="js/d2d/core/shape/icon/LineChart.js"> </script>
<script src="js/d2d/core/shape/icon/Apps.js"> </script>
<script src="js/d2d/core/shape/icon/Locked.js"> </script>
<script src="js/d2d/core/shape/icon/Ppt.js"> </script>
<script src="js/d2d/core/shape/icon/Lab.js"> </script>
<script src="js/d2d/core/shape/icon/Umbrella.js"> </script>
<script src="js/d2d/core/shape/icon/Dry.js"> </script>
<script src="js/d2d/core/shape/icon/Ipad.js"> </script>
<script src="js/d2d/core/shape/icon/Iphone.js"> </script>
<script src="js/d2d/core/shape/icon/Jigsaw.js"> </script>
<script src="js/d2d/core/shape/icon/Lamp.js"> </script>
<script src="js/d2d/core/shape/icon/Lamp_alt.js"> </script>
<script src="js/d2d/core/shape/icon/Video.js"> </script>
<script src="js/d2d/core/shape/icon/Palm.js"> </script>
<script src="js/d2d/core/shape/icon/Fave.js"> </script>
<script src="js/d2d/core/shape/icon/Help.js"> </script>
<script src="js/d2d/core/shape/icon/Crop.js"> </script>
<script src="js/d2d/core/shape/icon/BioHazard.js"> </script>
<script src="js/d2d/core/shape/icon/WheelChair.js"> </script>
<script src="js/d2d/core/shape/icon/Mic.js"> </script>
<script src="js/d2d/core/shape/icon/MicMute.js"> </script>
<script src="js/d2d/core/shape/icon/IMac.js"> </script>
<script src="js/d2d/core/shape/icon/Pc.js"> </script>
<script src="js/d2d/core/shape/icon/Cube.js"> </script>
<script src="js/d2d/core/shape/icon/FullCube.js"> </script>
<script src="js/d2d/core/shape/icon/Font.js"> </script>
<script src="js/d2d/core/shape/icon/Trash.js"> </script>
<script src="js/d2d/core/shape/icon/NewWindow.js"> </script>
<script src="js/d2d/core/shape/icon/DockRight.js"> </script>
<script src="js/d2d/core/shape/icon/DockLeft.js"> </script>
<script src="js/d2d/core/shape/icon/DockBottom.js"> </script>
<script src="js/d2d/core/shape/icon/DockTop.js"> </script>
<script src="js/d2d/core/shape/icon/Pallete.js"> </script>
<script src="js/d2d/core/shape/icon/Cart.js"> </script>
<script src="js/d2d/core/shape/icon/Glasses.js"> </script>
<script src="js/d2d/core/shape/icon/Package.js"> </script>
<script src="js/d2d/core/shape/icon/Book.js"> </script>
<script src="js/d2d/core/shape/icon/Books.js"> </script>
<script src="js/d2d/core/shape/icon/Icons.js"> </script>
<script src="js/d2d/core/shape/icon/List.js"> </script>
<script src="js/d2d/core/shape/icon/Db.js"> </script>
<script src="js/d2d/core/shape/icon/Paper.js"> </script>
<script src="js/d2d/core/shape/icon/TakeOff.js"> </script>
<script src="js/d2d/core/shape/icon/Landing.js"> </script>
<script src="js/d2d/core/shape/icon/Plane.js"> </script>
<script src="js/d2d/core/shape/icon/Phone.js"> </script>
<script src="js/d2d/core/shape/icon/HangUp.js"> </script>
<script src="js/d2d/core/shape/icon/SlideShare.js"> </script>
<script src="js/d2d/core/shape/icon/Twitter.js"> </script>
<script src="js/d2d/core/shape/icon/TwitterBird.js"> </script>
<script src="js/d2d/core/shape/icon/Skype.js"> </script>
<script src="js/d2d/core/shape/icon/Windows.js"> </script>
<script src="js/d2d/core/shape/icon/Apple.js"> </script>
<script src="js/d2d/core/shape/icon/Linux.js"> </script>
<script src="js/d2d/core/shape/icon/NodeJs.js"> </script>
<script src="js/d2d/core/shape/icon/JQuery.js"> </script>
<script src="js/d2d/core/shape/icon/Sencha.js"> </script>
<script src="js/d2d/core/shape/icon/Vim.js"> </script>
<script src="js/d2d/core/shape/icon/InkScape.js"> </script>
<script src="js/d2d/core/shape/icon/Aumade.js"> </script>
<script src="js/d2d/core/shape/icon/Firefox.js"> </script>
<script src="js/d2d/core/shape/icon/Ie.js"> </script>
<script src="js/d2d/core/shape/icon/Ie9.js"> </script>
<script src="js/d2d/core/shape/icon/Opera.js"> </script>
<script src="js/d2d/core/shape/icon/Chrome.js"> </script>
<script src="js/d2d/core/shape/icon/Safari.js"> </script>
<script src="js/d2d/core/shape/icon/LinkedIn.js"> </script>
<script src="js/d2d/core/shape/icon/Flickr.js"> </script>
<script src="js/d2d/core/shape/icon/GitHub.js"> </script>
<script src="js/d2d/core/shape/icon/GitHubAlt.js"> </script>
<script src="js/d2d/core/shape/icon/Raphael.js"> </script>
<script src="js/d2d/core/shape/icon/GRaphael.js"> </script>
<script src="js/d2d/core/shape/icon/Svg.js"> </script>
<script src="js/d2d/core/shape/icon/Usb.js"> </script>
<script src="js/d2d/core/shape/icon/Ethernet.js"> </script>
<script src="js/d2d/core/shape/pert/Activity.js"> </script>
<script src="js/d2d/core/shape/pert/Start.js"> </script>
<script src="js/d2d/core/shape/state/Start.js"> </script>
<script src="js/d2d/core/shape/state/End.js"> </script>
<script src="js/d2d/core/shape/state/State.js"> </script>
<script src="js/d2d/core/shape/state/Connection.js"> </script>
<script src="js/d2d/core/ui/LabelEditor.js"> </script>
<script src="js/d2d/core/ui/LabelInplaceEditor.js"> </script>
<script src="js/d2d/core/decoration/connection/Decorator.js"> </script>
<script src="js/d2d/core/decoration/connection/ArrowDecorator.js"> </script>
<script src="js/d2d/core/decoration/connection/DiamondDecorator.js"> </script>
<script src="js/d2d/core/decoration/connection/CircleDecorator.js"> </script>
<script src="js/d2d/core/decoration/connection/BarDecorator.js"> </script>
<script src="js/d2d/core/decoration/connection/DlIdef1xTargetDecorator.js"> </script>
<script src="js/d2d/core/decoration/connection/dl01Decorator.js"> </script>
<script src="js/d2d/core/decoration/connection/dl02Decorator.js"> </script>
<script src="js/d2d/core/io/Reader.js"> </script>
<script src="js/d2d/core/io/Writer.js"> </script>
<script src="js/d2d/core/io/svg/Writer.js"> </script>
<script src="js/d2d/core/io/png/Writer.js"> </script>
<script src="js/d2d/core/io/json/Writer.js"> </script>
<script src="js/d2d/core/io/json/Reader.js"> </script>
<script src="js/d2d/core/storage/FileStorage.js"> </script>
<script src="js/d2d/core/storage/GoogleDrive.js"> </script>
<script src="js/d2d/core/storage/LocalFileStorage.js"> </script>
<script src="js/d2d/core/storage/TideSDKStorage.js"> </script>

<!-- draw2d directrives -->
<script src="js/d2d/directives/draw2d.js"></script>
<script src="js/d2d/directives/canvas.js"></script>
<script src="js/d2d/directives/palette.js"></script>

<!-- Data Llama Draw2D extensions -->
<script src="js/d2d/dl-extensions/DlSmdColumn.js"></script>
<script src="js/d2d/dl-extensions/DlSmdTableView.js"></script>
<script src="js/d2d/dl-extensions/DlCollapsibleLocator.js"></script>
<script src="js/d2d/dl-extensions/DlCollapsibleInputLocator.js"></script>
<script src="js/d2d/dl-extensions/DlCollapsibleOutputLocator.js"></script>
<script src="js/d2d/dl-extensions/DlPdmDiagramConnector.js"></script>
<script src="js/d2d/dl-extensions/DlSmdTableView2_0.js"></script>
<script src="js/d2d/dl-extensions/DlDiagramEntity.js"></script>
<script src="js/d2d/dl-extensions/DlDiagramShape.js"></script>
<script src="js/d2d/dl-extensions/DlDiagramText.js"></script>
<script src="js/d2d/dl-extensions/DlDiagramConnector.js"></script>
<script src="js/d2d/dl-extensions/DlDiagramArrow.js"></script>
<script src="js/d2d/dl-extensions/DlInsideBottomLeftLocator.js"></script>
<script src="js/d2d/dl-extensions/DlIcon.js"></script>
<script src="js/d2d/dl-extensions/DlCrowManyDecorator.js"></script>
<script src="js/d2d/dl-extensions/DlCrowConnectionAnchor.js"></script>
<script src="js/d2d/dl-extensions/DlCrowOneDecorator.js"></script>
<script src="js/d2d/dl-extensions/DlCrowFanConnectionAnchor.js"></script>

<!-- Data Llama configuration scripts -->
<script src="js/dataLlamaConfig.js"></script>
<script src="js/releaseConfig.js"></script>
<script src="js/loaders/dlStateConfig.js"></script>

<!-- Data Llama Service scripts -->
<script src="js/services/navigationChainService.js"></script>
<script src="js/services/rbacService.js"></script>
<script src="js/services/diagramService.js"></script>
<script src="js/services/httpService.js"></script>
<script src="js/services/moClassService.js"></script>
<script src="js/services/logoutService.js"></script>
<script src="js/services/detailsClickThroughService.js"></script>
<script src="js/services/utilityService.js"></script>
<script src="js/services/dataSensitivityService.js"></script>

<!-- Data Llama Directive scripts -->
<script src="js/directives/dlIboxTools.js"></script>

<!-- Data Llama Controller scripts -->
<script src="js/controllers/common/cmnLoginController.js"></script>
<script src="js/controllers/common/cmnNavigationController.js"></script>
<script src="js/controllers/common/cmnTopNavController.js"></script>
<script src="js/controllers/common/cmnChangePasswordController.js"></script>
<script src="js/controllers/common/cmnConfirmDeleteController.js"></script>
<script src="js/controllers/common/cmnConfirmCloseController.js"></script>
<script src="js/controllers/common/cmnOpenDiagramController.js"></script>
<script src="js/controllers/common/cmnCreateDiagramController.js"></script>
<script src="js/controllers/common/cmnSelectCustomFormController.js"></script>
<script src="js/controllers/common/cmnWarningController.js"></script>
<script src="js/controllers/common/cmnShortDescUpdateController.js"></script>
<script src="js/controllers/common/cmnSelectOntologyListController.js"></script>
<script src="js/controllers/common/dataSensitivityDetailController.js"></script>
<script src="js/controllers/common/createDataSensitivityTagController.js"></script>
<script src="js/controllers/common/dataSensitivityConfirmDeleteTagController.js"></script>
<script src="js/controllers/common/cmnAssignDataSensitivitySingle.js"></script>
<script src="js/controllers/common/cmnAssignDataSensitivityMultiController.js"></script>
<script src="js/controllers/common/dataSensitivityFullReportController.js"></script>
<script src="js/controllers/common/createDSautoAssignTaskController.js"></script>
<script src="js/controllers/common/dsAutoAssignTaskDetailController.js"></script>

<script src="js/controllers/home/homeOverviewController.js"></script>
<script src="js/controllers/home/simpleSearchController.js"></script>

<script src="js/controllers/data-models/pdmDiagramController.js"></script>
<script src="js/controllers/data-models/pdmDiagramListController.js"></script>
<script src="js/controllers/data-models/pdmNewRelationshipController.js"></script>
<script src="js/controllers/data-models/newShapeClickThroughController.js"></script>

<script src="js/controllers/apidefinition/apiDefinitionListController.js"></script>
<script src="js/controllers/apidefinition/createApiDefinitionController.js"></script>
<script src="js/controllers/apidefinition/apiRestDetailController.js"></script>
<script src="js/controllers/apidefinition/apiRestSummaryController.js"></script>
<script src="js/controllers/apidefinition/createRestElementController.js"></script>
<script src="js/controllers/apidefinition/apiDefinitionRevEngController.js"></script>

<script src="js/controllers/dsdf/dsdfDiagramController.js"></script>
<script src="js/controllers/dsdf/dsdfDiagramListController.js"></script>
<script src="js/controllers/dsdf/dsdfDatastoreController.js"></script>
<script src="js/controllers/dsdf/dsdfDatastoreDetailController.js"></script>
<script src="js/controllers/dsdf/dsdfDataflowController.js"></script>
<script src="js/controllers/dsdf/dsdfDataflowDetailController.js"></script>
<script src="js/controllers/dsdf/dsdfNewConnectorController.js"></script>
<script src="js/controllers/dsdf/dsdfDataflowInfoController.js"></script>
<script src="js/controllers/dsdf/dsdfReportController.js"></script>
<script src="js/controllers/dsdf/dsdfReportListController.js"></script>
<script src="js/controllers/dsdf/dsdfCreateReportController.js"></script>

<script src="js/controllers/formats/msgFormatsListController.js"></script>
<script src="js/controllers/formats/formatSummaryController.js"></script>
<script src="js/controllers/formats/fmtJsonDetailController.js"></script>
<script src="js/controllers/formats/createJsonNodeController.js"></script>
<script src="js/controllers/formats/createXmlNodeController.js"></script>
<script src="js/controllers/formats/createFormatController.js"></script>
<script src="js/controllers/formats/fmtGhmfDetailController.js"></script>
<script src="js/controllers/formats/fmtXmlDetailController.js"></script>
<script src="js/controllers/formats/createGhmfElementController.js"></script>
<script src="js/controllers/formats/loadJSONFormatController.js"></script>
<script src="js/controllers/formats/loadXMLFormatController.js"></script>
<script src="js/controllers/formats/fmtFlatFileDetailController.js"></script>
<script src="js/controllers/formats/createFlatFileElementController.js"></script>

<script src="js/controllers/ontology/ontologyOverviewController.js"></script>
<script src="js/controllers/ontology/listCdgListController.js"></script>
<script src="js/controllers/ontology/listCdgDetailController.js"></script>
<script src="js/controllers/ontology/listCdgSummaryController.js"></script>
<script src="js/controllers/ontology/createListCdgElementController.js"></script>
<script src="js/controllers/ontology/ontologyDiagramListController.js"></script>
<script src="js/controllers/ontology/ontologyShapeDetailsController.js"></script>
<script src="js/controllers/ontology/ontologyArrowDetailsController.js"></script>
<script src="js/controllers/ontology/ontologyDiagramController.js"></script>
<script src="js/controllers/ontology/ontologyNewArrowController.js"></script>
<script src="js/controllers/ontology/ontologyNewShapeController.js"></script>
<script src="js/controllers/ontology/ontologyFormatShapeController.js"></script>
<script src="js/controllers/taxonomies/taxonomyDetailController.js"></script>
<script src="js/controllers/taxonomies/taxonomiesListController.js"></script>
<script src="js/controllers/taxonomies/createTaxonomyController.js"></script>
<script src="js/controllers/taxonomies/createTaxonomyElementController.js"></script>
<script src="js/controllers/taxonomies/taxonomySummaryController.js"></script>

<script src="js/controllers/smd/smdDatabaseListController.js"></script>
<script src="js/controllers/smd/smdDatabaseDetailController.js"></script>
<script src="js/controllers/smd/smdSchemaDetailController.js"></script>
<script src="js/controllers/smd/smdTableViewDetailController.js"></script>
<script src="js/controllers/smd/smdColumnDetailController.js"></script>
<script src="js/controllers/smd/smdRelationshipDetailController.js"></script>
<script src="js/controllers/smd/smdConfigureDatabaseController.js"></script>
<script src="js/controllers/smd/smdSelectDatabaseController.js"></script>
<script src="js/controllers/smd/smdSetPasswordController.js"></script>
<script src="js/controllers/smd/createSmdFileStoreController.js"></script>
<script src="js/controllers/smd/createSmdFileStoreDirectoryController.js"></script>
<script src="js/controllers/smd/smdFileStoreDetailController.js"></script>
<script src="js/controllers/smd/smdFileStoresListController.js"></script>
<script src="js/controllers/smd/smdFileStoreSummaryController.js"></script>
<script src="js/controllers/smd/smdOfflineRevEng.js"></script>
<script src="js/controllers/smd/smdReconcileDbRevEngRunController.js"></script>
<script src="js/controllers/smd/smdPresentationListController.js"></script>
<script src="js/controllers/smd/createPresentationController.js"></script>
<script src="js/controllers/smd/smdPresentationDetailController.js"></script>
<script src="js/controllers/smd/smdPresentationSummaryController.js"></script>
<script src="js/controllers/smd/createPresentationDetailController.js"></script>
<script src="js/controllers/smd/createCredentialController.js"></script>
<script src="js/controllers/smd/credentialListController.js"></script>
<script src="js/controllers/smd/credentialDetailController.js"></script>
<script src="js/controllers/smd/credentialDetailUpdateController.js"></script>
<script src="js/controllers/smd/smdHierarchyRevEngController.js"></script>
<script src="js/controllers/smd/dataIntegrationListController.js"></script>
<script src="js/controllers/smd/dataIntegrationSummaryController.js"></script>
<script src="js/controllers/smd/dataIntegrationDetailController.js"></script>
<script src="js/controllers/smd/createDataIntegrationController.js"></script>
<script src="js/controllers/smd/createDataIntegrationElementController.js"></script>
<script src="js/controllers/smd/hierarchyRevEngSelectOfflineFileController.js"></script>
<script src="js/controllers/smd/compareTablesController.js"></script>
<script src="js/controllers/smd/smdDatabaseDsReportController.js"></script>

<script src="js/controllers/associations/mmObjectAssociationController.js"></script>
<script src="js/controllers/associations/newObjectAssociationController.js"></script>
<script src="js/controllers/associations/mdObjectAssociationDetailController.js"></script>
<script src="js/controllers/associations/taxonomyAssociationFullViewController.js"></script>
<script src="js/controllers/associations/listCdgAssociationFullViewController.js"></script>
<script src="js/controllers/associations/mdObjectAssociationFullViewController.js"></script>
<script src="js/controllers/associations/smdTableViewAssociationFullViewController.js"></script>
<script src="js/controllers/associations/lineageAssociationController.js"></script>
<script src="js/controllers/associations/smdHierarchyAssociationFullViewController.js"></script>

<script src="js/controllers/admin/usersGroupsListController.js"></script>
<script src="js/controllers/admin/userDetailController.js"></script>
<script src="js/controllers/admin/groupDetailController.js"></script>
<script src="js/controllers/admin/createUserController.js"></script>
<script src="js/controllers/admin/createGroupController.js"></script>
<script src="js/controllers/admin/resetUserPasswordController.js"></script>
<script src="js/controllers/admin/customFormListController.js"></script>
<script src="js/controllers/admin/customFormDesignerController.js"></script>
<script src="js/controllers/admin/createCustomFormController.js"></script>
<script src="js/controllers/admin/moClassHierarchyController.js"></script>
<script src="js/controllers/admin/associationTypeListController.js"></script>
<script src="js/controllers/admin/createAssociationTypeController.js"></script>

<!-- prevent the default context menu opening on document click -->
<!-- TODO: there has to be a more elegant way to do this! -->
<script type="text/javascript">
    /* This could be one way to dynamically load files.
    console.log("loading Data Llama AJS Controller scripts");
    $.getScript("js/controllers/admin/customFormListController.js", function( data, textStatus, jqxhr ) {
        console.log( "customFormListController.js was loaded successfully" );
    });
    */
    if (document.addEventListener) {
        document.addEventListener('contextmenu', function (e) {
            e.preventDefault();
        }, false);
    } else {
        document.attachEvent('oncontextmenu', function () {
            window.event.returnValue = false;
        });
    }
</script>

</body>
</html>
